/* Classes */
/* title of class*/
.wims_classname {
   /*color:#999999;
   text-shadow:0 1px 1px #FFFFFF;
   font-weight:bold;*/
   text-align:center;
   /*margin:1em 0;
   padding: 0 1em;*/
}

/* Logo de la classe */
.zone_etu #wimslogoleft img{
  max-height:40px;
}
.zone_etu #wimslogoleft{
   padding:0.5em;
}

/* Class Type*/
.wims_class_typename{font-size: 0.5em;}

/* titles of classes in text */
/*.wims_classdesc, .wims_institutiondesc{
   color:#999999;
   font-weight:bold;
}
.wims_classdesc {font-size:large;}*/

/* external authentification (adm/class/reguser, adm/class/classes) */
.wims_external_auth { padding:5px;}

/*** Class Settings ***/
.class_settings label{
   min-width: 10em;
   display: inline-block;
}
.class_settings li{
   margin:0;
   padding:2px 5px;
}
.class_settings li:nth-child(even) {background: #CCC}
.class_settings li:nth-child(odd) {background: #FFF}
.field_required{
   font-size: 1.2em;
   font-weight: bold;
   color:red;
}

/* END of Classes */
