<style type="text/css">

/*Le fond le plus général du document */

/* Le fond du document central. Remplacer white par black pour voir la différence*/

h3.wims_docu_titleb {
	padding-left: 0%;
	padding-right: 0%;
	color:#A52A2A;
	text-align:left;
}
h1.wims_docu_title {
 background-color: #FC9;
 font-size: 120%;
	border-bottom: solid;
	border-top: solid;
	border-width: thin;
	border-color: #808080;
	padding: 1px;
	text-align:center;
 }
 
table.doc_table {border-collapse:collapse;}

table.doc_table td {}
.left_toc, .right_toc { 
  background-color: white;
  /*white-space:nowrap;*/
  vertical-align:top;
  padding: 0.5em;
  padding-top: 3em;
  min-width:10em;
}
/*Pour mettre en relief l'endroit où on est dans les menus*/
.left_selection,.right_selection{
  background-color:#fffdee;
}
/*Pour les menus latéraux, la gestion des liens*/
.left_toc a,.right_toc a {}

/* menu en haut ou en bas*/
.wims_chemin {
       margin: 0.3em;
       padding:0.7em;
       border-width: thin;
       color: #A52A2A;
       font-size: 80% ;
       text-align: center;
}

/*Le cadre central dans lequel il y a le cours*/      
.wimsdoc { font-family: sans-serif;
       text-align:justify;
       margin-left: 0%;
       margin-right: 0%;
       padding-left: 1em;
       padding-right: 1em;
       padding-top: 1em;
       padding-bottom: 0em;
       border: solid #FC9;
       border-width: 1px;
       border-color: #808080;
       min-height: 300px;
       line-height: 1.1;}

 /*section*/ 
span.section { }
span.subsection { }
span.subsubsection {
          color: #A52A2A;
          text-transform: none;
          background-color: #FFFFCC;
}

/*Pour les theorem, définition, etc... ce qui n'est pas défini est pris aux remarques*/

h2.exercice {
 background-color: #CFC;
 font-size: 100%;
 padding-left: 0.3em;
 padding-right: 0.3em;
 }

div.exercice {
          background-color: white;
          padding: 1%;
          margin: 0 5%;
          border: solid;
          border:solid;
          border-width: thin;
          border-color:#FFCCFF;
          padding-right: 0.3em;
          border-color: #D9D2C0;
      }
      
span.exercice {
          color: #000066;
          font-family: sans-serif;
          font-weight: bold; 
          text-transform: none      
      }
h2.exemple {
 background-color: #FFC;
 font-size: 100%;
 padding-left: 0.3em;
 padding-right: 0.3em;
 }

div.exemple {
          background-color:  white;
          padding: 1%;
          margin: 0 5%;
          border:solid;
          border-width:thin;
          border-color:#FFCCFF;
          color: black;
      }

span.exemple {
          color: #000033;
          font-family: sans-serif;
          font-weight: bold      }
h2.defn {
 background-color: #CCF;
 font-size: 100%;
 padding-left: 0.3em;
 padding-right: 0.3em;
 }

div.defn {
          background-color: white;
          padding: 1%;
          margin: 0 5%;
          border:solid;
          border-width: thin;
          border-color:#FFCCFF;
      }
span.defn {
          font-weight: bold;
          font-family: sans-serif;
          color: #666633;
      }
h2.thm {
 background-color: #FFCCFF;
 font-size: 100%;
 padding-left: 0.3em;
 padding-right: 0.3em;
 }
 
div.thm {
          background-color: white;
          padding: 1%;
          margin: 0 5%;
          border:solid;
          border-width: thin;
          border-color:#FFCCFF;
          color: black;
      }

span.thm {
          color: #930;
          font-family:  sans-serif;
      }

h2.dem {
 background-color:#FFFFCC;
 font-size: 100%;
 padding-left: 1em;
 padding-right: 0.3em;
 }
 div.dem {
          background-color: white;
          padding: 0.3em;
          margin-left: 10%;
          border-left:solid;
          border-width: thin;
          border-color:#FFCCFF;
          color: black;
}

span.dem {
          color: #000066;
          font-family: sans-serif;
          font-weight: bold;    }

.fin { background-color: #FFFFCC;
   font-size: 90%;
   color: navy ; 
   padding-left: 0.3em;
   text-align: right ;
   margin-right: 10%;
} 

h2.quote {
 background-color: #00FF00;
 font-size: 100%;
 padding-left: 0.3em;
 padding-right: 0.3em;
 }
 
div.quote {
          padding: 1%;
          margin: 0 7% 0 1%;
          background-color:white;
}

h2.rem {
 background-color: #FF9900;
 font-size: 100%;
 padding-left: 0.3em;
 padding-right: 0.3em;
 }
 
div.rem {
          background-color: white;
          padding: 1%;
          margin: 0 5%;
          border:solid;
          border-width: thin;
          border-color:#FFCCFF;
          color: black;
      }

span.rem {
          color: #930;
          font-family:  sans-serif;
      }


/* les listes*/
ol li { list-style:decimal ;}
ol ol li {list-style: lower-alpha ;}
ol ol ol li {list-style:lower-roman;}
ol ol ol ol li {list-style: upper-alpha;}
ol.itemize li {list-style:disc ;}
ul.itemize li {list-style:disc ;}
ol.enumerate li {list-style:decimal ;}
ol.trivlist li {list-style:none ;}
ol.description li {list-style:none ;}
span.description_item {font-weight:bold;}

div.desc_item {
          background-color: white;
          padding: 1%;
          margin: 0 5%;
          border: solid;
          border:solid;
          border-width: thin;
          border-color:#FFCCFF;
          padding-right: 0.3em;
      }

div.ma_liste_item {

      }
ul.ma_liste li {list-style:none ;
          background-color: white;
          padding: 1%;
          margin: 0 5%;
          border: solid;
          border-width: thin;
          padding-right: 0.3em;}

ul.mabliste li {list-style-type:square ;}

 /*Pour les algorithmes*/
 
h2.algorithm {
 background-color: #FF3333;
 font-size: 100%;
 padding-left: 0.3em;
 padding-right: 0.3em;
 }
 
div.algorithm {
       background-color:#FFFFCC;
       padding: 2%;
       margin: 0 5%;
       border: solid;
       padding-right: 0.3em;
       border-color: #D9D2C0;}
h4.algo_titre {
 background-color: #CCFF00;
 padding: 1.0em;
 margin: 0 1.0em;
 font-size: 100%;
 color: black; 
 margin-left: 0%;
 text-align: center;
}

.c   { color: #c52d2d; 
      font-weight: bold;
      }
tt.tt{color:#A52A2A;font-weight: bold;}

.pre {background-color: #FFC;
  padding-left: 0.6em;
  padding-right: 0.6em;
  padding-top: 1em;
  padding-bottom: 1em;
  border-color: #D9D2C0;
  border: solid;
  border-width: thin;
  font-weight:bold;
}      
/* tableaux*/
table.tabular {background-color:white;
  left:auto;
  right:auto;}

.tabular_cell {
  background-color:white;
  padding: 0.6em;  
  border:solid; 
  border-width: 1px;
  text-align:center;
}

table.tab {background-color:white;
  left:auto;
  right:auto;
}
.tab_cell {background-color:white;
  padding: 0.6em;  
  border:solid; 
  border-width: 1px;
}

/* divers */
.emph {
          font-weight: bold;
          font-family: sans-serif;
          color: #ff6600;
      }
div.math {
          padding: 1%;
          margin: 0 5%;
          text-align: center;
}

.center {text-align: center;}

div.dessin{
  margin: 1.2em 0 0 2em;
  text-align: right;
}

table.mon_tableau {border-collapse:collapse;border: 1px solid #999;}
.row1 {text-align:center;width:100px; height:50px; background-color:green;color:white;}
.row2 {text-align:center;width:100px; height:50px;}
.row3 {text-align:center;width:100px; height:50px; background-color:skyblue;;font-weight:bold;}
.yellow {text-align:center; background-color:yellow;padding:1em; margin:1em;}
</style>
