/* General */
body {
    margin: 5px;
    padding: 0px 10px 10px 10px;
    font-family: arial, verdana, helvetica, sans-serif;
    font-size: 0.9em;
}

li {margin-bottom: 7px;}

a:hover {text-decoration:none;}
a:hover img{opacity:0.75;}

.wimsbody {
  padding : 0 20px;
  margin-left : 170px;
}

/** Affichage tres contrasté pour des fins de debogage : **/
.debug{
    background-color: black;
    padding:0.5em;
    color:darkorange;
    font-family: monospace;
}
.debug ul{
    font-size: 105%;
}

span.disabled, span.disabled:hover, span.disabled:active{
  opacity:0.6;
  cursor:default;
  background-image:none;
  top:0;
  box-shadow: none;
}

.wims_warning{
  color:brown; 
  font-weight:bold;
}
/* warning de type "bloc" */
div.wims_warning{
    padding:0.5em 20px
}

span.tooltip {color:#A52A2A;}

.inline li {
   list-style-type: none;
   display: inline-block;
   margin-left: 5px;
   /*Display inline for IE : */
   zoom:1;
   *display:inline;
}
