a:link{color:blue;text-decoration:none;}
a:hover{color:red;text-decoration:none;}
div.schaervoorde_div {
    vertical-align:top;
    margin-left:auto;
    margin-right:auto;
    width:100%;
    background-color:#fffff0;
}

/* _answer style must not overrule the _form style: so it needs to come first */ 
table.schaersvoorde_answer {
    width:100%;
    border-width:1px;
    border-spacing:1px;
    border-style:outset;
    border-collapse:separate;
    background-color:#fffff0;
}
table.schaersvoorde_answer th {
    border-width:1px;
    padding:5px;
    border-style:outset;
    background-color:#fffff0;
    vertical-align: top;
    /*white-space:nowrap;*/
}
table.schaersvoorde_answer td {
    border-width:1px;
    padding:5px;
    border-style:outset;
    background-color:#fffff0;
    vertical-align: top;
    /*white-space:nowrap;*/
}

hr.schaersvoorde_hr {
    height:2px;
    border-width:0;
    color:black;
    background-color:black;
    width:50%;
}
span.schaersvoorde_alarm {
    color:red;
    font-size:75%;
    font-style:italic;
}
span.schaersvoorde_link {
    color:blue;
    font-style:italic;
}

/* _form style must overrule the _answer style: so it needs to come last...to avoid inheriting the borders of _answer */ 

table.schaersvoorde_form {
    margin-left:auto; 
    margin-right:auto;
    border-collapse: collapse;
    border-width:0px;
    border-spacing:0px;
    border-style:none;
    background-color:#fffff0;
}

table.schaersvoorde_form th {
    border-collapse: collapse;
    border-width:0px;
    border-style:none;
    border-spacing:0px;
    padding:1px;
    background-color:#fffff0;
    vertical-align:top;
    white-space:nowrap;
}

table.schaersvoorde_form td {
    border-collapse: collapse;
    border-width:0px;
    border-style:none;
    border-spacing:0px;
    padding:1px;
    background-color:#fffff0;
    vertical-align:middle;
    white-space:nowrap;
}

.schaersvoorde_ok_button{
background-color:#afceff;
color:black;
font-weight:normal;
font-size:16px;
text-align:center;
}

.schaersvoorde_nok_button{
background-color:#ffce79;
color:black;
font-weight:normal;
font-size:16px;
text-align:center;
}

.schaersvoorde_extra_button{
background-color:#4cff93;
color:black;
font-weight:normal;
font-size:16px;
text-align:center;
}

.schaersvoorde_input{
color:black;
background-color:#e8ffff;
font-size:14pt;
border:1px solid #ff0000;
text-align:center;
}

.schaersvoorde_textarea{
color:black;
background-color:#e8ffff;
font-size:14pt;border:1px solid #ff0000;
}




