.menuitem a{
	background-repeat:no-repeat;
	height:24px;	/* here you put the height of your  icon set*/
	padding-left:24px;/* and here the width*/
}

#SE_config{
	background-image:url(SE_config.gif);
}
.SE_list{
	background-image:url(SE_list.gif);
}
.SE_mod{
	background-image:url(SE_mod.gif);
}
.SE_part{
	background-image:url(SE_part.gif);
}
.SE_secu{
	background-image:url(SE_secu.gif);
}
.U_oclass{
	background-image:url(U_oclass.gif);
}
.V_Chpref{
	background-image:url(V_Chpref.gif);
}
.about{
	background-image:url(about.gif);
}
.account{
	background-image:url(account.gif);
}
.account_property{
	background-image:url(account_property.gif);
}
.activity{
	background-image:url(activity.gif);
}
.add{
	background-image:url(add.gif);
}
.add_doc{
	background-image:url(add_doc.gif);
}
.add_ex{
	background-image:url(add_ex.gif);
}
.add_exam{
	background-image:url(add_exam.gif);
}
.add_exo{
	background-image:url(add_exo.gif);
}
.add_sheet{
	background-image:url(add_sheet.gif);
}
.add_vote{
	background-image:url(add_vote.gif);
}
.addclass{
	background-image:url(addclass.gif);
}
.adddate{
	background-image:url(adddate.gif);
}
.addfile{
	background-image:url(addfile.gif);
}
.addlevel{
	background-image:url(addlevel.gif);
}
.addprog{
	background-image:url(addprog.gif);
}
.addstudent{
	background-image:url(addstudent.gif);
}
.addteacher{
	background-image:url(addteacher.gif);
}
.addtodo{
	background-image:url(addtodo.gif);
}
.back{
	background-image:url(back.gif);
}
.back2{
	background-image:url(back2.gif);
}
.back3{
	background-image:url(back3.gif);
}
.backcreatexo{
	background-image:url(backcreatexo.gif);
}
.backgateway{
	background-image:url(backgateway.gif);
}
.backstruct{
	background-image:url(backstruct.gif);
}
.binfile{
	background-image:url(binfile.gif);
}
.browse{
	background-image:url(browse.gif);
}
.cdt{
	background-image:url(cdt.gif);
}
.checkdiff{
	background-image:url(checkdiff.gif);
}
.class_home{
	background-image:url(class_home.gif);
}
.class_stat{
	background-image:url(class_stat.gif);
}
.classcreate{
	background-image:url(classcreate.gif);
}
.classexo{
	background-image:url(classexo.gif);
}
.classlist{
	background-image:url(classlist.gif);
}
.config{
	background-image:url(config.gif);
}
.createnew{
	background-image:url(createnew.gif);
}
.createxo{
	background-image:url(createxo.gif);
}
.csv{
	background-image:url(csv.gif);
}
.delprep{
	background-image:url(delprep.gif);
}
.docanswer{
	background-image:url(docanswer.gif);
}
.docgestion{
	background-image:url(docgestion.gif);
}
.dochelp{
	background-image:url(dochelp.gif);
}
.docoef{
	background-image:url(docoef.gif);
}
.docslib{
	background-image:url(docslib.gif);
}
.doctec{
	background-image:url(doctec.gif);
}
.download{
	background-image:url(download.gif);
}
.downloadbinary{
	background-image:url(downloadbinary.gif);
}
.edfile{
	background-image:url(edfile.gif);
}
.ent{
	background-image:url(ent.gif);
}
.exit{
	background-image:url(exit.gif);
}
.exolog{
	background-image:url(exolog.gif);
}
.exomodify{
	background-image:url(exomodify.gif);
}
.faq{
	background-image:url(faq.gif);
}
.formula{
	background-image:url(formula.gif);
}
.forum{
	background-image:url(forum.gif);
}
.forums{
	background-image:url(forums.gif);
}
.getraw{
	background-image:url(getraw.gif);
}
.grades{
	background-image:url(grades.gif);
}
.help{
	background-image:url(help.gif);
}
.home{
	background-image:url(home.gif);
}
.icon.css{
	background-image:url(icon.gif);
}
.import{
	background-image:url(import.gif);
}
.intro{
	background-image:url(intro.gif);
}
.latex2wims{
	background-image:url(latex2wims.gif);
}
.list.txt{
	background-image:url(list.gif);
}
.logo_wims{
	background-image:url(logo_wims.gif);
}
.logo_wims_C2i{
	background-image:url(logo_wims_C2i.gif);
}
.logo_wims_fond{
	background-image:url(logo_wims_fond.gif);
}
.mirror{
	background-image:url(mirror.gif);
}
.mod_modif{
	background-image:url(mod_modif.gif);
}
.mod_new{
	background-image:url(mod_new.gif);
}
.mod_sys{
	background-image:url(mod_sys.gif);
}
.modcontent{
	background-image:url(modcontent.gif);
}
.model{
	background-image:url(model.gif);
}
.modify{
	background-image:url(modify.gif);
}
.modlist{
	background-image:url(modlist.gif);
}
.modsave{
	background-image:url(modsave.gif);
}
.modtool{
	background-image:url(modtool.gif);
}
.myscore{
	background-image:url(myscore.gif);
}
.n_E{
	background-image:url(n_E.gif);
}
.n_H{
	background-image:url(n_H.gif);
}
.n_U{
	background-image:url(n_U.gif);
}
.n_authparticipant{
	background-image:url(n_authparticipant.gif);
}
.n_authsupervisor{
	background-image:url(n_authsupervisor.gif);
}
.n_example{
	background-image:url(n_example.gif);
}
.n_participant{
	background-image:url(n_participant.gif);
}
.n_supervisor{
	background-image:url(n_supervisor.gif);
}
.otherfiles{
	background-image:url(otherfiles.gif);
}
.part_list{
	background-image:url(part_list.gif);
}
.passwd{
	background-image:url(passwd.gif);
}
.pref{
	background-image:url(pref.gif);
}
.print{
	background-image:url(print.gif);
}
.printable{
	background-image:url(printable.gif);
}
.properties{
	background-image:url(properties.gif);
}
.publish{
	background-image:url(publish.gif);
}
.putclass{
	background-image:url(putclass.gif);
}
.quicktool{
	background-image:url(quicktool.gif);
}
.rawdata{
	background-image:url(rawdata.gif);
}
.ref{
	background-image:url(ref.gif);
}
.renew{
	background-image:url(renew.gif);
}
.restore{
	background-image:url(restore.gif);
}
.resume{
	background-image:url(resume.gif);
}
.rss{
	background-image:url(rss.gif);
}
.rss_modif{
	background-image:url(rss_modif.gif);
}
.rss_new{
	background-image:url(rss_new.gif);
}
.save{
	background-image:url(save.gif);
}
.scores{
	background-image:url(scores.gif);
}
.scripttest{
	background-image:url(scripttest.gif);
}
.search{
	background-image:url(search.gif);
}
.sheet{
	background-image:url(sheet.gif);
}
.sheetmanagement{
	background-image:url(sheetmanagement.gif);
}
.stat{
	background-image:url(stat.gif);
}
.struct{
	background-image:url(struct.gif);
}
.test{
	background-image:url(test.gif);
}
.testexo{
	background-image:url(testexo.gif);
}
.titleintro{
	background-image:url(titleintro.gif);
}
.tools{
	background-image:url(tools.gif);
}
.visitor{
	background-image:url(visitor.gif);
}
.whelp{
	background-image:url(whelp.gif);
}
.work{
	background-image:url(work.gif);
}
.workdetail{
	background-image:url(workdetail.gif);
}
.wsup{
	background-image:url(wsup.gif);
}
