/* General */
body {
 margin:1px;
 padding:0px 1px 1px 1px;
 font-family:arial, verdana, helvetica, sans-serif,opendyslectic;
 font-size:normal;
}

.wims_button{
 color:blue;
 text-decoration:none;
}
.wims_button a:hover{
 color:red;
 text-decoration:none;
 cursor:pointer;
}

div.wimsmenu{
 vertical-align:middle;
 text-align:center;
 margin-left:auto;
 margin-right:auto;
 float:left;
 width:96%;
}
div.wimsmenu .topmenuitem {
 display:inline-block;padding:1px 10px;
 font-size:1.1em;

}
div.float_left{
 float:left;
}
div.wims_search_engine{
 margin-left:auto;
 margin-right:auto;
}
#searchform{
 vertical-align:middle;
 text-align:center;
 margin-left:auto;
 margin-right:auto;
}
.wimsmanager{
 padding:2px;
 font-size:0.8em;
 font-style:italic;
 text-align:center;
 margin-left:auto;
 margin-right:auto;
}
#wims_title{
 vertical-align:middle;
 text-align:center;
 margin-left:auto;
 margin-right:auto;
}
.wims_title{
 vertical-align:middle;
 text-align:center;
 margin-left:auto;
 margin-right:auto;
}
.wims_subtitle{
 vertical-align:middle;
 text-align:center;
 margin-left:auto;
 margin-right:auto;
}
div.tailitem{
 margin-left:auto;
 margin-right:auto;
 text-align:center;
 vertical-align:bottom;
}
div.wimsform{
 margin-left:auto;
 margin-right:auto;
 text-align:center;
 vertical-align:middle;
}
div.wimscenter{
 margin-left:auto;
 margin-right:auto;
 text-align:center;
 vertical-align:middle;
}
div.wims_subtitle{
 margin-left:auto;
 margin-right:auto;
 text-align:center;
 vertical-align:middle;
}
p.wimscenter{
 text-align:center;
}
.wimsbody {
 padding :0 1px;
}

/** Affichage tres contrasté pour des fins de debogage :**/
.debug{
 background-color:black;
 padding:0.5em;
 color:darkorange;
 font-family:monospace;
}
.debug ul{
 font-size:105%;
}

span.disabled, span.disabled:hover, span.disabled:active{
 opacity:0.6;
 cursor:default;
 background-image:none;
 top:0;
 box-shadow:none;
}

.wims_warning{
 color:brown; 
 font-weight:bold;
}
/* warning de type "bloc" */
div.wims_warning{
 padding:0.5em 2px
}
span.tooltip {
 color:#A52A2A;
}

.inline li {
 list-style-type:none;
 display:inline-block;
 margin-left:2px;
 /*Display inline for IE :*/
 zoom:1;
 *display:inline;
}
