/* TABLES STYLES */
table.wimstable {
 border-collapse:collapse;
 margin-left:auto;
 margin-right:auto;
 border:1px solid #999;
 font-size:.9em;
}
table.wimstable caption {
 font-weight:bold;
 font-size:1.1em;
 border:1px solid #999;
}
table.wimstable th {
 border-collapse:collapse;
 border:1px solid #999;
 color:white;
}
table.wimstable td {
 border:1px solid #999;
 padding:2px;
}
table.wimstable .odd td {
 border:1px solid #999;
 padding:2px;
}
table.wimstable .even td {
 background-color:#DFDFDF;
 border:1px solid #999;
 padding:2px;
}
table.wimstable th a {
 display:inline-block;
 padding:2px 2px;
 text-decoration:none;
}
table.wimscenter{
 margin-left:auto;
 margin-right:auto;
}
table.wimstable a:hover {
text-decoration:none;
color:red;
cursor:pointer;
}
