!!can be used to add items on the menu.
!!The variable is wims_local_menu_items
!! delete the extension template
!!example :
!!  !if $wims_class!= and $wims_user=supervisor and $module=adm/class/userlist
!!   !set wims_local_menu_items=!append line ,0,\
!!    Annuaire,1,module=adm/local/usersearch to $wims_local_menu_items
!!  !endif
