/*@mainColor          : #696366;
@buttonColor        : #F68529;
@selectedColor      : #9FDF21;

@linkColorNormal    : darken(saturate(@mainColor, 35%), 12%);
@linkColorActive    : darken(@linkColorNormal, 10%);

@lightColor         : #FFFFFF;
@darkColor          : #000000;
@lightGreyColor     : darken(@lightColor, 4%);
@mediumGreyColor    : darken(@lightColor, 27%);
@darkGreyColor      : darken(@lightColor, 60%);

@category1Color     : #56626B;
@category2Color     : lighten(saturate(spin(@category1Color,  -50), 10%), 10%);
@category3Color     : lighten(saturate(spin(@category1Color, -140), 40%), 20%);
@category4Color     : lighten(saturate(spin(@category1Color, -180), 45%), 20%);
@category5Color     : lighten(saturate(spin(@category1Color,  135), 25%), 15%);

@informationColor   : @category2Color;
@warningColor       : #BD4932;
@warningButtonColor : #CBB072;
@importantColor     : #6C101E;

// Units
@headerBgPosX       : 0;
@headerBgPosY       : 0;

// Connexion
@connexionTitleSize : 9em;
@connexionTitleTop  : -1em;

// Images
*/

/**** CSS pour terminaux mobiles *******/
@import "css_theme/mobiles.css";

/******                 AFFICHAGE NORMAL               ***************************************
**********************************************************************************************/
@media all {

  /* GENERAL */

  body {
    margin: 0;
    padding: 0;
    /*background-color: #567490;*/
    background-position: -300px -70px;
    background-repeat: no-repeat;
  }
  body iframe {
    border: none;
    width: 100%;
  }
  body li {
    margin-bottom: 0;
  }
  body div.spacer {
    clear: both;
  }
  
  .small{
      font-size: 60%;
  }
  
  .float_right{
      float:right;
  }
  .float_left{
      float:left;
  }
  /* ceci ne fonctionne que pour un bloc dont la largeur est fixée.*/
  /*.bloc_center{
      margin: 0 auto;
  }*/
  
  .clearall { clear: both; }

  /* DUCUMENTATION */
  
  body div#wimsdoc div#wimstopbox {
    background-color: #ffffff;
    background-image: none;
    text-align: left !important;
    -webkit-border-radius: 0 ;
    -moz-border-radius: 0 ;
    border-radius: 0 ;
    position: relative;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5)  ;
    -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5)  ;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5)  ;
    z-index: 100;
    padding: 0;
  }
  body div#wimsdoc div#wimstopbox div.wimsmenu {
    padding-top: 0;
    text-align: left;
  }
  body div#wimsdoc div#wimstopbox div.wimsmenu a {
    color: #000000;
  }
  body div#wimsdoc div#wimsbodybox div#wimsmenubox {
    background-color: #567490;
    color: #ffffff;
  }
  body div#wimsdoc div#wimsbodybox div#wimsmenubox a {
    color: #ffffff;
  }
  body div#wimsdoc div#wimsbodybox div#wimsmenubox div.wimsmenu {
    padding: 0;
  }
  /*body div#wimsdoc #wimsbodybox #wimspagebox {
    width: 100%;
  }*/
  body div#wimsdoc #wimsbodybox #wimspagebox .wimsdocleftmenu {
    position: relative;
    top: 0;
    margin-top: 10px;
    float: left;
    width: 5%;
  }
  
  body div#wimsdoc #wimsbodybox #wimspagebox .wimsdocleftmenu div.menuitem {
    text-align: center;
  }
  
  
  body div#wimsdoc #wimsbodybox #wimspagebox .wimsdocrightmenu {
  	display: none;
  }
  
  /*body div#wimsdoc #wimsbodybox #wimspagebox div.wimsbody {
    width: 85%;
  }*/
  
  /* AIDE */
  
  body div#wimsmhelp div#wimstopbox {
    padding-top: 0;
  }
  body div#wimsmhelp div#wimstopbox ul.wimsmenu {
    background-color: #ffffff;
  }
  body div#wimsmhelp div#wimstopbox ul.wimsmenu li {
    list-style-type: none;
  }
  body div#wimsmhelp div#wimstopbox ul.wimsmenu li a {
    color: #000000;
  }
  body div#wimsmhelp div.wimsmenu table {
    background: none;
    border: 0;
  }
  body div#wimsmhelp div.wimsmenu table th {
    border: 0;
  }
  body div#wimsmhelp div.wimsmenu table th a {
    color: #ffffff;
  }
  body div#wimsmhelp div#wimsbodybox div#wimspagebox {
    width: 90%;
    margin: auto;
    padding-top: 10px;
    float: none;
  }
  body div#wimsmhelp div#wimsbodybox div#wimspagebox div.wimsbody {
    padding: 0;
    margin: auto;
    width: 90%;
    float: none;
    -webkit-border-radius: 5px ;
    -moz-border-radius: 5px ;
    border-radius: 5px ;
  }
  body div#wimsmhelp div#wimsbodybox div#wimspagebox div.wimsbody h1.wims_title {
    text-align: left;
  }
  body div#wimsmhelp div#wimsbodybox div#wimspagebox div.wimsbody div.wims_content {
    padding-left: 10px;
  }
  body div#wimsmhelp div#wimsbodybox div#wimspagebox table.wimstable {
    margin-top: 0;
  }
  
  div#wimsmhelp .wimsmenu {
    background-color: #56626b;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.25)), color-stop(49%, rgba(255, 255, 255, 0.1)), color-stop(50%, rgba(0, 0, 0, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.25)));
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.1) 49%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.25) 100%);
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.1) 49%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.25) 100%);
    background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.1) 49%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.25) 100%);
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.1) 49%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.25) 100%);
    background-image: linear-gradient(top, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.1) 49%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.25) 100%);
  }
  body div#wimsmhelp div#wimsbodybox div#wimspagebox div#wimsmenubox ul.wimsmenu li {
    list-style-type: none;
  }
  body div#wimsmhelp div#wimsbodybox div#wimspagebox div#wimsmenubox ul.wimsmenu li a {
    color: #ffffff;
  }
  body div#wimsmhelp div#wimsmenubox {
    margin: 0;
  }

  body div#wimsmhelp div#wimsmenubox ul.wimsmenu li {
    list-style-type: none;
    display: inline-block;
  }
  body div#wimsmhelp div#wimsmenubox ul.wimsmenu li a {
    color: #ffffff;
  }
  
  /* PAGE D'ACCUEIL */
  
  /*body div#wimsfrontpage {
    min-width: 0;
  }*/
  /*body div#wimsfrontpage #wimspagebox {
    float: none;
    margin-right: 0;
    width: 99%;
    position: relative;
    padding-top: 2px;
  }*/
  body div#wimsfrontpage #wimspagebox {
     max-width: 1042px;
  }
  body div#wimsfrontpage #wimspagebox .wimsbody {
    /*float: none;
    margin: 0;
    padding: 0;
    width: 100%;*/
    background: none;
  }
  
  
  /* PAGE NORMALE */
  
  body ul.wimsmenu {
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
  }
  body ul.wimsmenu li {
    padding: 0;
  }
  body ul.wimsmenu li.menuitem {
    min-height: inherit;
  }
  body ul.wimsmenu li.menuitem a {
    color: #ffffff;
  }
  body ul.wimsmenu li.topmenuitem {
    min-height: inherit;
  }
  div#wimsmenubox.footer {
    /*background-color: #567490;*/
    /*box-shadow: none;*/
    background-image: none;
    -webkit-border-radius: 0 ;
    -moz-border-radius: 0 ;
    border-radius: 0 ;
    margin: 0;
  }
  body div#wimsmenubox.footer .menuitem {
    display: inline;
  }

  body .wims_home_form {
    padding: 0;
  }
  body input[type="submit"],
  body .wims_button
  body .wims_button_help {
    /*background-color: #666666;*/
    /*color: #ffffff;*/
  	text-shadow:0 -1px 1px rgba(0, 0, 0, 0.5);
  }
  
  
  /* HEADER */
  
  #wimslogo {
    float: left;
  }
  #wimslogo a img {
    height: 50px;
    top: auto;
    right: auto;
  }
  #wimslogoleft {
    float: none;
    padding: 0;
  }
  #wimslogoleft img {
    max-height: 70px;
  }
  #wimslogoright {
    position: relative;
    float: left;
  }
  #wimstopbox {
    color: #ffffff;
    padding-top: 10px;
    position: relative;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(transparent));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), transparent) ;
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5), transparent) ;
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.5), transparent) ;
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), transparent) ;
    background-image: linear-gradient(top, rgba(0, 0, 0, 0.5), transparent) ;
    -webkit-border-radius: 0 ;
    -moz-border-radius: 0 ;
    border-radius: 0 ;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
  }
  #wimstopbox div#wims_title {
    float: left;
    margin-left: 20px;
  }
  #wimstopbox div#wims_title h1.wims_title {
    text-align: left;
    margin: 0;
    padding: 0;
    padding-right: 45px;
    font-size: 3.5em;
    /* logo WIMS tournoyant : */
    background-image: url("../../../gifs/logo.gif");
    background-position: right center;
    background-size: 40px;
    background-repeat: no-repeat;
    font-family: arial, verdana, helvetica, sans-serif;
    display: inline-block;
  }
  #wimstopbox div#wims_title h1.wims_title, #wimstopbox div#wims_title a{
    color: #f5f5f5;
    text-decoration: none;  
  }
  #wimstopbox div#wims_title a:hover{
    text-decoration: underline;   
  }
  
  #wimstopbox div#wims_title h2.wims_subtitle {
    text-align: left;
    font-size: 14px;
  }
  #wimstopbox .institution_logo{
      clear:right;
  }
  #wimstopbox .institution_logo img{
      max-height: 3em;
  }
  
  
  /*** Language Selector ***/
  ul.wimsmenu.langues {
    position: relative;
    float: right;
    z-index: 10;
    margin-bottom: 0.5em;
    margin-right:0.5em;
  }
  ul.wimsmenu.langues li {
    padding: 0 !important;
    display: inline-block;
    text-align: center;
    margin-right: 5px;
  }
  ul.wimsmenu.langues li a {
    padding: 0;
    /*min-height: inherit;*/
    line-height: 100%;
    /*box-shadow: inset 0 0 5px 5px #888;
    -webkit-box-shadow: inset -5px -5px 5px 5px #888;*/

  }
  ul.wimsmenu.langues li span.legende {
      display:block;
      visibility: hidden;
  }

  ul.wimsmenu.langues li:hover span.legende {
      visibility: visible;
  }

  ul.wimsmenu.langues .vignette {
    box-shadow:inset 0px 0px 2px rgba(0,0,0,.8);
    -webkit-box-shadow:inset 0px 0px 3px rgba(0,0,0,.8);
    -moz-box-shadow:inset 0px 0px 3px rgba(0,0,0,.8);
    display: inline-block;
  }
  
  ul.wimsmenu.langues img{
    box-shadow: 1px 1px 1px rgba(0,0,0,0.8);
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.8);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.8);
    position:relative;
    z-index: -1;
    max-height:16px;
    /*box-shadow: 1px 1px 1px rgba(0,0,0,0.5);*/
  }
  
  /***************************/
  
  #wimstopbox ul.menuglobal {
    background-color: #ffffff;
    color: rgba(0, 0, 0, 0.5);
    text-align: left !important;
    -webkit-border-radius: 0 ;
    -moz-border-radius: 0 ;
    border-radius: 0 ;
    position: relative;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5)  ;
    -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5)  ;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5)  ;
    z-index: 100;
    padding: 2px 1em;
  }
  #wimstopbox ul.menuglobal li {
    background-repeat: no-repeat;
    background-position: 0 50%;
    display: inline-block;
    margin-right: 1.5em;
    /*margin-bottom: 5px;*/
  }
  #wimstopbox ul.menuglobal li#header_export div#export_media {
    text-align: left;
    float: none;
  }
  #wimstopbox ul.menuglobal li a {
    color: #000000;
  }
  
  
  /* CORPS */
  
  #wimsbodybox {
    position: relative;
    /*background-color: #f5f5f5;*/
  }
  #wimsbodybox #wimspagebox.zone_prof div.wimsbody {
    position: relative;
    float: right;
    width: 86%;
    /*clear: both;*/
    min-height: 25em;
    padding-bottom:1em;
    margin:0;
    /*background-color: #f5f5f5;*/
  }
  div#menuprof {
    margin-top: 15px;
    float: left;
    /*width: 15%;
    min-width: 9em;*/
    width:9em;
  }
  div#menuprof ul {
    background-color: #ffffff;
    -webkit-border-top-right-radius: 5px ;
    -moz-border-radius-topright: 5px ;
    border-top-right-radius: 5px ;
    -webkit-border-bottom-right-radius: 5px ;
    -moz-border-radius-bottomright: 5px ;
    border-bottom-right-radius: 5px ;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding-left: 10px;
  }
  #wimsbodybox div#menuprof ul li {
    margin-bottom: 0;
    padding-left: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    list-style-type: none;
    background-repeat: no-repeat;
    background-position: left center;
  }
  #wimsbodybox div#menuprof ul li:last-child {
    border-bottom: none;
  }
  #wimsbodybox div#menuprof ul li.itemsep {
    font-weight: bold;
    padding: 10px 0;
  }
  #wimsbodybox div#menuprof ul li.menuitem a {
    color: #000000;
    color: rgba(0, 0, 0, 0.75);
  }
  #wimsbodybox #wimspagebox div.wimsbody {
    /*float: left;
    width: 80%;*/
    background: #ffffff;
    /*margin: 15px 3%;*/
    /*margin: 15px;*/
    padding: 0 10px;
    padding-bottom: 10px;
    -webkit-border-radius: 5px ;
    -moz-border-radius: 5px ;
    border-radius: 5px ;
  }
  #wimsbodybox #wimspagebox div.wimsbody form {
    line-height: 2em;
  }
  #wimsbodybox #wimspagebox div.wimsbody input[value="Au travail"] {
    margin-left: 60px;
  }
  #wimsbodybox #wimspagebox div.wimsbody #wimslogoleft {
    float: right;
  }
  #wimsbodybox #wimspagebox div.wimsbody #wimslogoleft img {
    max-height: 40px;
  }
  #wimsbodybox #wimspagebox div.wimsbody a.wims_button_help {
    /*background-color: #ffffff;
    color: #000000;
    text-shadow: 0 1px 1px #ffffff;*/
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.1)));
    background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.1)) ;
    background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.1)) ;
    background-image: -ms-linear-gradient(top, transparent, rgba(0, 0, 0, 0.1)) ;
    background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.1)) ;
    background-image: linear-gradient(top, transparent, rgba(0, 0, 0, 0.1)) ;
    border-color: transparent rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.5) !important;
    font-weight: bold;
    padding: 0 0.5em !important;
    text-align: center;
    padding: 0;
    margin: 0;
    margin: 2px 2px 0px 0px;
    -webkit-border-radius: 3px ;
    -moz-border-radius: 3px ;
    border-radius: 3px ;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset, 0 1px 2px rgba(0, 0, 0, 0.25)  !important;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset, 0 1px 2px rgba(0, 0, 0, 0.25)  !important;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset, 0 1px 2px rgba(0, 0, 0, 0.25)  !important;
  }
  #wimsbodybox #wimspagebox div.wimsbody a.wims_button_help:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(transparent));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), transparent) ;
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1), transparent) ;
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1), transparent) ;
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.1), transparent) ;
    background-image: linear-gradient(top, rgba(0, 0, 0, 0.1), transparent) ;
    border-color: rgba(0, 0, 0, 0.25) !important;
  }
  #wimsbodybox h1.oeftitle,
  #wimsbodybox h1.wims_docu_title {
    background-color: #56626b;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.25)), color-stop(49%, rgba(255, 255, 255, 0.1)), color-stop(50%, rgba(0, 0, 0, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.25)));
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.1) 49%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.25) 100%);
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.1) 49%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.25) 100%);
    background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.1) 49%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.25) 100%);
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.1) 49%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.25) 100%);
    background-image: linear-gradient(top, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.1) 49%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.25) 100%);
    -webkit-border-radius: 5px 5px 0 0 ;
    -moz-border-radius: 5px 5px 0 0 ;
    border-radius: 5px 5px 0 0 ;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom-width: 0;
    margin: 0 -10px;
    margin-bottom: 10px;
    color: #ffffff;
    padding: 12px 0;
    text-align: left;
    padding-left: 5px;
    font-size: 1.2em;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
  }
  #wimsbodybox #wimspagebox div.wimsbody h1.oeftitle a,
  #wimsbodybox #wimspagebox div.wimsbody h1.wims_docu_title a {
    color: #ffffff;
  }
  #wimsbodybox div.titre_recherche,
  #wimsbodybox div#wims_class {
    background-color: #56626b;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.25)), color-stop(49%, rgba(255, 255, 255, 0.1)), color-stop(50%, rgba(0, 0, 0, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.25)));
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.1) 49%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.25) 100%);
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.1) 49%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.25) 100%);
    background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.1) 49%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.25) 100%);
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.1) 49%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.25) 100%);
    background-image: linear-gradient(top, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.1) 49%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.25) 100%);
    -webkit-border-radius: 5px 5px 0 0 ;
    -moz-border-radius: 5px 5px 0 0 ;
    border-radius: 5px 5px 0 0 ;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom-width: 0;
    margin: 0 -10px;
    margin-bottom: 10px;
  }
  #wimspagebox .wims_title,
  #titre_aide, #name_list_instruction, #enev_menu li,
  table.wimstable caption {
    background-color: #56626b;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.25)), color-stop(49%, rgba(255, 255, 255, 0.1)), color-stop(50%, rgba(0, 0, 0, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.25)));
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.1) 49%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.25) 100%);
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.1) 49%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.25) 100%);
    background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.1) 49%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.25) 100%);
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.1) 49%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.25) 100%);
    background-image: linear-gradient(top, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.1) 49%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.25) 100%);

    color:white;
  }
  #titre_aide a, #name_list_instruction a, table.wimstable caption a:link{
    color:white;
  }
  #wimsbodybox #wimspagebox div.wimsbody div.titre_recherche h1,div.titre_recherche h2, div.titre_recherche h3,
  #wimsbodybox #wimspagebox div.wimsbody div#wims_class h1 {
    color: #ffffff;
    padding-left: 5px;
    font-size: 1.2em;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
    margin: 0;
    text-align: left;
  }
  #wimsbodybox #wimspagebox div.wimsbody div.titre_recherche h1 span,
  #wimsbodybox #wimspagebox div.wimsbody div#wims_class h1 span {
    margin: 0;
  }
  #wimsbodybox #wimspagebox div.wimsbody div.titre_recherche h1 span.wimssubintro,
  #wimsbodybox #wimspagebox div.wimsbody div#wims_class h1 span.wimssubintro {
    float: left;
    margin-left: 20px;
  }
  #wimsbodybox #wimspagebox div.wimsbody div.titre_recherche h1 span.titre,
  #wimsbodybox #wimspagebox div.wimsbody div#wims_class h1 span.titre {
    float: left;
  }
  #wimsbodybox #wimspagebox div.wimsbody div.wims_classes_direct {
    background-color: transparent;
    font-weight: normal;
    font-size: 1.2em;
  }
  #wimsbodybox #wimspagebox div.wimsbody div.wims_classes_direct span.wims_classes_direct_portal {
    background-color: transparent;
    border: none;
  }
  #wimsbodybox #wimspagebox div.wimsbody div#wims_class .wims_classname {
    float: left;
    text-align: left;
    text-shadow: none;
    color: #ffffff;
  }
  #wimsbodybox #wimspagebox div.wimsbody div#wims_class .wims_classname .wims_classdesc,
  #wimsbodybox #wimspagebox div.wimsbody div#wims_class .wims_classname .wims_institutiondesc {
    color: #ffffff;
    margin-top: 10px !important;
    margin-right: 10px;
  }
  #wimsbodybox #wimspagebox div.wimsbody div#wims_class span.wims_class_typename {
    font-size: 1em;
    padding-left: 5px;
  }
  #wimsbodybox #wimspagebox div.wimsbody div#wims_class div.wims_tag {
    height: 0;
  }
  #wimsbodybox #wimspagebox div.wimsbody div#wims_class div#wims_modu_title2 h1.wims_title,
  #wimsbodybox #wimspagebox div.wimsbody div#wims_class div#wims_modu_title2 h2.wims_subtitle,
  #wimsbodybox #wimspagebox div.wimsbody div#wims_class div#wims_modu_title2 div.wims_tag {
    float: left;
    font-weight: bold;
    color: #ffffff;
  }
  #wimsbodybox #wimspagebox div.wimsbody div#wims_class div#wims_modu_title2 h2.wims_subtitle {
    margin-top: 12px;
  }
  #wimsbodybox #wimspagebox div.wimsbody div#wims_class div#wims_modu_title2 div.wims_title_close {
    clear: both;
    height: 0;
  }
  #wimsbodybox #wimspagebox div.wimsbody #wims_modu_title3 {
    background-color: #ffffff;
  }
  #wimsbodybox #wimspagebox div.wimsbody h2.wims_subtitle {
    text-align: left;
  }
  #wimsbodybox #wimspagebox div.wimsbody ul.wims_home_result_list {
    background-color: #ffffff;
    -webkit-border-radius: 5px ;
    -moz-border-radius: 5px ;
    border-radius: 5px ;
    padding: 10px 20px;
    text-align: justify;
  }
  #wimsbodybox #wimspagebox div.wimsbody ul.wims_home_result_list li {
    margin: 0;
    padding: 1em 0.5em;
  }
  .wims_home_result_list li:nth-child(even) {
    background-color: white;
  }
  .wims_home_result_list li:nth-child(odd) {
    background-color: #e5e5e5;
  }
  #wimsbodybox #wimspagebox div.wimsbody table.wimstable {
    margin-top: 35px;
    width: 100%;
  }
  #wimsbodybox #wimspagebox div.wimsbody table.wimstable th {
    text-align: left;
    padding: 6px;
  }
  #wimsbodybox #wimspagebox div.wimsbody table.wimstable caption {
    font-size: 16px;
    padding: 10px;
    text-align: left;
    -webkit-border-radius: 5px 5px 0 0 ;
    -moz-border-radius: 5px 5px 0 0 ;
    border-radius: 5px 5px 0 0 ;
  }
  #wimsbodybox #wimspagebox div.wimsbody table.wimstable td {
    text-align: left !important;
  }
  #wimsbodybox #wimspagebox div.wimsbody table.wimstable td.wims_fname {
    color: #000000;
  }
  #wimsbodybox #wimspagebox div.wimsbody table.wimstable .even td {
    background-color: #f5f5f5;
  }
  /*#wimsbodybox #wimspagebox div.wimsbody table.wimstable .wims_button {
    background: #808080;
  }*/
  #wimsbodybox #wimspagebox div.wimsbody div.contenu form {
    padding-bottom: 20px;
  }
  #wimsbodybox #wimspagebox div.wimsbody div.contenu span.disabled {
    padding: 1px !important;
  }
  #wimsbodybox #wimspagebox {
    margin: auto;
    padding:1em 2em;
    /*max-width: 1020px;*/
    /*margin-top: 0.5em;*/
  }
  #wimsbodybox #wimspagebox div.wimsbody select {
    padding: 2px;
  }
  #wimsfrontpage #wimspagebox div.wimsbody div.wims_search_engine,
  #wimsfrontpage #wimspagebox div.wimsbody div.wims_search_classe {
    float: left;
    position: relative;
    width: 500px;
    margin: 5px;
  }
  #wimsbodybox #wimspagebox div.wimsbody div.wims_search_engine div.titre_recherche,
  #wimsbodybox #wimspagebox div.wimsbody div.wims_search_classe div.titre_recherche {
    background-color: #56626b;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.25)), color-stop(49%, rgba(255, 255, 255, 0.1)), color-stop(50%, rgba(0, 0, 0, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.25)));
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.1) 49%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.25) 100%);
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.1) 49%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.25) 100%);
    background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.1) 49%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.25) 100%);
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.1) 49%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.25) 100%);
    background-image: linear-gradient(top, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.1) 49%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.25) 100%);
    -webkit-border-radius: 5px 5px 0 0 ;
    -moz-border-radius: 5px 5px 0 0 ;
    border-radius: 5px 5px 0 0 ;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom-width: 0;
    margin: 0;
  }
  #wimsbodybox #wimspagebox div.wimsbody div.wims_search_engine div.titre_recherche h2,
  #wimsbodybox #wimspagebox div.wimsbody div.wims_search_classe div.titre_recherche h2 {
    color: #ffffff;
    padding-left: 5px;
    font-size: 1em;
    line-height: 35px;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
    float: left;
    margin: 0;
  }
  #wimsbodybox #wimspagebox div.wimsbody div.wims_search_engine div.titre_recherche h2 a,
  #wimsbodybox #wimspagebox div.wimsbody div.wims_search_classe div.titre_recherche h2 a {
    color: #ffffff;
    text-align: center !important;
  }
  #wimsbodybox #wimspagebox div.wimsbody div.wims_search_engine div.titre_recherche div.aide_recherche,
  #wimsbodybox #wimspagebox div.wimsbody div.wims_search_classe div.titre_recherche div.aide_recherche {
    width: inherit;
    text-align: center;
    padding: 0;
    margin: 0;
    float: right;
    margin: 2px 2px 0px 0px;
    -webkit-border-radius: 3px ;
    -moz-border-radius: 3px ;
    border-radius: 3px ;
  }
  #wimsbodybox #wimspagebox div.wimsbody div.wims_search_engine div.titre_recherche div.aide_recherche a.wims_button_help,
  #wimsbodybox #wimspagebox div.wimsbody div.wims_search_classe div.titre_recherche div.aide_recherche a.wims_button_help {
    /*background-color: #ffffff;
    color: #000000;
    text-shadow: 0 1px 1px #ffffff;*/
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.1)));
    background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.1)) ;
    background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.1)) ;
    background-image: -ms-linear-gradient(top, transparent, rgba(0, 0, 0, 0.1)) ;
    background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.1)) ;
    background-image: linear-gradient(top, transparent, rgba(0, 0, 0, 0.1)) ;
    border-color: transparent rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.5) !important;
    font-weight: bold;
    padding: 0 0.5em !important;
    width: inherit;
    text-align: center;
    padding: 0;
    margin: 0;
    float: right;
    margin: 2px 2px 0px 0px;
    -webkit-border-radius: 3px ;
    -moz-border-radius: 3px ;
    border-radius: 3px ;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset, 0 1px 2px rgba(0, 0, 0, 0.25)  !important;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset, 0 1px 2px rgba(0, 0, 0, 0.25)  !important;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset, 0 1px 2px rgba(0, 0, 0, 0.25)  !important;
  }
  #wimsbodybox #wimspagebox div.wimsbody div.wims_search_engine div.titre_recherche div.aide_recherche a.wims_button_help:hover,
  #wimsbodybox #wimspagebox div.wimsbody div.wims_search_classe div.titre_recherche div.aide_recherche a.wims_button_help:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(transparent));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), transparent) ;
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1), transparent) ;
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1), transparent) ;
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.1), transparent) ;
    background-image: linear-gradient(top, rgba(0, 0, 0, 0.1), transparent) ;
    border-color: rgba(0, 0, 0, 0.25) !important;
  }
  #wimsbodybox #wimspagebox div.wimsbody div.wims_search_engine ul.recherche,
  #wimsbodybox #wimspagebox div.wimsbody div.wims_search_classe ul.recherche {
    background-color: #ffffff;
    margin: 0;
    padding: 1.5em 5px;
    clear: both;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 0 0 5px 5px ;
    -moz-border-radius: 0 0 5px 5px ;
    border-radius: 0 0 5px 5px ;
  }
  #wimsbodybox #wimspagebox div.wimsbody div.wims_search_engine ul.recherche li,
  #wimsbodybox #wimspagebox div.wimsbody div.wims_search_classe ul.recherche li {
    list-style-type: none;
    display: inline-block;
    margin-left: 5px;
  }
  #wimsbodybox #wimspagebox div.wimsbody div.wims_search_engine ul.recherche input[type="text"],
  #wimsbodybox #wimspagebox div.wimsbody div.wims_search_classe ul.recherche input[type="text"],
  #wimsbodybox #wimspagebox div.wimsbody div.wims_search_engine ul.recherche select,
  #wimsbodybox #wimspagebox div.wimsbody div.wims_search_classe ul.recherche select {
    padding: 2px;
  }
  
  /** wimsmenubox */
  /*#wimsbodybox div#wimsmenubox {
    margin-left: 0;
    margin-right: 0;
    -webkit-border-radius: 0 ;
    -moz-border-radius: 0 ;
    border-radius: 0 ;
    clear: both;
    background-image: none;
    box-shadow: 0 0 0 transparent;
  }*/
  div#wimsmenubox.footer {
    clear: both;
    text-shadow: 0 0 0 transparent;
    text-align: center;
    margin: 0;
    /*box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.5);*/
    -webkit-box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.5) ;
    -moz-box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.5) ;
    box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.5) ;
  }
  #wimsbodybox div#wimsmenubox.footer ul li {
    display: inline-block;
  }
  
 /* PIED DE PAGE */ 
 
  div#wimstailbox {
    margin-top: 0;
    clear: both;
    padding-top: 20px;
    color:white;
  }
  div#wimstailbox .tailitem{
      opacity:0.70;
  }
  div#wimstailbox a {
    color: white;
  }

}
/*fin du media all*/


/***          CSS Communes                  **/

/************POP UP AIDE WIMS*****************/
body div#wimsmhelp div#wimsbodybox div#wimspagebox {
  width: 100%;
}
body div#wimsmhelp div#wimsmenubox.footer {
  margin: 0;
  color: #000;
}
body div#wimsmhelp div#wimsmenubox.footer ul.wimsmenu {
  background-color: #ffffff;
  float: none;
  width: 100%;
  margin: 0;
  color: #000;
  background-image: none;
  -webkit-box-shadow: 0 2px 2px 3px rgba(0, 0, 0, 0.5) ;
  -moz-box-shadow: 0 2px 2px 3px rgba(0, 0, 0, 0.5) ;
  box-shadow: 0 2px 2px 3px rgba(0, 0, 0, 0.5) ;
  padding-left: 10px;
}
body div#wimsmhelp div#wimsmenubox.footer ul.wimsmenu li {
  list-style-type: none;
  display: block;
  color: #000;
  margin: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
body div#wimsmhelp div#wimsmenubox.footer ul.wimsmenu li a {
  color: #000;
}
