/* ****************** */
/* FORUM STYLES */
div.wims_forum_msg {
   background-color: transparent;
   padding-left: 3%;
   padding-right: 3%;
   margin-left: 3%;
   margin-right: 3%;
   border: 1px solid #e8e8e8;
   min-height:50px;
}
div.wims_forum_intro {
   background-color:#eee;
   padding-left: 3%;
   padding-right: 3%;
   margin-left: 3%;
   margin-right: 3%;
}
ul.wims_forum_list li {
   list-style:none;
   padding:3pt 0 0 5pt;
   margin-top: 10pt;
   margin-right: 10%;
   margin-bottom: 5pt;
   border-left: 1px solid gray;
   border-bottom: 1px solid gray;
}
ul.wims_forum_list li li {
   list-style:none;
   padding:3pt 0 0 5pt;
   margin-top: 10pt;
   margin-right: 0;
   margin-bottom: 5pt;
   border-left: 1px solid gray;
   border-bottom: 1px solid gray;
}

ul.wims_forum_list li.wims_forum_item_toread {color: red;}
ul.wims_forum_list li.wims_forum_item_toread: before { content:"\26A0"}
.wims_forum_blockquote {
   font-style: italic;
   padding-top: 0;
   padding-bottom: 0;
   padding: 0 1em;
   margin-left:0;
   border-left:1px solid navy;
   background-color:#E3F2F0;
}
