/* WIMS MENU MODU BOX */

#wimsmenumodubox .menu_title{
  margin:0;
  margin-left:.5em;
}

#wimsmenumodubox h2{
  font-size: 1em;
}

#wimsmhelp #wimsmenumodubox {visibility:hidden;}

#wimsmenumodubox .wimsmenu{
  padding:5px;
}

#wimsmenumodubox .wimsmenu .menuitem {
  text-align:left;
  min-height:1.5em;
}

#wimsmenumodubox ul.wimsmenu li.menuitem {
  display:block;
  text-align:left;
  min-height:1.5em;
}

#wimsmenumodubox .wimsmenu .menuitem a {
  display: block;
  padding-top: 0;
  padding-bottom: .4em;
  text-decoration: none;
}

#wimsmenumodubox .wimsmenu .itemsep {
  display: block;
  margin:10px;
  /*padding:3px;*/
  border-top: thin white solid;
}
#wimsmenumodubox hr.itemsep {
  margin-top:-.25em;
}

#wimsmenumodubox .wimstail {
  text-align: left;
  font-size:80%;
  padding:10px;
  margin:10px;
  border-radius : 20px;
}


/* Small screens */
@media only screen and (max-width: 40em) {}

/* Medium screens */
@media only screen and (min-width: 40.063em) and (max-width: 64em) {}

/* Large screens */
@media only screen and (min-width: 64.063em) {}
