/* Default score Colors 
Can be overriden by custom colors in virtual classrooms */

.scorecolor_1 {background-color:transparent;}
.scorecolor_2 {background-color:#FF0000;}
.scorecolor_3 {background-color:#FF0000;}
.scorecolor_4 {background-color:#FF0000;}
.scorecolor_5 {background-color:#FF9922;}
.scorecolor_6 {background-color:#FF9922;}
.scorecolor_7 {background-color:#FF9922;}
.scorecolor_8 {background-color:#FFE338;}
.scorecolor_9 {background-color:#FFE338;}
.scorecolor_10{background-color:#00B000;}
.scorecolor_11{background-color:#008F00;}
