
.wims_search_engine {
   padding: .5em 0;
   background-color:#FFF;
   background-image: linear-gradient(rgba(255,255,255,.5) 0%, rgba(153,153,153,.2) 100%);
   text-align:center;
   margin-left:auto; margin-right:auto;
   border:thin solid #CCC;
}

.wims_search_engine .inline{
   margin:0;
   vertical-align: middle;
}
.wims_search_engine li{
   margin:.5em 0;
}
.wims_search_engine input[type="search"]{
   padding: 3px;
   /*vertical-align: middle;*/
   border-radius: 5px 0 0 5px;
   border-width: 1px;
   margin-right: 0;
}
.wims_search_engine button[type="submit"]{
   border-radius: 0 5px 5px 0;
   margin-left: 0;
   padding:0 .5em;
}
.wims_clearSearch {float:right;}
.wims_search_help {float:right;}
.wims_search_title{text-align:left;}

/* search forms as in modules/adm/class/classes/search.phtml */
/*.wimssearch { }*/

#searchresult .wims_emph{
   padding-bottom: 0;
}

.wims_home_result_list{
   background-color: white;
   padding: .5em .5em .5em 1.5em;
}

.wims_home_result_list li {
	margin: 0;
	padding: 1em 0.5em;
	background-color: white;
   list-style-type: none;
}
.wims_home_result_list li:nth-child(odd) {
	background-color: #e5e5e5;
}
