/****
  tech_doc.css
  This file is only being used in help/wimsdoc
****/

.wims_command{padding:1em;border:1px solid #DDD;}
.wims_command:nth-child(even) {background: #EFEFEF}
.wims_command:nth-child(odd) {background: #FFF}

.wimsdoc_tit{color:#A00000;}

.wims_command .wimsdoc_tit{font-size: 1.2em;}

.command_attr{
  color:#800080;
  line-height: 1.5em;
  font-style:italic;
}