/* Utilities.css  put an explanation for each line as it is used to generate help for css in createxo */
/* align to the right */
.text-right{text-align:right;}
/* align to the left */
.text-left {text-align:left;}

/* center */
.center, .wimscenter{text-align:center;}
/* */
div.wimscenter{ margin:1.5rem .5rem .2rem .5rem; }
/* center a block as a table */
.blockcenter{
  margin-right:auto;
  margin-left: auto;
}

/* image center */
img.wimscenter { margin-left:auto;margin-right:auto;}
/* background in white */
.white{background-color: white;}
/* text float on the right */
.float_right{ float:right;}
/* text float on the left */
.float_left{ float:left;}
/* use it to stop float for example with <br/> */
.clearall{clear: both;}
/* text is smaller */
.small { font-size: 90%;}
/* text smaller than small */
.smaller { font-size: 70%;}
/* text in bold */
.bold { font-weight:bold;}
/* text larger */
.larger { font-size: 120%;}

/* emphasis some part of the text */
.wims_emph {font-style:italic ; color:#2A67FF;font-weight:bold;}
/* text in line */
.inline {display:inline;display:inline-block;}
/* */
ul.inline, ol.inline{padding-left:0;}
/* */
.inline>li{display:inline-block;}
/* list without puce */
.wims_nopuce {list-style-type:none}

/* use .spacer on div to add extra spaces */
.spacer{
  content: " ";
  display: block;
  padding-top: .6em;
  /* on Mozilla, only margin is taken on <br> */
  margin-bottom: .6em;
}

/* default for audio */
audio.wims_audio {
  width:150px;
  margin:10px 0;
  padding:5px;
}
/* style for emphasing results of the student */
/* good answer */
.oef_indgood { color:oef_indgood;font-weight:bold;}
/* good condition */
.oef_condgood{ color:oef_condgood;font-weight:bold;}
/* bad answer */
.oef_indbad  { color:oef_indbad;font-weight:bold;}
/* bad condition */
.oef_condbad { color:oef_condbad;font-weight:bold;}
/* forgotten item in the answer */
.oef_indforget { color:oef_indforget;font-weight:bold;}
/* partial answer */
.oef_indpartial{ color:oef_indpartial;font-weight:bold;}
/* bad precision */
.oef_indprec   { color:oef_indprec;font-weight:bold;}
/* */
.oef_indneutral{font-weight:bold;}

/* style for including a jsxgraph figure */
.jxgbox {margin-left:auto;margin-right:auto;}
/* */
.jsxgraph_button {text-align:center;}
/* */
.jxgboxchild {margin-left:auto;margin-right:auto;}

/* contributor citation or credits */
.wims_contribute, .wims_credits  {
  padding-top: 10px;
  padding-right:20px;
  text-align:right;
  color:#555;
  font-weight:bold;
  font-size:.8em;
}

/* Technical instructions in exercises for example*/
.wims_instruction {
   font-style: italic;font-size:small;
   padding: 1rem;
   margin: 0 auto 1rem auto;
   color: rgb(100,100,100);
   background-color: rgba(230,230,230,.3);
   border: 1px solid silver;
}
/* */
.wims_instruction>h2{
  display: inline-block;
  padding: .4rem;
  font-size: .8em;
  margin : -.3rem .5em .3em 0;
  background-color: silver;
  color: rgb(80,80,80);
}
/* Difficulty level of the exercise or any other hint on the level */
.wims_difficultylevel {
 font-style: italic;
 font-size:small;color: rgb(100,100,100);
 background-color: rgba(230,230,230,.3);
 padding: .1em 1px .1em;
}
/* small help */
.wims_smallhelp {
   font-style: italic;font-size:small;
   margin: 1.5rem .5rem .2rem .5rem;
   color: rgb(100,100,100);
   background-color: rgba(230,230,230,.3);
   border: 1px solid silver;
   padding: 0 5px 1em;
}
/* */
.wims_smallhelp>h2{
  display: inline-block;
  padding: .4rem;
  font-size: .8em;
  margin : -.3rem .5em .3em 0;
  background-color: silver;
}
/* remark in small */
.wims_smallremark {font-size: small;}
