#wimstopbox{
border: 1px solid black;
margin: 2px;
padding: 2px;
}

#wimsbodybox{
border: 1px solid black;
margin: 2px;
padding: 2px;
}

#wimsmenubox{
border: 1px solid black;
margin: 2px;
padding: 2px;
}

#wimspagebox{
border: 1px solid black;
margin: 2px;
padding: 2px;
}

.tailsep{
  display: none;
}

#wimstailbox .wimstail{
}
h1.wims_title {text-align:center;}
h1.wims_docu_title {text-align:center;}


@media print
{
.body {
font-family:serif;
 background:white;
 font-size: 12pt;
 font-family:"Times New Roman",serif;
 margin-left: auto;
 margin-right:auto;
}
.wimsbody{
 font-family:serif;
 background:white;
 font-size:12pt;
 font-family:"Times New Roman",serif;
 margin-left: auto;
 margin-right:auto;
 }
.wimsmenu {display:none}
.wimstail{display:none;}
#wimstopbox{display:none;}
#wimsmenubox{display:none}
.wims_noprint{display:none;}
}

