#wimstopbox{
border: 1px solid black;
margin: 2px;
padding: 2px;
}

#wimsbodybox{
border: 1px solid black;
margin: 2px;
padding: 2px;
min-height: 500px;
}

#wimsmenubox{
border: 1px solid black;
margin: 2px;
padding: 2px;
}

#wimspagebox{
border: 1px solid black;
margin: 2px;
padding: 2px;
}

#wimstailbox{
border: 1px solid black;
margin: 2px;
padding: 2px;
}

.tailsep{
  display: none;
}

h1.wims_title {text-align:center;}