/* * Standard Theme  -  css.CSS */
/* General */
body {
    margin: 5px;
    padding: 0px 10px 10px 10px;
    font-family: arial, verdana, helvetica, sans-serif;
    font-size: 0.9em;
}
li {
    margin-bottom: 8px;
}
a:hover {
    text-decoration:none;
}
.wimsbody {
    padding-left : 20px;
    padding-right : 20px;
    margin-left : 170px;
}
span.disabled:hover{       
}
span.disabled{     
   opacity:0.6;
   cursor:default;
   background-image:none;
}

/* WIMS BOXES */
#wimsbodybox {
    padding: 0px;
    margin: 0px;
}
#wimspagebox {
    padding: 0px;
    margin: 0px;
    min-height:29em;
}
#wimstailbox {
    margin-top: 5px;
    bottom: 0px;
    left: 0px;
}
#wimstopbox {
    margin-left: 10px;
    margin-right: 10px;
    left:auto;
    right:auto;
    text-align:right;
    border-radius : 20px 20px 0px 0px;
    -moz-border-radius : 20px 20px 0px 0px;
    -webkit-border-top-right-radius:20px;
    -webkit-border-top-left-radius:20px;
    
    background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.7, rgba(0,0,0,0)),
	    color-stop(0.9, rgba(0,0,0,0.2))
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgba(0,0,0,0) 70%,
	    rgba(0,0,0,0.2) 90%
	);

}
#wimsmenubox {
    margin-top: 1px;
    margin-left: 10px;
    margin-right: 10px;
    background-color:white;
    border-radius : 0px 0px 20px 20px;
    -moz-border-radius : 0px 0px 20px 20px;
    -webkit-border-bottom-left-radius:20px;
    -webkit-border-bottom-right-radius:20px;
    
    background-image: -webkit-gradient(
	    linear,
	    left top,
	    left bottom,
	    color-stop(0.7, rgba(0,0,0,0)),
	    color-stop(0.9, rgba(0,0,0,0.2))
	);
	background-image: -moz-linear-gradient(
	    center top,
	    rgba(0,0,0,0) 70%,
	    rgba(0,0,0,0.2) 90%
	);    
	/*z-index: 100;*/
	position: relative;
	-webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.496094);
	-moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.496094);
	box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.496094);
}

/* WIMS MENU MODU BOX */
#wimsmenumodubox {
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 0%;
    padding:0px;
    position: fixed;
    /*_position:absolute;*/
    top:50px;
    width:170px;
    left: auto;
    text-align:left;
    z-index:100;
}
#wimsmhelp #wimsmenumodubox {
    visibility:hidden;
}
#wimsmenumodubox .wimsmenu .menuitem {
    display:block;
    text-align:left;
}
#wimsmenumodubox .wimsmenu .menuitem a {
    display: block;
    padding: 0px 0px;
    text-decoration: none;
    color: #ffffff;
}
#wimstopbox .wimsmenu .topmenuitem a {
    text-decoration: none;
    color: #ffffff;
}
#wimstopbox a:hover,#wimsmenumodubox .wimsmenu .menuitem a:hover {
    text-decoration:underline;
}
#wimsmenumodubox .wimsmenu .itemsep {
    display: block;
    margin:10px;
    padding:3px;
    border-top: thin white solid;
}
.topmenuitem a {
    display: inline-block;
    padding: 5px 5px;
    text-decoration: none;
    color: #ffffff;
}
.menuitem a {
    display: inline-block;
    padding: 5px 5px;
    text-decoration: none;
    color: #ffffff;
}
.menuitem a:hover {
    text-decoration:underline;
}
div.wimsmenu {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 90%;
}
div.wimsmenu .topmenuitem {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
}
div.wimsmenu .menuitem {
    display: inline-block;
    _display: inline;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
}
div.menublock .menuitem {
    display: block;
    _display: inline;
    padding-top: 1px;
    padding-bottom: 1px;
}
div.menublock {
    display: inline-block;
    _display: block;
    padding-left: 15px;
    padding-right: 15px;
}
div.tailitem {
    font-size: small;
    padding-top: 1px;
    padding-bottom: 1px;
    left:0px;
}

/* END OF MODUBOX */
/* Logo */
.wimsmenu #wimslogo {
    position: absolute;
    top:0px;
    right:6%;
}
#wimslogoleft {
    position: absolute;
    top:0px;
    left:12%;
    float:left;
}
#wimslogoright {
    position: absolute;
    top:50px;
    right:6%;
    float:right;
}
/* End of Logo */

/* WIMS BOXES in special context*/
#wimsdoc .wimsbody, #wimsexam .wimsbody {
    padding-left : 10%;
    padding-right : 10%;
    margin-left : 0px;
}
#wimslightpopup #wimsbodybox #wimspagebox .wimsbody {
    padding-left : 20px;
    padding-right : 20px;
    margin-left : 0px;
}
#wimslightpopup #wimstailbox .wimstail .tailitem {
    padding-right:20px;
    text-align:right;
    color:#555555;
    font-weight:bold;
    font-size:90%;
}
#wimsmhelp .wimsbody {
    padding-left : 10%;
    padding-right : 10%;
    margin-left : 0px;
}
#wimspagebox .wimsdocleftmenu {
    margin-top: 180px;
    padding:0px;
    position: fixed;
    /*_position:absolute;*/
    top:50px;
    left: auto;
    text-align:left;
}
#wimspagebox .wimsdocrightmenu {
    margin-top: 180px;
    margin-left: 0px;
    margin-right: 0px;
    padding:0px;
    position: fixed;
    /*_position:absolute;*/
    top:50px;
    right: 20px;
    text-align:left; 
}
#wimsmenumodubox .wimstail {
    text-align: left;
    font-size:80%;
    padding:10px;
    margin:10px;
    -moz-border-radius : 20px 20px 20px 20px;
}
#wimstailbox .wimstail {
    text-align: center;
    font-size:80%;
}
div.tailsepdoc {
    display: inline-block;
}
#wimsbodybox #wimsmenutab .wimsmenu .menuitem {
    display: inline-block;
    padding: 1px 10px;
    text-decoration: none;
    border: thin black solid;
    -moz-border-radius : 20px 20px 0px 0px;
}
#wimsbodybox #wimsmenutab .wimsmenu .itemsep {
    display: inline-block;
    padding: 5px 30px;
    text-decoration: none;
}

/* end of WIMS BOXES in special context*/

/* JS editor styles */
#handleBottom{
	background-color: #DFDFDF;
	height: 8px;
	background-image:-moz-linear-gradient(center top , #999999 50%, #E8E8F8 100%);
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0.4,#999999), color-stop(1, #E8E8F8));
	border-bottom: 1px solid #999;
	cursor:ns-resize;
}

/*GENERAL*/
/* WORDS in code in all textes*/
tt{
  font-family: monospace, "Courier New";
  border-left-width: 3x;
  margin: 0px 0px;
  padding: 0px 10px; 
}
code{
  border-left-width: 4px;
  background-color:rgba(0,128,0,0.1);
  font-family: monospace, "Courier New";
  line-height: 1.1em;
  margin: 1em;
  padding: 0.5em 1em;
}
#wims_deposit {
    width:80%;
    min-width:50em;
}
/* reference to filename */ 
.wims_fname {
  font-family: monospace, "Courier New";
  color :#660000;
  font-weight:bold;
  background-color : #ffffe5;
}
/* reference to parameters */ 
tt.wims_parm{
  background-color : #ffffe5;
}
/* mots de code */
tt.wims_code_words {
  color:blue;
}
/* variables in help for example*/
tt.wims_code_variable {
  color:blue;
}
/*address as email adress, but also adresse of a file*/
tt.wims_address {}
/* title of modules in a texte */
.wims_mod_title {
 color:blue;
 font-style: italic;
}
/* descriptions of modules in help or text */
.wims_mod_desc {
 font-style: italic;
}
/* warning (sur le mot "Attention" par exemple)*/
.wims_warning{
  color:brown ; 
  font-weight:bold;
}
/* reference sur un label */
.wims_label {
  color:green ;
  font-family: monospace, "Courier New";
  padding: 3px ; 
  border:solid 1px ; 
}
pre{
  border-left-width: 4px;
  background-color:rgba(0,128,0,0.1);
  font-family: monospace, "Courier New";
  border-left-style: ridge;
  line-height: 1.1em;
  margin: 1em;
  padding: 0.5em 0.5em;
}
#wimsmhelp pre {
  border-left-width: 4px;
  background-color:rgba(0,128,0,0.1);
  font-family: monospace, "Courier New";
  border-left-style: ridge;
  line-height: 1.1em;
  margin: 1em;
  padding: 0.5em 1em;
}

/* Classes */
/* title of class*/
.wims_classname {
  color:#999999;
  font-weight:bold;
  text-align:center;
  margin:1em 0;
  text-shadow:0 1px 1px #FFFFFF;
} 
/* titles of classes in text */
.wims_classdesc, .wims_institutiondesc{
 color:#999999;
 font-weight:bold;
}
.wims_classdesc {font-size:large;}
/* words as login*/
tt.wims_login {
  color:blue;
  font-weight:bold;
}
/* END of Classes */
/*
***********************
  WIMS TITLES
  ************************
 */
.wims_docu_title {
    text-align:center;
}
.wims_sheet_title {
    text-align:center;
}
.wims_title {
    text-align:center;
    padding:10px;
    margin:0 0 .25em;
}
#wims_title h1.wims_title {
    text-align:center;
    padding:10px 0 0 0;
    margin:0 0 .25em;
    font-family:Georgia,Times New Roman,Times,serif;
    font-weight:normal;
}
h2.wims_subtitle {
    text-align:center;
    display: block;
    font-weight:normal;
	margin-top:0;
	font-style:italic;
}
#wims_modu_title1 .wims_title_close {
    padding-left:30%;
    margin-left:30%;
    padding-bottom:5px;
}
#wims_modu_title2 .wims_subtitle {
    font-size:small;
}
#wims_modu_title1 .wims_title_close {
    padding-left:10px;
    margin-left:10px;
    padding-bottom:5px;
}
#wims_modu_title3 .wims_subtitle {
    display: block;
    text-align:center;
    font-weight:bold;
}
#wims_modu_title3 .wims_title_close {
    padding:10px;
}
h1.oeftitle {
    text-align:center;
    font-size:100%;
}
/* ****** END OF TITLES ******** */

/* ****** SEQUENCE ******** */
.wims_seq {
    padding:15px;
    margin:10px;
    border: thin solid;
}
.wims_seq a {
    padding: 0px 0px;
    text-decoration: none;
}
.wims_seq a:hover {
    text-decoration:underline;
}
.wims_seq .wims_title_seq {
}
.wims_seq .wims_desc_item {
    color:#804000;
}
.wims_seq .wims_sheet_item {
    padding:5px;
    margin-top:5px;
    background-color:#CCF;
    border: thin solid;
}
.wims_seq .wims_doc_item {
    padding:5px;
    margin-top:5px;
    background-color:#99F;
    border: thin solid;
}
.wims_seq .wims_vote_item {
    padding:5px;
    margin-top:5px;
    background-color:#66F;
    border: thin solid;
}
.wims_seq .wims_exam_item {
    padding:5px;
    margin-top:5px;
    background-color:#9CF;
    border: thin solid;
}
.wims_seq .wims_title_seq .wims_comment_item {
    padding:5px;
    margin-top:5px;
    color:#804000;
    display:inline-block;
}
.wims_seq .wims_title_seq .wims_title_item {
    font-weight:bold;
}
/* ****** END OF SEQUENCES ******** */
/* **************** */
/* OEF STYLES */
.oefstatement {
}
.oefreply {
}
.oefanswer {
}
.oefanswer table {
    font-size: 0.9em;
    border-collapse:collapse;
}
.wims_oef_input {
    padding-top: 2px;
    padding-right: 1px;
    padding-bottom: 2px;
    padding-left: 1px;
    font-weight:bold;
    font-size: 1.2em;
}
.oefanswername {
}
.oefstatement table {
    border-collapse:collapse;
}
#answeranalysis {
    border : 1px solid #555555;
    border-radius:10px;
    -moz-border-radius: 10px;
    -webkit-border-radius:10px;
}
#answeranalysis .legend {
    padding:1em 5em;
    text-align:right;
    font-weight:bold;
    border-radius:10px;
    border-bottom-right-radius:0px;
    border-bottom-left-radius:0px;
    -moz-border-radius: 10px;
    -moz-border-radius-bottomright:0px;
    -moz-border-radius-bottomleft:0px;
    -webkit-border-radius:10px;
    -webkit-border-bottom-right-radius:0px;
    -webkit-border-bottom-left-radius:0px;
}
#answeranalysis .content {
    padding:1em;
}
.oefform {
}
.oefnameexo {
    display:inline;
}


/* * Boutons CSS3 * */
input[type="submit"], .wims_button, .wims_button_help {
    display:inline-block;
    width:auto;
    font-family: 'AllerBold', Arial, Helvetica, sans-serif;
    margin-bottom: 0.1em;
    padding:0.2em 0.6em;
    cursor:pointer;
    overflow:visible;
    position:relative;
    text-decoration:none;
    border-radius:7px;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(255,255,255,0)), to(rgba(255,255,255,0.25)));
    background-image: -moz-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,0.25));
    text-shadow:0 -1px 1px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: rgba(255, 255, 255, 0.75) 0px 1px 1px;
    -moz-box-shadow: rgba(255, 255, 255, 0.75) 0px 1px 1px;
    font-size: 0.8em;
    /*height: 1.6em;
    line-height: 1.45em;*/
    font-weight:bold;
    text-decoration:none;
}
input[type="submit"]:hover, .wims_button:hover, .wims_button_help:hover {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0,0,0,0.25)), to(rgba(0,0,0,0)));
    background-image: -moz-linear-gradient(bottom, rgba(0,0,0,0.25), rgba(0,0,0,0));
}
input[type="button"] {
    display:inline-block;
    width:auto;
    font-family: 'AllerBold', Arial, Helvetica, sans-serif;
    margin-bottom: 0.1em;
    padding:0.2em 0.6em;
    cursor:pointer;
    overflow:visible;
    position:relative;
    text-decoration:none;
    text-shadow:0 -1px 1px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: rgba(255, 255, 255, 0.75) 0px 1px 1px;
    -moz-box-shadow: rgba(255, 255, 255, 0.75) 0px 1px 1px;
    font-size: 0.8em;
    /*height: 1.6em;
    line-height: 1.45em;*/
    font-weight:bold;
    text-decoration:none;
}

/* ****************** */
/* TABLES STYLES */
table.wimstable {
    width:90%;
    border-collapse:collapse;
    border: 1px solid #999;
    font-size: .9em;
}
table.wimstable caption {
    font-weight: bold;
    font-size: 1.1em;
    border: 1px solid #999;
}
table.wimstable th {
    border-collapse:collapse;
    border: 1px solid #999;
    color:white;
}
table.wimstable td {
    background-color:white;
    border: 1px solid #999;
    padding: 6px;
}
table.wimstable .odd td {
    background-color:white;
    border: 1px solid #999;
    padding: 6px;
}
table.wimstable .even td {
    background-color:#DFDFDF;
    border: 1px solid #999;
    padding: 6px;
}
table.wimstable th a {
    display: inline-block;
    padding: 5px 5px;
    text-decoration: none;
    color: #ffffff;
}
table.wimstable a:hover {
    text-decoration:underline;
}
a:hover {
    text-decoration:none;
}
/* ****************** */
/* FORUM STYLES */
div.wims_forum_msg {
    background-color: transparent;
    padding-left: 3%;
    padding-right: 3%;
    margin-left: 3%;
    margin-right: 3%;
    border: 1px solid rgb(232,232,232);
    min-height:50px;
}
div.wims_forum_intro {
    background-color:#eeeeee;
    padding-left: 3%;
    padding-right: 3%;
    margin-left: 3%;
    margin-right: 3%;
}
ul.wims_forum_list li {
    list-style:none;
    padding-top: 3pt;
    padding-right: 0pt;
    padding-bottom: 0pt;
    padding-left: 5pt;
    margin-top: 10pt;
    margin-right: 10%;
    margin-bottom: 5pt;
    border-left: 1px solid gray;
    border-bottom: 1px solid gray;
}
ul.wims_forum_list li li {
    list-style:none;
    padding-top: 3pt;
    padding-right: 0pt;
    padding-bottom: 0pt;
    padding-left: 5pt;
    margin-top: 10pt;
    margin-right: 0%;
    margin-bottom: 5pt;
    border-left: 1px solid gray;
    border-bottom: 1px solid gray;
}
.wims_forum_blockquote {
font-style: italic;
padding-top: 0pt;
padding-right: 3em;
padding-bottom: 0pt;
padding-left: 3em;
margin-left:1em;
border-left:1px solid navy;
background-color:#E3F2F0;
}

/* SHEET STYLES */
ol.wims_sheet_list li {
    padding-top: 3pt;
    padding-right: 0pt;
    padding-bottom: 0pt;
    padding-left: 5pt;
    margin-top: 2pt;
    margin-right: 10%;
    margin-bottom: 2pt;
    border-left: 1px solid red;
    border-bottom: 1px solid gray;
}
ul.wims_sheet_list li {
    list-style:none;
    padding-top: 3pt;
    padding-right: 0pt;
    padding-bottom: 0pt;
    padding-left: 5pt;
    margin-top: 2pt;
    margin-right: 10%;
    margin-bottom: 5pt;
    border-left: 1px solid gray;
    border-bottom: 1px solid gray;
}
.wims_sheet_title {
    text-align:center;
}
div.wims_sheet {
    background-color:white;
    padding-left: 3%;
    padding-right: 3%;
    margin-left: 3%;
    margin-right: 3%;
    border: 1px solid blue;
}
/* OTHER STYLES */
.wims_home_list li {
    background-color:#e5e5e5;
    list-style:none;
    padding-top: 3pt;
    padding-right: 0pt;
    padding-bottom: 0pt;
    padding-left: 3pt;
    margin-top: 10pt;
    margin-right: 0%;
    margin-bottom: 3pt;
}
.wims_home_form {
    padding: 5px;
    width:150px;
}
table.wims_search_engine {
    padding-top: 3pt;
    background-color:#cccccc;
    background: -webkit-gradient( linear, left top, left bottom, from(white), to(#999999) );
    background: -moz-linear-gradient( top center, white,#999999);
}
table.wims_search_engine td {
    text-align:center;
}
.wims_home_button {
}
.wims_home_menu {
}
.wims_browse_list li {
    background-color:#e5e5e5;
    list-style:none;
    padding-top: 3pt;
    padding-right: 0pt;
    padding-bottom: 0pt;
    padding-left: 3pt;
    margin-top: 10pt;
    margin-right: 10%;
}
.wims_browse_subject_list li {
    background-color:#e5e5e5;
    list-style:none;
    padding-top: 3pt;
    padding-right: 0pt;
    padding-bottom: 0pt;
    padding-left: 3pt;
    margin-top: 10pt;
    margin-right: 10%;
}
ul.wims_browse_type_list li {
}
ol.wims_browse_type_list li {
    list-style:none;
    padding-top: 3pt;
    padding-right: 0pt;
    padding-bottom: 0pt;
    padding-left: 5pt;
    margin-top: 10pt;
    margin-right: 0%;
    margin-bottom: 5pt;
}
ul.wims_home_result_list li {
    background-color:#e5e5e5;
    list-style:none;
    padding-top: 3pt;
    padding-right: 0pt;
    padding-bottom: 0pt;
    padding-left: 3pt;
    margin-top: 10pt;
    margin-right: 10%;
}
/* couleur des sequences - a mettre en option */
.wims_sheet_desc {
  background-color:#CCF;
}
/*
  **********************
  WIMS CLASSES STYLES
  ***********************
 */
.wims_class_motd {
    margin:5pt;
    padding-right: 10pt;
    padding-left: 10pt;
    border: thin solid black;
}
.wims_class_pmotd {
    margin:5pt;
    padding-right: 10pt;
    padding-left: 10pt;
    border: thin solid black;
}
.wims_classes_direct {
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-left: 5px;
    margin-bottom:5px;
    background-color:#FFFFFF;
    text-align:center;
}
.wims_classes_direct_type {
    color:#A52A2A;
    border: thin solid black;
    padding:5px;
    margin-top:5px;
}
.wims_classes_direct_portal {
    background-color:#CFF;
    border: thin solid black;
    padding:5px;
    margin-top:5px;
}
.wims_classes_direct_group {
    background-color:#CFF;
}
.wims_classes_direct_program {
    background-color:#9FC;
    border: thin solid black;
    padding:5px;
    margin-top:5px;
}
.wims_classes_direct_course {
    background-color:#C9F;
    border: thin solid black;
    padding:5px;
    margin-top:5px;
}
.wims_classes_direct_class {
    background-color:#9CF;
    border: thin solid black;
    padding:5px;
    margin-top:5px;
}
.wims_classes_direct_level {
    background-color:#CFF;
    border: thin solid black;
    padding:5px;
    margin-top:5px;
}
.wims_classes_direct_name {
    padding-top: 5pt;
    padding-right: 5pt;
    padding-bottom: 5pt;
    padding-left: 5pt;
    border-bottom: 1px solid gray;
    overflow: scroll;
}
.wims_subclasses li {
    list-style:none;
    padding-top: 3pt;
    padding-right: 0pt;
    padding-bottom: 0pt;
    padding-left: 5pt;
    margin-top: 10pt;
    margin-right: 10%;
    margin-bottom: 5pt;
}
.wims_subclasses .class {
    background-color:#CFF;
}
.wims_subclasses .program {
    background-color:#9FC;
}
.wims_subclasses .course {
    background-color:#C9F;
}
#wims_class_manager_msg {
    background-color:#CFF;
}
.wims_user_table {
    margin-left:2%;
    padding-top: 5pt;
    padding-right: 5pt;
    padding-bottom: 5pt;
    padding-left: 5pt;
    border-bottom: 1px solid gray;
    overflow: scroll;
    border-spacing:0pt;
}
.wims_user_sheet_table {
    width:75%;
    margin-left:2%;
    padding-top: 5pt;
    padding-right: 5pt;
    padding-bottom: 5pt;
    padding-left: 5pt;
    border-bottom: 1px solid gray;
    border-left: 2px solid gray;
    overflow: scroll;
    margin-right:auto;
}
.wims_user_doc_table {
    width:75%;
    margin-left:2%;
    padding-top: 5pt;
    padding-right: 5pt;
    padding-bottom: 5pt;
    padding-left: 5pt;
    border-bottom: 1px solid gray;
    border-left: 2px solid gray;
    overflow: scroll;
    margin-right:auto;
}
.wims_user_docp_table {
    width:75%;
    margin-left:2%;
    padding-top: 5pt;
    padding-right: 5pt;
    padding-bottom: 5pt;
    padding-left: 5pt;
    border-bottom: 1px solid gray;
    border-left: 2px solid gray;
    overflow: scroll;
    margin-right:auto;
}
.wims_user_exam_table {
    width:75%;
    margin-left:2%;
    padding-top: 5pt;
    padding-right: 5pt;
    padding-bottom: 5pt;
    padding-left: 5pt;
    border-bottom: 1px solid gray;
    border-left: 2px solid gray;
    overflow: scroll;
}
.wims_user_vote_table {
    width:75%;
    margin-left:2%;
    padding-top: 5pt;
    padding-right: 5pt;
    padding-bottom: 5pt;
    padding-left: 5pt;
    border-bottom: 1px solid gray;
    border-left: 2px solid gray;
    overflow: scroll;
    margin-right:auto;
}
td.wims_user_sheet_expire {
}
td.wims_user_sheet_score {
    color:#A52A2A;
    white-space:nowrap;
}
td.wims_user_sheet_type {
    text-align:left;
    white-space:nowrap;
    width:120px;
}
tr.wims_user_sheet {
    text-align:left;
}
tr.wims_user_doc {
    text-align:left;
    white-space:nowrap;
    text-align:left;
}
tr.wims_user_docp {
    text-align:left;
    white-space:nowrap;
    text-align:left;
}
td.wims_user_doc_type {
    width:120px;
}
tr.wims_user_exam {
    text-align:left;
}
td.wims_user_exam_expire {
}
td.wims_user_exam_type {
    text-align:left;
    white-space:nowrap;
    width:120px;
}
tr.wims_user_vote {
    text-align:left;
}
td.wims_user_vote_type {
    text-align:left;
    white-space:nowrap;
    width:120px;
}
table.wims_user_table {
    background-color: transparent;
    padding-top: 5pt;
    padding-right: 5pt;
    padding-bottom: 5pt;
    padding-left: 5pt;
    border-bottom: 1px solid gray;
    overflow: scroll;
}
.wims_motd {
    background-color:rgb(232,232,232);
    padding-right: 10pt;
    padding-left: 10pt;
}
.wims_user_myscore {
    background-color:#FFFFFF;
    text-align:left;
    padding-top: 5pt;
    padding-right: 10pt;
    padding-bottom: 10pt;
    padding-left: 10pt;
    border-bottom: 1px solid gray;
    border-left: 3px solid gray;
    width:100%;
}
table.wims_exam {
    background-color:#FFFFFF;
    text-align:left;
    margin-left:3%;
    padding-bottom: 10pt;
    padding-left: 10pt;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
}
table.wims_exam td {
    background-color:#FFFFFF;
}
.emptyline {
    height:20px;
}
.empty {
    width:5%;
}
#wims_empty {
    min-height:100px;
    padding:20px;
    margin:20px;
}
.wims_docu_titleb {
}
div.wims_solution {
}

span.tooltip {color:#A52A2A;}

/* ************ PRINTER FRIENDLY ********* */
@media print {
.body {
    font-family:serif;
    background-color:white;
    font-size: 12pt;
    font-family:"Times New Roman", serif;
    margin-left: auto;
    margin-right:auto;
}
.wimsbody {
    font-family:serif;
    background-color:white;
    font-family:"Times New Roman", serif;
    margin-right:auto;
    padding-left : 10%;
    padding-right : 10%;
    margin-left : 0px;
}
#wimsdoc {
    background-color:white;
}

#wimsbodybox {
    background-color:white;
}
.wimsmenu, .menuitem {
    visibility: hidden;
}
#wimsmenubox #wimsmenumodubox .wimsmenu .menuitem {
    visibility: hidden;
}
#wimsmenubox #wimsmenumodubox {
    visibility: hidden;
}
#wimsbodybox #wimsmenumodubox {
    visibility: hidden;
}
#wimsbodybox #wimsmenumodubox .wimsmenu {
    visibility: hidden;
}
#wimsbodybox #wimsmenumodubox .wimsmenu .menuitem {
    visibility: hidden;
}
#wimstailbox .wimstail .tailitem {
    visibility: hidden;
}
table.wimstable th,table.wimstable a {
    color: #000000;
    background-color:white;
}
}/*** End Printer Friendly style ***/