/* tableau avec bordure exterieure, textes centrés */
table.wimsborder { border: 1px solid gray; border-collapse: collapse;}

/* tableau sans bordure exterieure, textes centrés */
table.wimsnoborder { }

table.wimsborder tr,table.wimsborder td, table.wimsborder th, table.wimsnoborder td, table.wimsnoborder th
{
	padding: 7pt;
	margin-top:10px; margin-bottom:10px; 
	text-align: center;
	border-collapse: collapse;
	overflow: scroll;
	min-width: 10pt;
}

table.wimsborder tr, table.wimsborder td, table.wimsborder th { border: 1px solid #999; }

/* tableau centre */
table.center {  margin-left:auto;margin-right:auto;}