/* ************ PRINTER FRIENDLY ********* */
@media print {
	.body {
	    background-color:white;
	    font-size: 12pt;
	    font-family:"Times New Roman", serif;
	    margin-left: auto;
	    margin-right:auto;
	}
	div.wimsbody {
	    background-color:white;
	    font-family:"Times New Roman", serif;
	    margin-right:auto;
	    padding-left : 10%;
	    padding-right : 10%;
	    margin-left : 0px !important;
	    
	}
	
	#wimsdoc, #wimsbodybox {
	    background-color:white;
	}
	
	.wims_search_engine{
		display:none;
	}
	div#wimstopbox, div#wimsmenubox{
		display:none;
		visibility: hidden;
	}
	.wimsmenu, .menuitem, #wimsmenubox #wimsmenumodubox .wimsmenu .menuitem {
	    visibility: hidden;
	    display:none;
	}
	#wimsmenubox #wimsmenumodubox, #wimsbodybox #wimsmenumodubox {
	    visibility: hidden;
	    display:none;
	}
	#wimsbodybox #wimsmenumodubox .wimsmenu {
	    visibility: hidden;
	    display:none;
	}
	#wimsbodybox #wimsmenumodubox .wimsmenu .menuitem {
	    visibility: hidden;
	    display:none;
	}
	#wimstailbox .wimstail .tailitem {
	    visibility: hidden;
	    display:none;
	}
	
	table.wimstable th,table.wimstable a {
	    color: #000000;
	    background-color:white;
	}
	#oef_actions, #oef_endhook , p.send_answer{
    visibility: hidden;
    display:none;
    }
}
/*** End Printer Friendly style ***/
