/* WIMS MENU MODU BOX issus de css.css*/
#wimsmenumodubox {
	margin-top: 0px;
	margin-left: 10px;
	margin-right: 0%;
	padding:0px;
	position: fixed;
	/*_position:absolute;*/
	top:51px;
	width:160px;
	/*left: auto;*/
	text-align:left;
	z-index:100;
}

#wimsfrontpage #wimsmenumodubox {
  /*position: absolute;*/
  margin-top: 60px;
}
#wimsmhelp #wimsmenumodubox {visibility:hidden;}
#wimsmenumodubox .wimsmenu .menuitem {
	display:block;
	text-align:left;
	min-height:1.5em;
}
#wimsmenumodubox .wimsmenu .menuitem a {
	display: block;
	padding: 0px 0px;
	text-decoration: none;
}

#wimsmenumodubox .wimsmenu .menuitem a:hover {
	text-decoration:underline;
}

#wimsmenumodubox .wimsmenu .itemsep {
	display: block;
	margin:10px;
	padding:3px;
	border-top: thin white solid;
}


/* Styles WIMSMENUMODUBOX */
  
  #wimsbodybox div#wimsmenumodubox {
    /*float: right;*/
    position: absolute;
    top: 0;
    right:0;
    margin: 0;
    /*width: 12%;*/
    max-width : 12em;
    /*height: 100%;*/
    padding: 15px 0;
    
  }
  #wimsbodybox div#wimsmenumodubox ul.wimsmenu,
  #wimsbodybox div#wimsmenumodubox div.wimsmenu {
    padding: 0 10px;
    background-color: #ffffff;
    -webkit-border-top-left-radius: 5px ;
    -moz-border-radius-topleft: 5px ;
    border-top-left-radius: 5px ;
    -webkit-border-bottom-left-radius: 5px ;
    -moz-border-radius-bottomleft: 5px ;
    border-bottom-left-radius: 5px ;
    border: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.5) ;
  }
  #wimsbodybox div#wimsmenumodubox ul.wimsmenu div.itemsep,
  #wimsbodybox div#wimsmenumodubox div.wimsmenu div.itemsep {
    /*display: none;*/
  
  }
  #wimsbodybox div#wimsmenumodubox ul.wimsmenu li.menuitem,
  #wimsbodybox div#wimsmenumodubox div.wimsmenu li.menuitem,
  #wimsbodybox div#wimsmenumodubox ul.wimsmenu div.menuitem,
  #wimsbodybox div#wimsmenumodubox div.wimsmenu div.menuitem {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 3px 0;
  }
  #wimsbodybox div#wimsmenumodubox ul.wimsmenu li.menuitem a,
  #wimsbodybox div#wimsmenumodubox div.wimsmenu li.menuitem a,
  #wimsbodybox div#wimsmenumodubox ul.wimsmenu div.menuitem a,
  #wimsbodybox div#wimsmenumodubox div.wimsmenu div.menuitem a {
    color: #000000;
    color: rgba(0, 0, 0, 0.75);
  }
  #wimsbodybox div#wimsmenumodubox ul.wimsmenu li.menuitem a.quicktool,
  #wimsbodybox div#wimsmenumodubox div.wimsmenu li.menuitem a.quicktool,
  #wimsbodybox div#wimsmenumodubox ul.wimsmenu div.menuitem a.quicktool,
  #wimsbodybox div#wimsmenumodubox div.wimsmenu div.menuitem a.quicktool,
  #wimsbodybox div#wimsmenumodubox ul.wimsmenu li.menuitem a.modtool,
  #wimsbodybox div#wimsmenumodubox div.wimsmenu li.menuitem a.modtool,
  #wimsbodybox div#wimsmenumodubox ul.wimsmenu div.menuitem a.modtool,
  #wimsbodybox div#wimsmenumodubox div.wimsmenu div.menuitem a.modtool,
  #wimsbodybox div#wimsmenumodubox ul.wimsmenu li.menuitem a.createxo,
  #wimsbodybox div#wimsmenumodubox div.wimsmenu li.menuitem a.createxo,
  #wimsbodybox div#wimsmenumodubox ul.wimsmenu div.menuitem a.createxo,
  #wimsbodybox div#wimsmenumodubox div.wimsmenu div.menuitem a.createxo,
  #wimsbodybox div#wimsmenumodubox ul.wimsmenu li.menuitem a.latex2wims,
  #wimsbodybox div#wimsmenumodubox div.wimsmenu li.menuitem a.latex2wims,
  #wimsbodybox div#wimsmenumodubox ul.wimsmenu div.menuitem a.latex2wims,
  #wimsbodybox div#wimsmenumodubox div.wimsmenu div.menuitem a.latex2wims {
    background-image: none;
  }
  #wimsbodybox div#wimsmenumodubox ul.wimsmenu .icon_button,
  #wimsbodybox div#wimsmenumodubox div.wimsmenu .icon_button {
    display: none;
  }
