
.wims_browse_type_list li,
.wims_browse_list li,
.wims_browse_subject_list li{
  list-style:none;
  margin-top:10pt;
}

.wims_browse_type_list li { 
  margin-right:0;
  margin-bottom:5pt;
  padding:3pt 0 0 5pt;
}

.wims_browse_list li,.wims_browse_subject_list li {
  background-color:#e5e5e5;
  margin-right:10%;
  padding:3pt 0 0 3pt;
}

.wims_home_result_list li {
  margin: 0;
  padding: 1em 0.5em;
  list-style-type: none;
}

.wims_home_result_list li:nth-child(even) {
  background-color: white;
}
.wims_home_result_list li:nth-child(odd) {
  background-color: #e5e5e5;
}