/* WORDS in code in all textes*/
.tt{
  font-family: monospace, "Courier New";
  border-left-width: 3px;
  margin: 0;
  padding: 0 3px;
}

code, pre{
  /*border-left-width: 4px;
  background-color:rgb(128,255,128);
  background-color:rgba(0,128,0,0.1);
  font-family: monospace, "Courier New";
  line-height: 1.1em;
  margin: 1em;
  padding: .5em 1em;*/
  /*word-wrap: normal;*/
  border: 1px solid #ccc;
  border-radius: 2px;
  box-shadow: inset 0 0 .5em rgba(128,128,128,0.5);
}

code{
  /* <code> est habituellement utilisé pour du code "inline",
     mais avec "inline-block", on peut aussi l'utiliser en multi-lignes. */
  display:inline-block;
  font-family: Consolas,"Andale Mono WT","Andale Mono","Bitstream Vera Sans Mono","Nimbus Mono L",Monaco,"Courier New",monospace;
  /*font-size: 1em;*/
  /*text-align: left;*/
  background-color: #fbfaf9;
  background-color: rgba(0,128,0,0.1);
  color: #333;
  padding: .5em;
}

pre{
  /* pre peut afficher du texte multi-lignes */
   /*border-left-width: 4px;
   background-color:rgb(128,255,128);
   background-color:rgba(0,128,0,0.1);
   font-family: monospace, "Courier New";
   border-left-style: ridge;
   line-height: 1.1em;
   margin: 1em;*/
   /* white-space lets display this block without scroll bars */
   /*white-space: pre-wrap;*/
   overflow: auto;
   padding: 1em;
}

textarea#wims_deposit {
  width:80%;
  min-width:50em;
  min-height:30em;
}

/* reference to filename (in modtool file list)*/
.wims_fname {
  font-family: monospace, "Courier New";
  color :#600;
  font-weight:bold;
}
/* reference to parameters */
.wims_parm{background-color : #ffffe5;}

/* mots de code */
.wims_code_words {color:blue;}

/* variables in help for example*/
.wims_code_variable {color:navy;}

/*address as email adress, but also adresse of a file*/
/*.wims_address {}*/

/* title of modules in a texte */
.wims_mod_title {
  color:blue;
  font-style: italic;
}
/* descriptions of modules in help or text */
.wims_mod_desc {
  font-style: italic;
}

/* WIMS_messages */
.wims_msg{
   /*font-weight: bold;*/
   padding: 0.3rem;
   /*margin: 0 auto 1rem auto;*/
   border: 1px solid rgba(10, 10, 10, 0.25);
}
/* WIMS_messages (type success) */
.wims_msg.success{background-color: #e1faea;}
/* WIMS_messages (type alert) */
.wims_msg.alert{background-color: #fce6e2;}
/* WIMS_messages (type warning) */
.wims_msg.warning{background-color: #fff3d9;}
/* WIMS_messages (type info) */
.wims_msg.info{background-color: #def0fc;}
/* include variables in WIMS_messages
.wims_msg .tt{color: black;}*/
/* WIMS_messages (type example) */
.wims_msg.example{}
/* alert msg (WIMS_messages, old way (but still used in several modules) */
.wims_alertmsg{
   margin:auto;
   color: #A52A2A;
   font-weight: bold;
   padding: 10px;
   border: solid 1px;
}

/* reference sur un label */
.wims_label {
   color:green ;
   font-family: monospace, "Courier New";
   padding: 3px ;
   border:solid 1px ;
}

/* words as login*/
.wims_login {
   color:blue;
   font-weight:bold;
}
