/* WORDS in code in all textes*/
.tt{
  font-family: monospace, "Courier New";
  border-left-width: 3px;
  margin: 0;
  padding: 0 3px;
}
code{
  border-left-width: 4px;
  background-color:rgb(128,255,128);
  background-color:rgba(0,128,0,0.1);
  font-family: monospace, "Courier New";
  line-height: 1.1em;
  margin: 1em;
  padding: .5em 1em;
}
#wims_deposit {
  width:80%;
  min-width:50em;
  min-height:30em;
}
/* reference to filename */
.wims_fname {
  font-family: monospace, "Courier New";
  color :#600;
  font-weight:bold;
}
/* reference to parameters */
.wims_parm{background-color : #ffffe5;}

/* mots de code */
.wims_code_words {color:blue;}

/* variables in help for example*/
.wims_code_variable {color:navy;}

/*address as email adress, but also adresse of a file*/
/*.wims_address {}*/

/* title of modules in a texte */
.wims_mod_title {
  color:blue;
  font-style: italic;
}
/* descriptions of modules in help or text */
.wims_mod_desc {
  font-style: italic;
}
/* alertmsg */
.wims_alertmsg{
   margin:auto;
   color: #A52A2A;
   font-weight: bold;
   padding: 10px;
   border: solid 1px;
}
/* reference sur un label */
.wims_label {
   color:green ;
   font-family: monospace, "Courier New";
   padding: 3px ;
   border:solid 1px ;
}
pre{
   border-left-width: 4px;
   background-color:rgb(128,255,128);
   background-color:rgba(0,128,0,0.1);
   font-family: monospace, "Courier New";
   border-left-style: ridge;
   line-height: 1.1em;
   margin: 1em;
   padding: .5em;
}

/* words as login*/
.wims_login {
   color:blue;
   font-weight:bold;
}
