.wims_model_textarea{ border: 3px solid #cccccc;padding: 5px;}

/*Qu: Pourquoi est-ce ici */
/* JS editor styles */
#handleBottom{
   background-color: #DFDFDF;
   height: 8px;
   background-image:-moz-linear-gradient(center top , #999999 50%, #E8E8F8 100%);
   background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0.4,#999999), color-stop(1, #E8E8F8));
   border-bottom: 1px solid #999;
   cursor:ns-resize;
}
.formHelp{
    font-size: 9pt;
    color:#999;
}