/* *   Nikaia Theme- createxo.css     */
/* *   By Sandra Machefer           * */


/*Styles pour createQCM et confia2qcm */
@media all {
    /*div.intro_createqcm, div.intro_confia2qcm{
    	background-color: lightblue;
    }*/

    div.intro_createqcm{
    	text-align: justify;
    	width:80%;
    }

    table.table1_createqcm{
    	border: 1px solid black;
    	background-color: #E6E6FA; /*lavender*/
    	width: 80%;
    }

    table.table2_createqcm, table.table1_confia2qcm{
    	/*background-color: moccasin;*/
    	border-collapse: collapse;
    }
    table.table2_createqcm td, table.table1_confia2qcm td{
    	/*background-color: moccasin;*/
    	border-width: thin;
    	border-color: grey;
    	border-style: solid none;
    }

    table.table2_createqcm{
    	border: 1px solid black;
    	width: 80%;
    }

    span.demo_confia2qcm{
    	color: red;
    	font-weight: bold;
    }

    table.table1_confia2qcm{
    	border: 1px solid black;
    	width: 80%;
    }

    table.table1_confia2qcm td{
    	padding: 4px;
    }

    li.qcm{
    	background-color: #FFFACD; /*lemonchiffon*/
    }

    li.replibre{
    	background-color: #F0FFFF; /*azure*/
    }

    li.combinatoire{
    	background-color: #ADD8E6; /*lightblue*/
    }

    div.intro2_createqcm{
    	text-align: justify;
    	width: 80%;
    }

    select.select_createqcm{
    	color: #008B8B; /*darkcyan*/
    }
}
