h2.wims_docu_titleb, h3.wims_docu_titleb {
  padding-left: 0;
  padding-right: 0;
  text-align:left;
  font-size: 120%;
}
h1.wims_docu_title {
  font-size: 130%;
  border-bottom: solid;
  border-top: solid;
  border-width: thin;
  border-color: #808080;
  padding: 1px;
  text-align:center;
 }

h2.wims_docu {
  font-size: 110%;
  font-weight:bold;
 }

/* classes pour menu*/
.ui-menu {
  max-width: 200px;
  font-size: 80%;
}

.doc_toc {
  padding:.4em;
}

#docprint .doc_toc {visibility:hidden; display:none;}

/** DOC Navigation */

#docnavigation{text-align: center;}
#docnavigation .menuitem a{color:#000;}
