h3.wims_docu_titleb {
  padding-left: 0%;
  padding-right: 0%;
  text-align:left;
}
h1.wims_docu_title {
  font-size: 120%;
  border-bottom: solid;
  border-top: solid;
  border-width: thin;
  border-color: #808080;
  padding: 1px;
  text-align:center;
 }
