/** themes/_css - forms.css */
/**  Somes styles designed to display fields in forms, tableless **/

fieldset.property_fields{
    margin:1em 0;
}

.property_fields label{font-weight:bold;}

.property_fields .field {
	margin: 0;
	border:none;
}

.property_fields .box{
    padding: 1em 0.5em;
    border:1px solid #CFCFCF;
}

.box div, .box input, .box textarea, .box select{
    margin-left:1em;
}

.fullwidth input, .fullwidth textarea, .fullwidth select{
    width:95%;
}
.fullwidth{
    /*width:100%;*/
    clear: both;
}

.halfwidth{
    width:50%;
    min-width: 380px;
}

fieldset.property_fields .field:nth-child(even){
  background: #DFDFDF;
}

fieldset.property_fields .field:nth-child(odd) {
  background: #EFEFFF;
}

fieldset.property_fields legend{
    font-size: 1.2em;
    font-weight: bold;
}