/** themes/_css - forms.css */
/**  Somes styles designed to display fields in forms, tableless **/
/* Currently used in exam and documents properties **/

/*form{
    line-height: 2em;
}*/

/* this is generaly a fieldset class */
.property_fields{
    margin-top:1em;
    margin-bottom:1em;
    max-width:900px;
    padding:0.5em 0;
    /*Background-image is here to lighten background color */
    background-image: -moz-linear-gradient(top,  rgba(255,255,255,0.7) 0%, rgba(255, 255, 255, 0.9) 48%, rgba(255,255,255,0.4) 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.7)), color-stop(48%,rgba(255, 255, 255, 0.9)), color-stop(100%,rgba(255,255,255,0.4))); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top,  rgba(255,255,255,0.7) 0%,rgba(255, 255, 255, 0.9) 48%,rgba(255,255,255,0.4) 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top,  rgba(255,255,255,0.7) 0%,rgba(255, 255, 255, 0.9) 48%,rgba(255,255,255,0.4) 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  rgba(255,255,255,0.7) 0%,rgba(255, 255, 255, 0.9) 48%,rgba(255,255,255,0.4) 100%); /* IE10+ */
    background-image: linear-gradient(to bottom,  rgba(255,255,255,0.7) 0%,rgba(255, 255, 255, 0.9) 48%,rgba(255,255,255,0.4) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3ffffff', endColorstr='#66ffffff',GradientType=0 ); /* IE6-9 */
}

.property_fields .field {
	margin: 0;
}

.property_fields .actions{
    padding:0.5em;
    margin-top:0.5em;
}

.property_fields .box{
    padding: 1em 0.4em; /*0.4em seems max for Chrome 2-columns layout */
    border:1px solid #CFCFCF;
}

.box div, .box input, .box textarea, .box select{
    margin-left:1em;
}

.fullwidth{
    /*width:100%;*/
    clear: both;
}

.halfwidth{
    width:48%;
    min-width: 380px;
    /*float: left;*/
    vertical-align: top;
}
.property_fields .halfwidth{
    display: inline-block;
    min-height:2.5em;
}

.property_fields .field:nth-child(even){
  background-color: #DFDFDF;
  background-color: rgba(200,200,200,0.4);
}

.property_fields .field:nth-child(odd){
  background-color: #EFEFEF;
  background-color: rgba(255,255,255,0.6);
}

.formHelp{
    font-size: 9pt;
    color:#666;
}

.property_fields legend{
    font-size: 1.2em;
    font-weight: bold;
    text-shadow: -1px -1px #000;
    padding: 0 0.5em;
    margin-left:1em;
    border:1px solid #BBB;
    border-radius:5px;
}

.property_fields label{
    font-weight:bold;
    display:inline-block;
    min-width:10em;
}

.fullwidth input[type="text"], .fullwidth textarea, .fullwidth select{
    width:95%;
}

.field input[type="text"]{
    min-width:40%;
}
input[type="color"]{
    vertical-align: bottom;
}

.field textarea{
    width:80%;
}

.wims_formradio label {
  min-width:0;
  font-weight:normal;
}
