/* classes pour latex2wims : latex2wims , latex2wimsl, latex2wimsr, latex2wimslr
selon qu'il y n'a pas de toc, un toc à gauche, à droite, des deux côtés*/

.doc_latex2wims .wimsdoc, .doc_latex2wimsl .wimsdoc, .doc_latex2wimsr .wimsdoc, .doc_latex2wimslr .wimsdoc {
   display: inline-block;
   text-align:justify;
   margin-left: 0%;
   margin-right: 0%;
   padding-left: 1em;
   padding-right: 1em;
   padding-top: 1em;
   padding-bottom: 0em;
   border: solid #FC9;
   border-width: 1px;
   border-color: #808080;
   /*  min-height: 300px;*/
   line-height: 1.1;
   overflow: auto;
}
.doc_latex2wims .wimsdoc {width:100%}
.doc_latex2wimsl .wimsdoc,.doc_latex2wimsr .wimsdoc{ width:75%;}
.doc_latex2wimslr .wimsdoc {width:60%;}  
.doc_latex2wimsl .right_toc, .doc_latex2wimsl .left_toc,.doc_latex2wimsr .right_toc, .doc_latex2wimsr .left_toc
{
  display: inline-block;
  width: 10px;
}
.left_toc, .right_toc {
  width:15%;display: inline-block; 
  left:auto;
  min-width:10em;
  vertical-align:top;
  padding: 0.5em;
  padding-top: 3em;
}
.right_toc{ right:auto; text-align:right;}
/*Pour mettre en relief l'endroit où on est dans les menus*/
.left_selection,.right_selection {
  padding:0.4em;
  border: solid;
  border-width: thin;
  border-color:#000000;
}
.no_selected {
  padding:0.4em;
  border: solid;
  border-width: 1px 0px 0px 0px ;
  border-color:#000000;
}

/*Pour les menus latéraux, la gestion des liens*/
.left_toc a,.right_toc a {}

/* menu en haut ou en bas*/
.wims_chemin {
   margin: 0.3em;
   padding:0.7em;
   border-width: thin;
   font-size: 80% ;
   text-align: center;
}
