/************************************************************************/
/****** STYLE POUR LES EXERCICES IMPORTES PAR IFRAME ********************/
/************************************************************************/
#wimstopbox{
  padding:0;
  background: none;
}

#wimstopbox #wims_title{
  display: none;
  visibility: hidden;
}

body.main_body, #wimsbodybox{
  background-color: transparent;
}

#wimspagebox {
  min-height: inherit;
}

/*
body h1.oeftitle,
#wimsbodybox h1.oeftitle,
#wimsbodybox #wimspagebox h1.oeftitle,
#wimsbodybox #wimspagebox div.wimsbody h1.oeftitle {
  background-color: #FFF;
  background-image: none;
  color: #000;
  text-shadow: none;
  text-align: center;
  border-style: none;
  padding: 0;
}
body #wimsbodybox #wimspagebox div.wimsbody,
#wimsbodybox #wimsbodybox #wimspagebox div.wimsbody,
#wimsbodybox #wimspagebox #wimsbodybox #wimspagebox div.wimsbody,
#wimsbodybox #wimspagebox div.wimsbody #wimsbodybox #wimspagebox div.wimsbody {
  float: none;
  margin: 0;
}
body #wimsbodybox #wimspagebox div.wimsbody div.oefstatement,
#wimsbodybox #wimsbodybox #wimspagebox div.wimsbody div.oefstatement,
#wimsbodybox #wimspagebox #wimsbodybox #wimspagebox div.wimsbody div.oefstatement,
#wimsbodybox #wimspagebox div.wimsbody #wimsbodybox #wimspagebox div.wimsbody div.oefstatement {
  border-style: none;
}
#wimsbodybox div#wimsmenumodubox {
  padding: 0;
}
.wimsbody {
  padding: 0;
  margin: 0;
}
div.navbar.navbar-fixed-top,
a.class_home,
span.menuitem intro,
span.text_item,
span.intro {
  display: none !important;
}
#wimslogoleft {
  display: none;
}
.navbar .nav > li > a,
.subnav .nav > li > a {
  background-image: none;
}
.subnav .nav > li > a {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  padding-left: 5px !important;
  padding-right: 5px !important;
}
/*Eléments à cacher pour l'appli mobile et tablette*/
/*span.oef_modulescore,
a#oef_exo_intro,
footer,
span.oef_congratulations {
  display: none;
}*/


/*mise en page pour tablette, mobile*/
/*div#answeranalysis p {
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
}
h1.oeftitle {
  margin-bottom: 20px;
}
div.oefstatement {
  margin-bottom: 10px;
}
legend {
  margin-bottom: 0;
}
/*couleurs questionnaire*/
/*div.question {
  background: #F5F5F5;
}
.oef_indgood {
  color: green;
}
.oef_indbad {
  color: red;
}
label input,
label textarea,
label select {
  display: inline-block !important;
}
input[type="image"],
input[type="checkbox"],
input[type="radio"] {
  margin-right: 10px !important;
}
.reponse {
  background: #D9EDF7 !important;
}
div#wimstailbox{
	background-color: transparent;
}*/
