/** Extruder Styles **/
  #wimsmenumodubox.extruder .extruder-content{
    /*border-left-color : rgba(0, 0, 0, 0.5);
    border-left-width: 2px;*/
    border:none;
    box-shadow: 1px 1px 12px #555;
  }

  /*#wimsmenumodubox.extruder .flapLabel{
      background-color: transparent;
  }*/

  .extruder .flap{
    cursor: pointer;
  }

  .extruder.isOpened .flap{
    box-shadow: none;
  }

  .extruder .text{
      background-color: transparent;
  }

.extruder.right .extruder-content{
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(transparent));
    background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.5), transparent) ;
    background-image: -moz-linear-gradient(right, rgba(0, 0, 0, 0.5), transparent) ;
    background-image: -ms-linear-gradient(right, rgba(0, 0, 0, 0.5), transparent) ;
    background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0.5), transparent) ;
    background-image: linear-gradient(right, rgba(0, 0, 0, 0.5), transparent) ;
  }
  .extruder.left .extruder-content{
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(transparent));
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5), transparent) ;
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.5), transparent) ;
    background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0.5), transparent) ;
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), transparent) ;
    background-image: linear-gradient(left, rgba(0, 0, 0, 0.5), transparent) ;
    padding-left:1em;
  }
  .extruder.top .extruder-content, .extruder.bottom .extruder-content{
    background-image: -webkit-gradient(linear, right bottom, right top, from(rgba(0, 0, 0, 0.5)), to(transparent));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), transparent) ;
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5), transparent) ;
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.5), transparent) ;
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), transparent) ;
    background-image: linear-gradient(top, rgba(0, 0, 0, 0.5), transparent) ;
  }
  div.extruder.bottom .flap{
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(transparent));
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5), transparent) ;
    background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5), transparent) ;
    background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.5), transparent) ;
    background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5), transparent) ;
    background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.5), transparent) ;
    border:1px solid black;
    border-bottom:none;
  }
