/* OEF STYLES */
#oef_intro_params {
   border-color: #BBBBBB grey grey #BBBBBB;
   border-radius: 10px;
   border-style: solid;
   border-width: 1px;
   margin: 1em auto;
   padding: 0;
   width:80%;
}
#oef_intro_params .legend{
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
}
#oef_intro_params label{font-weight:bold;}
#oef_intro_params .field {
   margin: 1em 0;
   padding: 0 1em;
}
#oef_intro_params select#exo{width:100%;}
#oef_intro_params .oef_expert{margin:1em;}
.oef_intro_buttons{text-align: center;}
#oef_devel_mode{font-size:small;}
.oefform p.send_answer{text-align: center;}
#oef_actions{margin:1em 0;}
#oef_actions p{margin:0.2em;}
.oefreply {}
.oefanswer {}
.oefhint {padding-top: 2px;}
.oef_modulescore { }
.oef_congratulations { }

.oefanswer table {
   font-size: 0.9em;
   border-collapse:collapse;
}
.wims_oef_input {
   padding-top: 2px;
   padding-right: 1px;
   padding-bottom: 2px;
   padding-left: 1px;
   font-weight:bold;
   font-size: 1.2em;
}
.oefanswername {}
.oefstatement{
   border: 1px groove ThreeDFace;
   padding:5px;
}
.oefstatement table {border-collapse:collapse;}

#answeranalysis {
   border : 1px groove ThreeDFace;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
}
.legend{
   margin-top:0;
   padding:0.5em 1em;
   border-bottom: 1px groove ThreeDFace;
   text-align:center;
   font-weight:bold;
   /*border-radius:10px;
   border-bottom-right-radius:0px;
   border-bottom-left-radius:0px;
   -moz-border-radius: 10px;
   -moz-border-radius-bottomright:0px;
   -moz-border-radius-bottomleft:0px;
   -webkit-border-radius:10px;
   -webkit-border-bottom-right-radius:0px;
   -webkit-border-bottom-left-radius:0px;*/
}
#answeranalysis .content {padding:1em;}
.oefform {}
.oefnameexo {display:inline;}
/* answer analysis*/
.oef_indgood { color:green;font-weight:bold;}
.oef_indbad { color:red;font-weight:bold;}
.oef_indforget { color:navy;font-weight:bold;}
.oef_indpartial{ color:orange;font-weight:bold;}
.oef_indneutral {font-weight:bold;}
.oef_indprec { color:orange;font-weight:bold;}
.oef_condgood{ color:green;font-weight:bold;}
.oef_condbad { color:red;font-weight:bold;}

/* for exercice modules in preparation (not OEF)*/
.module_score { }
.statement { }
.congratulations { }

/* for latex solution in print version */
div.wims_solution {}
/* table of questions in case of noembedding */
table.oefnoembed td {
   min-width:70px;
   margin-top:5px; margin-bottom:5px;
}
