.wims_score_bar{
    margin-bottom:-1em;
    margin-right:-.4em;
    max-width: 8.1em;
}

.wims_score_bar ol{
    padding:0;
}

.wims_score_bar_description{
    font-size: 80%;
    color:transparent;
}

.wims_score_bar:hover .wims_score_bar_description{
    color:gray;
}

.wims_score_bar li{
    width:.4em;
    height:.4em;
    display: inline-block;
    border: 2px solid;
    overflow:hidden;
    /*cursor: help;*/
    background-color: gray;
    color: gray;
}

.wims_score_bar li a{
    color:transparent;
}
.wims_score_bar .wims_exo_untry{
    background-color: white;
}
.wims_score_bar .wims_exo_undone{
    background-color:  #99F;
}
.wims_score_bar .wims_exo_done{
    background-color: #5AE882;
}
.wims_score_bar .wims_congratulation{
    border:2px solid #F7F785;
    box-shadow: 0 0 2px #888;
}


@media only screen and (max-width: 64em) {
   div.wims_score_bar {
        float:none;
        max-width: none;
   }
}
