.wims_score_bar{
    margin-bottom:-1em;
    margin-right:-0.4em;
    max-width: 8.1em;
}
.wims_serie_bar{max-width: 20em;}

.wims_score_bar ol, .wims_serie_bar ul{
    padding:0;
}

.wims_score_bar_description{
    font-size: 80%;
    color:transparent;
}

.wims_score_bar:hover .wims_score_bar_description{
    color:gray;
}

.wims_score_bar li, .wims_serie_bar li{
    width:.4em;
    height:.4em;
    display: inline-block;
    border:2px solid;
    overflow:hidden;
    cursor: help;
}
.wims_score_bar li{
    background-color: grey;
    color: grey;
}
.wims_serie_bar li{
   border-color:black;
   background-color: white;
   color: white;
}

.wims_score_bar .wims_exo_untry{
    background-color: white;
    color: white;
}

.wims_score_bar .wims_exo_undone{
    background-color:  #99F;
    color:  #99F;
}
.wims_serie_bar .wims_exo_todo{
    background-color: lightgrey;
    color: lightgrey;
}

.wims_score_bar .wims_exo_done{
    background-color: #5AE882;
    color: #5AE882;
}
.wims_serie_bar .wims_exo_done{
    background-color: black;
    color: black;
}
.wims_score_bar .wims_congratulation{
    border:2px solid #F7F785;
    box-shadow: 0 0 2px #888;
}
