.wims_clearSearch{
    float:right;
}

.wims_search_engine {
   padding-top: 3pt;
   background-color:#cccccc;
   background: -webkit-gradient( linear, left top, left bottom, from(white), to(#999999) );
   background: -moz-linear-gradient( top center, white,#999999);
   text-align:center;
   margin-left:auto; margin-right:auto;
}

.wims_search_help {float:right;}
.wims_search_title{text-align:left;}

/* search forms as in modules/adm/class/classes/search.phtml */
.wimssearch { }

.tab_content {
 margin: 0;
 padding:0 0 0 5px;
}
.tab {
 display:inline-block;
 margin:5px 2px 0 0px;
 padding:5px 10px ;
 border:1px solid #393b40;
 border-bottom:none;
 border-radius:5px 5px 0 0;
 cursor: pointer;
 font-weight:bold;
 text-indent:0px;
}
.result_inactif {
 background:#e6ebff;
}
.result_inactif:hover {
 background:#73767f;
}
.affiche_content { 
 background:#73767f;
 border-bottom:2px solid #73767f;
 padding-bottom:4px;
 cursor:text;
}
.content {
 background-color:white
 margin-top:-1px;
 padding:5px;
 display:none;
 cursor: text;
}
