/* ****** SEQUENCE ******** */
.wims_seq, .wims_sheet {
  position: relative;
  /*padding: 2.5em 0 0 1em;*/
  margin:10px;
  border: thin solid;
  border-bottom: 2px solid #888;
  border-right: 2px solid #888;
}

.wims_visible {color:green}

.wims_title_seq{
  /*position: absolute;
  top:0;
  left:0;*/
  padding:.5em;
  border-bottom:thin solid gray;
  border-right:thin solid gray;
}

.wims_seq a {
  /*padding: 0;*/
  text-decoration: none;
}
.wims_seq a:hover {text-decoration:underline;}

.wims_seq .wims_desc_item {color:#804000;}

.wims_comment_item{
  padding:.5em;
}
.wims_title_seq .wims_comment_item {
   margin-top:5px;
   color:#804000;
   display:inline-block;
}
.wims_seq .wims_title_item {font-weight:bold;}

/* numero pour les item d'une sequence */
.wims_seq_item_n {
    padding: 3px 6px;
    border:1px solid gray;
    border-radius: 20px;
}

/* ****** END OF SEQUENCES ******** */
