/* ****** SEQUENCE ******** */
.wims_seq {
   padding:15px;
   margin:10px;
   border: thin solid;
}
.wims_seq a {
   padding: 0px 0px;
   text-decoration: none;
}

.wims_seq a:hover {text-decoration:underline;}
/*.wims_seq .wims_title_seq {}*/
.wims_seq .wims_desc_item {color:#804000;}

.wims_title_seq .wims_comment_item {
   padding:5px;
   margin-top:5px;
   color:#804000;
   display:inline-block;
}
.wims_seq .wims_title_seq .wims_title_item {font-weight:bold;}


/* ****** END OF SEQUENCES ******** */
