/* SHEET STYLES */
.wims_sheet .wims_sheet_list li {
   	padding:1em;
	border:1px solid gray;
	background-color: #FDFDFD;
	border-radius: 5px;
	margin: 3px;
	display: inline-block;
	width:45%;
}

.wims_sheet_title {text-align:center;}


/* couleur des sequences - a mettre en option */
.wims_sheet_desc {
  border: 1px solid #CCF;
  background-color: #fafafa;
  padding:0.5em;
}

ul.wims_user_sheet{
   list-style:none;
   padding:0.5em;
}

.wims_user_sheet .wims_user_info {
 margin-left:30%;
}

.wims_user_sheet li{
	padding:1em;
	border:1px solid gray;
	background-color: #FDFDFD;
	border-radius: 5px;
	margin: 3px;
	display: inline-block;
	width:45%;
}

ul.wims_work_list{
   list-style:none;
   padding:0.5em;
}

.wims_work_list li{
	padding:1em;
	border:1px solid gray;
	border-radius: 5px;
	margin: 3px;
	display: inline-block;
	width:45%;
}


.wims_sheet_item  {background-color:#CCF;}
.wims_doc_item { background-color:#99F;}
.wims_vote_item { background-color:#66F;}
.wims_exam_item { background-color:#9CF;}
