/* SHEET STYLES */
ol.wims_sheet_list li {
   padding-top: 3pt;
   padding-right: 0pt;
   padding-bottom: 0pt;
   padding-left: 5pt;
   margin-top: 2pt;
   margin-right: 10%;
   margin-bottom: 2pt;
   border-left: 1px solid red;
   border-bottom: 1px solid gray;
}
ul.wims_sheet_list li {
   list-style:none;
   padding-top: 3pt;
   padding-right: 0pt;
   padding-bottom: 0pt;
   padding-left: 5pt;
   margin-top: 2pt;
   margin-right: 10%;
   margin-bottom: 5pt;
   border-left: 1px solid gray;
   border-bottom: 1px solid gray;
}

.wims_sheet_title {text-align:center;}

div.wims_sheet {
   background-color: #fafafa;
   padding-left: 0.5em;;
   padding-right: 0.5em;;
   margin-left: 0.5em;;
   margin-right: 0.5em;;
   border: 1px solid blue;
}

/* couleur des sequences - a mettre en option */
.wims_sheet_desc {
  border: 1px solid #CCF;
  background-color: #fafafa;
  padding:0.5em;
}

ul.wims_user_sheet{
   list-style:none;
   padding:0.5em;
}

.wims_user_sheet .wims_user_info {
 margin-left:30%;
}

.wims_user_sheet li:nth-child(even) {}
.wims_user_sheet li:nth-child(odd) {background-color:#E6E6E6}
