/* Utilities.css */

.center, .wimscenter{text-align:center;}
/* to check ! */

div.wimscenter{ margin:1.5rem 0.5rem 0.2rem 0.5rem; }

.blockcenter{
  margin-right:auto;
  margin-left: auto;
}

.white{background-color: white;}

.float_right{ float:right;}
.float_left{ float:left;}

.smaller { font-size: 70%;}
.small { font-size: 90%;}
.bold { font-weight:bold;}

.nowrap {white-space:nowrap;overflow: auto;}
.wims_emph {font-style:italic ; color:#2A67FF;font-weight:bold;}
.clearall{clear: both;}
.inline {display:inline;display:inline-block;}

/* use .spacer on <br/> or <div> to add extra spaces */
.spacer{
  content: " ";
  display: block;
  margin: 0.6em;
}

/* default for audio */
audio.wims_audio {
  width:150px;
  margin:10px 0;
  padding:5px;
}

/* default for jsxgraph */
.jxgbox {margin-left:auto;margin-right:auto;}
.jsxgraph_button {text-align:center;}
.jxgboxchild {margin-left:auto;margin-right:auto;}

/* technical info */
.wimstech {font-family: monospace, "Courier New";font-size:small}

/* remark in small */
.wims_smallremark {font-size: small;}

/* use <br class="spacer" /> instead*/
.emptyline { height:20px;}
.empty { width:5%;}

/* citation de contributeurs, de l'auteur*/
.wims_contribute, .wims_credits  {
  padding-top: 10px;
  padding-right:20px;
  text-align:right;
  color:#555;
  font-weight:bold;
  font-size:.8em;
}

/* image centre */
img.wimscenter { margin-left:auto;margin-right:auto;}

/* permalink */
/*#export_media .about {
  margin-top: 0;
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding-left: 28px;
  line-height: 28px;
  text-align: left;
}
#export_media{
  border: 1px solid #999;
  padding: 5px;
}*/
.wims_debug_mode{
  margin:auto;
  width:50%;
  font-size:small;
  font-family: monospace;
  border:1px solid #DFDFDF;
  padding:0 .5em 0;
}
/* Technical instructions in exercises for example*/
.wims_instruction { font-style:italic;font-size:small;
   margin:1.5rem 0.5rem 0.2rem 0.5rem;color:rgb(100,100,100)
}

/* ## Layout Classes ## */

/* fullwidth : Takes maximum width available */
.fullwidth{
    /*box-sizing: border-box;*/
    min-width:95%;
    clear: both;
}

/* fullwidth : Takes half size */
.halfwidth{
    width:50%;
    box-sizing: border-box;
    /*float: left;*/
    vertical-align: top;
}

/*
Flexbox : a way to uniformize multiple box automatically
See more at http://css-tricks.com/snippets/css/a-guide-to-flexbox/
*/
.flex_box{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    list-style:none;
    margin:auto;
    padding: 2px;
}

.flex_box>li{
    display:inline-block;
    margin:2px 0;
}

/* Reset a jquery UI default */
.main_body .ui-widget{
  font-size: inherit;
}

.ui-tabs{
  margin-bottom:.5em;
}

.main_body .ui-tabs .ui-tabs-panel{
  padding:.5em;
}

.wims_instruction {

}
