.center{text-align:center;}
.white{background-color: white;}
.spacer{ margin:0.9em; }
.float_right{ float:right;}
.float_left{ float:left;}
.smaller { font-size: smaller; }
.small { font-size: small; }
.bold { font-weight:bold;}
.nowrap {white-space:nowrap;overflow: auto;}
.wims_emph {font-style:italic ; color:#2A67FF;font-weight:bold;}
.clearall{clear: both;}
.inline {display:inline-block;}

/* default for audio */
audio.wims_audio {width:150px;
  margin:10px 0;
  padding:5px;
}

/* default for jsxgraph */
.jxgbox {margin-left:auto;margin-right:auto;}
.jsxgraph_button {text-align:center;}

/* technical info */
.wimstech {
  font-family: monospace, "Courier New";
  font-size:small
}
/* remark in small */
.wims_smallremark {font-size: small;}

/* ~/wims/public_html/modules/adm/class/config/authtype.phtml 
n'est-ce pas redondant avec spacer */
.separation{ margin:0.5em; }

/* use <br class="spacer" /> instead*/
.emptyline { height:20px; }
.empty { width:5%; }
#wims_empty {
  min-height:100px;
  padding:20px;
  margin:20px;
}

/* citation de contributeurs, de l'auteur*/
.wims_contribute, .wims_credits  {
  padding-top: 10px;
  padding-right:20px;
  text-align:right;
  color:#555555;
  font-weight:bold;
  font-size:0.8em;
}

/* tableau avec bordure exterieure, textes centres */
table.wimsborder { border:1px solid gray; border-collapse:collapse;}

/* tableau sans bordure exterieure, textes centres */
table.wimsnoborder { }

table.wimsborder tr,table.wimsborder td, table.wimsborder th, table.wimsnoborder td, table.wimsnoborder th
{
   padding:7pt;
   margin-top:10px; margin-bottom:10px; 
   text-align:center;
   border-collapse:collapse;
   /*overflow:scroll;*/
   min-width:10pt;
}

table.wimsborder tr, table.wimsborder td, table.wimsborder th { border: 1px solid #999; }

/* tableau centre */
table.wimscenter { padding:7pt;  margin-left:auto;margin-right:auto;}

/* image centre */
img.wimscenter { margin-left:auto;margin-right:auto;}
/* paragraph div texte centre*/
h1.wimscenter, h2.wimscenter, h3.wimscenter, h4.wimscenter, p.wimscenter, div.wimscenter { text-align:center;}

