/* Utilities.css */

.text-right{text-align:right;}
.text-left {text-align:left;}

/* to check ! */
.center, .wimscenter{text-align:center;}
div.wimscenter{ margin:1.5rem .5rem .2rem .5rem; }

.blockcenter{
  margin-right:auto;
  margin-left: auto;
}

.white{background-color: white;}

.float_right{ float:right;}
.float_left{ float:left;}

.smaller { font-size: 70%;}
.small { font-size: 90%;}
.bold { font-weight:bold;}
.larger { font-size: 120%;}

.nowrap {
  white-space:nowrap;
}
textarea.nowrap {
  white-space:pre;
  overflow: auto;
  word-wrap: normal;
}
.wims_emph {font-style:italic ; color:#2A67FF;font-weight:bold;}
.clearall{clear: both;}
.inline {display:inline;display:inline-block;}
ul.inline, ol.inline{padding-left:0;}
.inline>li{display:inline-block;}

.wims_nopuce {list-style-type:none}

/* use .spacer on <div> to add extra spaces */
.spacer{
  content: " ";
  display: block;
  padding-top: .6em;
  /* on Mozilla, only margin is taken on <br> */
  margin-bottom: .6em;
}

/* default for audio */
audio.wims_audio {
  width:150px;
  margin:10px 0;
  padding:5px;
}

/* default for jsxgraph */
.jxgbox {margin-left:auto;margin-right:auto;}
.jsxgraph_button {text-align:center;}
.jxgboxchild {margin-left:auto;margin-right:auto;}

/* technical info */
.wimstech {font-family: monospace, "Courier New";font-size:small}

/* remark in small */
.wims_smallremark {font-size: small;}

/* use <br class="spacer" /> instead*/
.emptyline { height:20px;}
.empty { width:5%;}

/* citation de contributeurs, de l'auteur*/
.wims_contribute, .wims_credits  {
  padding-top: 10px;
  padding-right:20px;
  text-align:right;
  color:#555;
  font-weight:bold;
  font-size:.8em;
}

/* image centre */
img.wimscenter { margin-left:auto;margin-right:auto;}

/* permalink */
/*#export_media .about {
  margin-top: 0;
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding-left: 28px;
  line-height: 28px;
  text-align: left;
}
#export_media{
  border: 1px solid #999;
  padding: 5px;
}*/
.wims_debug_mode{
  margin:auto;
  width:50%;
  font-size:small;
  font-family: monospace;
  border:1px solid #DFDFDF;
  padding:0 .5em 0;
}

/* Technical instructions in exercises for example*/
.wims_instruction {
   font-style: italic;font-size:small;
   padding: 1rem;
   margin: 0 auto 1rem auto;
   color: rgb(100,100,100);
   background-color: rgba(230,230,230,.3);
   border: 1px solid silver;
}

.wims_instruction>h2{
  display: inline-block;
  padding: .4rem;
  font-size: .8em;
  margin : -.3rem .5em .3em 0;
  background-color: silver;
  color: rgb(80,80,80);
}

.wims_difficultylevel {
 font-style: italic;
 font-size:small;color: rgb(100,100,100);
 background-color: rgba(230,230,230,.3);
 padding: .1em 1px .1em;
}
.wims_smallhelp {
   font-style: italic;font-size:small;
   margin: 1.5rem .5rem .2rem .5rem;
   color: rgb(100,100,100);
   background-color: rgba(230,230,230,.3);
   border: 1px solid silver;
   padding: 0 5px 1em;
}

.wims_smallhelp>h2{
  display: inline-block;
  padding: .4rem;
  font-size: .8em;
  margin : -.3rem .5em .3em 0;
  background-color: silver;
}

/*back to the top of the page*/
.wims_topback {
  padding-right:.5em;
  position:fixed;
  bottom:0;
  right:0;
}
.wims_topback a{
  text-shadow: 0 0 2px rgba(255, 255, 255, 1);
  position:relative;
  top:0;
  -webkit-transition: top .2s linear;
  -moz-transition: top .2s linear;
  transition: top .2s linear;
}
.wims_topback a:before{
    content:"\21E1";
    font-size: 2em;
}
.wims_topback a:hover{top:-5px;}

/* "Plugged" icon ("\1f50c"), indicating user is connected now.
 Previously : marked icon : ("\2713") */
.wims_connected:after{content:"\270b";font-size:1.5em;color:#8bb681;}
/* .wims_tooltip added on an icon when text will be displayed via "title" attribute. */
.wims_tooltip{cursor:help;}
/* Removes underline inherited from link */
a .wims_tooltip{display: inline-block;}
/* a border around icon hovered indicates it will do something (ie : displays the title) */
.wims_tooltip:after{
  border:2px solid transparent;
  padding:1px 6px 1px 3px ;
  border-radius: 15px;
}
.wims_tooltip:hover:after{border-color:#8bb681;}

/** hides a text, so it will only be readable by screen readers, for better accesibility */
.hidden_text{
    display:inline-block;
    width:1px;
    height:1px;
    color:transparent;
    overflow:hidden;
}

/* alert message from teacher to a choosen student */
.wims_alertchat {
  background-color: #a0d3e8;
  /*border : 1px solid #74bfdd;*/
  border-radius: 5px;
  padding: 0 .5em;
  font-size: .9em;
  transition: opacity 300ms ease-out;
}
div.wims_alertchat {
  margin:.5em auto;
  width:50%;
}

.wims_alertchat .float_right{
  margin-top:.5em;
}

/* ## Layout Classes ## */

/* fullwidth : Takes maximum width available */
.fullwidth{
    /*box-sizing: border-box;*/
    min-width:95%;
    clear: both;
}

/* fullwidth : Takes half size */
.halfwidth{
    width:50%;
    box-sizing: border-box;
    /*float: left;*/
    vertical-align: top;
}

/*
Flexbox : a way to uniformize multiple box automatically
See more at http://css-tricks.com/snippets/css/a-guide-to-flexbox/
*/
.flex_box{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    list-style:none;
    margin:auto;
    padding: 2px;
}

.flex_box>li{
    display:inline-block;
    margin:2px 0;
}

/* Reset a jquery UI default */
.main_body .ui-widget{
  font-size: inherit;
}

.ui-tabs{
  margin-bottom:.5em;
}

.main_body .ui-tabs .ui-tabs-panel{
  padding:.5em;
}

/* "disabled" look */
span.disabled, span.disabled:hover, span.disabled:active{
  opacity:.6;
}
.wims_notepad:before {content:"\270E";}

