/* Utilities.css */

.center, .wimscenter{text-align:center;}
.blockcenter{
  margin-right:auto;
  margin-left: auto;
}

.white{background-color: white;}

.float_right{ float:right;}
.float_left{ float:left;}

.smaller { font-size: 40%; }
.small { font-size: 60%; }
.bold { font-weight:bold;}

.nowrap {white-space:nowrap;overflow: auto;}
.wims_emph {font-style:italic ; color:#2A67FF;font-weight:bold;}
.clearall{clear: both;}
.inline {display:inline;display:inline-block;}

/* use .spacer on <br/> or <div> to add extra spaces */
.spacer{
  content: " ";
  display: block;
  margin: 0.6em;
}

/* default for audio */
audio.wims_audio {
  width:150px;
  margin:10px 0;
  padding:5px;
}

/* default for jsxgraph */
.jxgbox {margin-left:auto;margin-right:auto;}
.jsxgraph_button {text-align:center;}
.jxgboxchild {margin-left:auto;margin-right:auto;}

/* technical info */
.wimstech {font-family: monospace, "Courier New";font-size:small}

/* remark in small */
.wims_smallremark {font-size: small;}

/* use <br class="spacer" /> instead*/
.emptyline { height:20px; }
.empty { width:5%; }

/* citation de contributeurs, de l'auteur*/
.wims_contribute, .wims_credits  {
  padding-top: 10px;
  padding-right:20px;
  text-align:right;
  color:#555;
  font-weight:bold;
  font-size:.8em;
}

/* image centre */
img.wimscenter { margin-left:auto;margin-right:auto;}

/* permalink */
#export_media .about {
  margin-top: 0;
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding-left: 28px;
  line-height: 28px;
  text-align: left;
}
#export_media{
  border: 1px solid #999;
  padding: 5px;
}
.wims_debug_mode{
  margin:auto;
  width:50%;
  font-size:small;
  font-family: monospace;
  border:1px solid #DFDFDF;
  padding:0 .5em 0;
}