/* TABLES STYLES */
table.wimstable {
   width:90%;
   border-collapse:collapse;
   border: 1px solid #999;
   font-size: .9em;
}
table.wimstable caption {
   font-weight: bold;
   font-size: 1.1em;
   border: 1px solid #999;
}
table.wimstable th {
   border-collapse:collapse;
   border: 1px solid #999;
   color:white;
}
table.wimstable td {
   background-color:white;
   border: 1px solid #999;
   padding: 6px;
}
table.wimstable .odd td {
   background-color:white;
   border: 1px solid #999;
   padding: 6px;
}
table.wimstable .even td {
   background-color:#DFDFDF;
   border: 1px solid #999;
   padding: 6px;
}
table.wimstable th a {
   display: inline-block;
   padding: 5px 5px;
   text-decoration: none;
}

table.wimstable a:hover {text-decoration:underline;}
a:hover {text-decoration:none;}