!! the text written here will appear in the home page of WIMS
!! you must rename the file in motd.phtml.$lang where $lang is the language where 
!!you want to add some information in the home page (en, fr, ...)