
/** Standard Theme  -  css.CSS */


/* WIMS BOXES */
#wimsbodybox {
}

#wimspagebox {
}

#wimstailbox {
  margin-top: 5px;
  bottom: 0px;
  left: 0px;
}

#wimstopbox {
  margin-left: 5%;
  margin-right: 5%;
  left:auto;
  right:auto;
  text-align:right;
  -moz-border-radius : 20px 20px 20px 0px;
}
#wimsmenubox {
  margin-top: 1px;
  margin-left: 5%;
  margin-right:5%;
  background-color:white;
  -moz-border-radius : 20px 20px 20px 20px;
}

/**********************/
/* WIMS MENU MODU BOX */

#wimsmenumodubox {
  margin-top: 3px;
  margin-left: 5%;
  margin-right: 0%;
  padding:0px;
  background-color:white;
  position: fixed;
  top:80px;
  width:170px;
  text-align:left;
  -moz-border-radius : 0 0 20px 20px;
}

#wimsmenumodubox .wimsmenu .menuitem {
  display:block;
  text-align:left;
}

#wimsmenumodubox .wimsmenu .menuitem a {
  display: block;
  padding: 0px 0px;
  text-decoration: none;
  color: #ffffff;
  text-align:right;
}
#wimstopbox a:hover,#wimsmenumodubox .wimsmenu .menuitem a:hover {
  text-decoration:underline;
}

#wimsmenumodubox .wimsmenu .itemsep {
  display: block;
  margin:10px;
  padding:3px;
  border-top: thin white solid;
}

/* END OF MODUBOX*/

.wimsmenu #wimslogo {
  position: absolute;
  top:0px;
  left:6%;
}

#wimslogoleft {
  top:25px;
  left:6%;
  float:left;
}
#wimslogoright {
  position: absolute;
  top:50px;
  right:6%;
  float:right;
}
.topmenuitem a {
  display: inline-block;
  padding: 5px 5px;
  text-decoration: none;
  color: #ffffff;
}
.menuitem a {
  display: inline-block;
  padding: 5px 5px;
  text-decoration: none;
  color: #ffffff;
  text-align:right;
}

.menuitem a:hover {
  text-decoration:underline;
}

a:hover {
  text-decoration:none;
}

#wimsmenutab {display:inline;
top:0px;}

#wimsmenutab .wimsmenu .menuitem a {
  display: inline-block;
  padding: 5px 30px;
  text-decoration: none;
  color:black;
  text-align:right;
}
.wimsbody {
  padding-left : 10%;
  padding-right : 10%;
  margin-left : 140px;
}
#wimsmhelp .wimsbody {
  padding-left : 10%;
  padding-right : 10%;
  margin-left : 0px;
}

#wimsdoc .wimsbody {
  padding-left : 10%;
  padding-right : 10%;
  margin-left : 0px;
}

#wimsexam .wimsbody {
  padding-left : 10%;
  padding-right : 10%;
  margin-left : 0px;
}

.wimstail {
  text-align: center;
  font-size:80%;
}
div.tailsepdoc {
  display: inline-block;
}
div.wimsmenu {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  font-size: 90%;
}
div.wimsmenu .topmenuitem {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
}
div.wimsmenu .menuitem {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
}
div.menublock .menuitem {
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
}
div.menublock {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}

div.tailitem {
  font-size: small;
  border-top:1px solid;
  padding-top: 1px;
  padding-bottom: 1px;
  border-color:white;
  left:0px;
}


.wims_classname {
  padding-top:5px;
  text-align:center;
  font-weight:bold;
  font-style:italic
}

/************************
   WIMS TITLES 
*************************/

.wims_docu_title {
  text-align:center;
}
.wims_sheet_title {
  text-align:center;
}
.wims_title {
  text-align:center;
    font-weight:bold;
  font-size:110%;
  padding:10px;
}

.wims_subtitle {
  text-align:center;
    display: block;
  text-align:center;
  font-weight:bold;
}
#wims_modu_title1 .wims_title_close {
  padding-left:30%;
  margin-left:30%;
  padding-bottom:5px;
}
.wims_title {

}

#wims_modu_title2 .wims_subtitle {
  font-size:small;
}
#wims_modu_title1 .wims_title_close {
  padding-left:30%;
  margin-left:30%;
  padding-bottom:5px;
}

#wims_modu_title3 .wims_subtitle {
  display: block;
  text-align:center;
  font-weight:bold;
}
#wims_modu_title3 .wims_title_close {
  padding:10px;
}

h1.oeftitle {
  text-align:center;
}

/******* END OF TITLES *********/

/******* SEQUENCE *********/
.wims_seq {padding:15px;
margin:10px;
border: thin solid;
}
.wims_seq a {
  padding: 0px 0px;
  text-decoration: none;
  color: green;
}
.wims_seq a:hover {
  text-decoration:underline;
}

.wims_seq .wims_sheet_item {
padding:10px;
margin-top:5px;
background-color:#CCF;
border: thin solid;
}

.wims_seq .wims_doc_item {
padding:10px;
margin-top:5px;
background-color:#99F;
border: thin solid;
}
.wims_seq .wims_vote_item {
padding:10px;
margin-top:5px;
background-color:#66F;
border: thin solid;
}
.wims_seq .wims_exam_item {
padding:10px;
margin-top:5px;
background-color:#9CF;
border: thin solid;
}

.wims_seq .wims_comment_item {
padding:5px;
margin-top:5px;
color:brown;
display:block;
}

/******* END OF SEQUENCES *********/

/******************/
/*    OEF STYLES */
.oefstatement {
}
.oefreply {
}
.oefanswer {
}
.oefform {
}
.oefnameexo {
  display:inline;
}


/********************/
/*    TABLES STYLES */

table.wimstable {
  width:100%;
}
.odd td{
  background-color:white;
}
.even td{
  background-color:#DFDFDF;
}

/********************/
/*    FORUM STYLES */

div.wims_forum_msg {
  background-color: transparent;
  padding-left: 3%;
  padding-right: 3%;
  margin-left: 3%;
  margin-right: 3%;
  border: 1px solid rgb(232,232,232);
  min-height:50px;}
div.wims_forum_intro {
  background-color:#eeeeee;
  padding-left: 3%;
  padding-right: 3%;
  margin-left: 3%;
  margin-right: 3%;}
ul.wims_forum_list li {
  list-style:none;
  padding-top: 3pt;
  padding-right: 0pt;
  padding-bottom: 0pt;
  padding-left: 5pt;
  margin-top: 10pt;
  margin-right: 10%;
  margin-bottom: 5pt;
  border-left: 1px solid gray;
  border-bottom: 1px solid gray ;}
ul.wims_forum_list  li li {
  list-style:none;
  padding-top: 3pt;
  padding-right: 0pt;
  padding-bottom: 0pt;
  padding-left: 5pt;
  margin-top: 10pt;
  margin-right: 0%;
  margin-bottom: 5pt;
  border-left: 1px solid gray;
  border-bottom: 1px solid gray ;}

/* SHEET STYLES */

ol.wims_sheet_list  li {
  padding-top: 3pt;
  padding-right: 0pt;
  padding-bottom: 0pt;
  padding-left: 5pt;
  margin-top: 2pt;
  margin-right: 10%;
  margin-bottom: 2pt;
  border-left: 1px solid red;
  border-bottom: 1px solid gray ;}
ul.wims_sheet_list  li {
 list-style:none;
  padding-top: 3pt;
  padding-right: 0pt;
  padding-bottom: 0pt;
  padding-left: 5pt;
  margin-top: 2pt;
  margin-right: 10%;
  margin-bottom: 5pt;
  border-left: 1px solid gray;
  border-bottom: 1px solid gray ;
}
.wims_sheet_title {text-align:center;}

div.wims_sheet {
  background-color:white;
  padding-left: 3%;
  padding-right: 3%;
  margin-left: 3%;
  margin-right: 3%;
  border: 1px solid blue ;}

/*    OTHER STYLES */

.wims_home_list li {
  background-color:#e5e5e5;
  list-style:none;
  padding-top: 3pt;
  padding-right: 0pt;
  padding-bottom: 0pt;
  padding-left: 3pt;
  margin-top: 10pt;
  margin-right: 10%;
  margin-bottom: 3pt;
}
.wims_home_form {
}
.wims_home_button {
}
.wims_home_menu {
}
.wims_browse_list li {
  background-color:#e5e5e5;
  list-style:none;
  padding-top: 3pt;
  padding-right: 0pt;
  padding-bottom: 0pt;
  padding-left: 3pt;
  margin-top: 10pt;
  margin-right: 10%;
}
.wims_browse_subject_list li {
  background-color:#e5e5e5;
  list-style:none;
  padding-top: 3pt;
  padding-right: 0pt;
  padding-bottom: 0pt;
  padding-left: 3pt;
  margin-top: 10pt;
  margin-right: 10%;
}
ul.wims_browse_type_list li {
}
ol.wims_browse_type_list li {
  list-style:none;
  padding-top: 3pt;
  padding-right: 0pt;
  padding-bottom: 0pt;
  padding-left: 5pt;
  margin-top: 10pt;
  margin-right: 0%;
  margin-bottom: 5pt;}
ul.wims_home_result_list li {
  background-color:#e5e5e5;
  list-style:none;
  padding-top: 3pt;
  padding-right: 0pt;
  padding-bottom: 0pt;
  padding-left: 3pt;
  margin-top: 10pt;
  margin-right: 10%;
}
.wims_sheet_desc {
}


/***********************
   WIMS CLASSES STYLES 
************************/

.wims_class_motd {background-color:#CCF;
  margin:5pt;
  padding-right: 10pt;
  padding-left: 10pt;
}

.wims_class_pmotd {background-color:#CCF;
  margin:5pt;
  padding-right: 10pt;
  padding-left: 10pt;
}
.wims_classes_direct {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  overflow: scroll;
  background-color:#FFFFFF;
  color:#A52A2A;}
.wims_classes_direct_type {color:#A52A2A;
 border: thin solid black;
  padding:5px;
 margin-top:5px;}
.wims_classes_direct_portal {background-color:#CFF;
 border: thin solid black;
  padding:5px;
 margin-top:5px;}
.wims_classes_direct_group {background-color:#CFF;}
.wims_classes_direct_program {background-color:#9FC;
 border: thin solid black;
 padding:5px;
 margin-top:5px;}
.wims_classes_direct_course {background-color:#C9F;
 border: thin solid black;
 padding:5px;
margin-top:5px;}
.wims_classes_direct_class {background-color:#9CF;
 border: thin solid black;
 padding:5px;
margin-top:5px;}
.wims_classes_direct_level {background-color:#CFF;
 border: thin solid black;
 padding:5px;
 margin-top:5px;}
.wims_classes_direct_name {
  padding-top: 5pt;
  padding-right: 5pt;
  padding-bottom: 5pt;
  padding-left: 5pt;
  border-bottom: 1px solid gray;
  overflow: scroll;}
.wims_subclasses li {
  list-style:none;
  padding-top: 3pt;
  padding-right: 0pt;
  padding-bottom: 0pt;
  padding-left: 5pt;
  margin-top: 10pt;
  margin-right: 10%;
  margin-bottom: 5pt;}

.wims_subclasses .class{
 background-color:#CFF;}
.wims_subclasses .program {
 background-color:#9FC;}
.wims_subclasses .course{
 background-color:#C9F;}
 
.wims_class_motd {
}
.wims_user_table {
  margin-left:2%;
  padding-top: 5pt;
  padding-right: 5pt;
  padding-bottom: 5pt;
  padding-left: 5pt;
  border-bottom: 1px solid gray;
  overflow: scroll;
  border-spacing:0pt;}

.wims_user_sheet_table {
  background-color: #CFF;
  width:75%;
  color:#A52A2A;
  margin-left:2%;
  padding-top: 5pt;
  padding-right: 5pt;
  padding-bottom: 5pt;
  padding-left: 5pt;
  border-bottom: 1px solid gray;
  border-left: 2px solid gray;
  overflow: scroll;
  margin-right:auto;}

.wims_user_doc_table {
  width:75%;
  color:#A52A2A;
  background-color:#CFF;
  margin-left:2%;
  padding-top: 5pt;
  padding-right: 5pt;
  padding-bottom: 5pt;
  padding-left: 5pt;
  border-bottom: 1px solid gray;
  border-left: 2px solid gray;
  overflow: scroll;
  margin-right:auto;}

.wims_user_exam_table {
  width:75%;
  color:#A52A2A;
  background-color: #CFF;
  margin-left:2%;
  padding-top: 5pt;
  padding-right: 5pt;
  padding-bottom: 5pt;
  padding-left: 5pt;
  border-bottom: 1px solid gray;
  border-left: 2px solid gray;
  overflow: scroll;
}
.wims_user_vote_table {
  width:75%;
  color:#A52A2A;
  background-color:#CFF;
  margin-left:2%;
  padding-top: 5pt;
  padding-right: 5pt;
  padding-bottom: 5pt;
  padding-left: 5pt;
  border-bottom: 1px solid gray;
  border-left: 2px solid gray;
  overflow: scroll;
  margin-right:auto;
}

td.wims_user_sheet_expire {}
td.wims_user_sheet_score {color:#A52A2A;white-space:nowrap;}
td.wims_user_sheet_type {text-align:left;white-space:nowrap;width:120px;}
tr.wims_user_sheet {text-align:left;}
tr.wims_user_doc {text-align:left;white-space:nowrap;text-align:left;}
td.wims_user_doc_type {width:120px;}
tr.wims_user_exam {text-align:left;}
td.wims_user_exam_expire {}
td.wims_user_exam_type {text-align:left;white-space:nowrap;width:120px;}
tr.wims_user_vote {text-align:left;}
td.wims_user_vote_type {text-align:left;white-space:nowrap;width:120px;}

table.wims_user_table {
  background-color: transparent;
  padding-top: 5pt;
  padding-right: 5pt;
  padding-bottom: 5pt;
  padding-left: 5pt;
  border-bottom: 1px solid gray;
  overflow: scroll;
}
.wims_motd {
  background-color:rgb(232,232,232);
  padding-right: 10pt;
  padding-left: 10pt;
}

.wims_user_myscore {
  background-color:#FFFFFF;
  text-align:left;
  padding-top: 5pt;
  padding-right: 10pt;
  padding-bottom: 10pt;
  padding-left: 10pt;
  border-bottom: 1px solid gray;
  border-left: 3px solid gray;
  width:100%;}
  
table.wims_exam {
  background-color:#CCCCCC;
  text-align:left;
  margin-left:3%;
  padding-bottom: 10pt;
  padding-left: 10pt;
  border-bottom: 3px solid gray;
  border-left: 1px solid gray;
  }
table.wims_exam td {
  background-color:#FFFFFF;
}
.empty {width:5%;}
.wims_docu_titleb {
}

div.wims_solution {
}



/************* PRINTER FRIENDLY **********/
@media print {
.body {
  font-family:serif;
  background:white;
  font-size: 12pt;
  font-family:"Times New Roman", serif;
  margin-left: auto;
  margin-right:auto;
}
.wimsbody {
  font-family:serif;
  background:white;
  font-size:12pt;
  font-family:"Times New Roman", serif;
  margin-left: auto;
  margin-right:auto;
}
.wimsmenu {
  visibility: hidden
}

#wimsmenumodubox, #wimsmenubox, #wimstailbox, #wimstopbox{
  visibility: hidden
}
}
