.wimsbody {
  font-family: sans-serif;
  font-size:96%;
	text-align : left;
	padding-left  : 3%;
	padding-right : 3%;
	background-color:#fff;
	line-height: 1.3em;
}
.wimstail {font-family: sans-serif;
  font-size:96%;
	text-align : left;
	padding-left  : 3%;
	padding-right : 3%;
	background-color: #fff;
	}
.wimsmenu {
  font-family: sans-serif;
  font-size:96%;}

.oefstatement {   
   border-left: 3px solid lightgrey;
   padding-left: 3%;}
.oefreply {
    padding-left: 3%;
    font-size:96%; }    
.oefanswer {    
    padding-left: 5%;
    font-size:96%;}
.oefform {}

table.wimstable { }
div.wims_forum_msg {
  background-color: transparent;
  padding-left: 3%;
	padding-right: 3%;
	margin-left: 3%;
	margin-right: 3%;
  border: 1px solid lightgrey;
  min-height:50px;}
div.wims_forum_intro {
  background-color:#eeeeee;
  padding-left: 3%;
	padding-right: 3%;
	margin-left: 3%;
	margin-right: 3%;}
ul.wims_forum_list li {
  list-style:none;
  padding-top: 3pt;
  padding-right: 0pt;
  padding-bottom: 0pt;
  padding-left: 5pt;
  margin-top: 10pt;
  margin-right: 10%;
  margin-bottom: 5pt;
	border-left: 1px solid grey;
	border-bottom: 1px solid grey ;}
ul.wims_forum_list  li li {
  list-style:none;
  padding-top: 3pt;
  padding-right: 0pt;
  padding-bottom: 0pt;
  padding-left: 5pt;
  margin-top: 10pt;
  margin-right: 0%;
  margin-bottom: 5pt;
	border-left: 1px solid grey;
	border-bottom: 1px solid grey ;}
ol.wims_sheet_list  li {
  padding-top: 3pt;
  padding-right: 0pt;
  padding-bottom: 0pt;
  padding-left: 5pt;
  margin-top: 2pt;
  margin-right: 10%;
  margin-bottom: 2pt;
	border-left: 1px solid red;
	border-bottom: 1px solid grey ;}
ul.wims_sheet_list  li {
 list-style:none;
  padding-top: 3pt;
  padding-right: 0pt;
  padding-bottom: 0pt;
  padding-left: 5pt;
  margin-top: 2pt;
  margin-right: 10%;
  margin-bottom: 5pt;
	border-left: 1px solid grey;
	border-bottom: 1px solid grey ;
}
.wims_sheet_title {text-align:center;}

div.wims_sheet {
  background-color:white;
  padding-left: 3%;
	padding-right: 3%;
	margin-left: 3%;
	margin-right: 3%;
	border: 1px solid blue ;}
	
.wims_home_list  li {
  background-color:#e5e5e5;
  list-style:none;
  padding-top: 3pt;
  padding-right: 0pt;
  padding-bottom: 0pt;
  padding-left: 3pt;
  margin-top: 10pt;
  margin-right: 10%;
  margin-bottom: 3pt;}
.wims_home_form {}
.wims_home_button {}
.wims_home_menu {}

.wims_browse_list  li {
  background-color:#e5e5e5;
  list-style:none;
  padding-top: 3pt;
  padding-right: 0pt;
  padding-bottom: 0pt;
  padding-left: 5pt;
  margin-top: 10pt;
  margin-right: 10%;
  margin-bottom: 5pt;
}
.wims_browse_subject_list  li {
  background-color:#e5e5e5;
  list-style:none;
  padding-top: 3pt;
  padding-right: 0pt;
  padding-bottom: 0pt;
  padding-left: 5pt;
  margin-top: 10pt;
  margin-right: 10%;
  margin-bottom: 5pt;
}
ul.wims_browse_type_list  li {
  list-style:none;
  padding-top: 3pt;
  padding-right: 0pt;
  padding-bottom: 0pt;
  padding-left: 5pt;
  margin-top: 10pt;
  margin-right: 10%;
  margin-bottom: 5pt;
	border-left: 1px solid grey;
	border-bottom: 1px solid grey ;
}

ol.wims_browse_type_list li {
  list-style:none;
  padding-top: 3pt;
  padding-right: 0pt;
  padding-bottom: 0pt;
  padding-left: 5pt;
  margin-top: 10pt;
  margin-right: 0%;
  margin-bottom: 5pt;}
ul.wims_home_result_list  li {
  list-style:none;
  padding-top: 3pt;
  padding-right: 0pt;
  padding-bottom: 0pt;
  padding-left: 5pt;
  margin-top: 10pt;
  margin-right: 10%;
  margin-bottom: 5pt;
	border-left: 1px solid grey;
	border-bottom: 1px solid grey ;}

 .wims_sheet_desc {background-color: #FFFFCC;
 margin:2%;
 padding:1%;
 color:navy; }
  .wims_vote_desc {background-color: #FFFFCC;
 margin:2%;
 padding:1%;
 color:navy; }
  .wims_exam_desc {background-color: #FFFFCC;
 margin:2%;
 padding:1%;
 color:navy; }
 
.wims_class_motd {
 border: 1px solid navy;
 margin:3pt;
 padding:8pt;
 color:navy;
 width:70%;
 margin-left:auto;
 margin-right:auto;
 background-color:#FFFFCC;
}

 
.wims_classes_direct {
	padding-top: 5pt;
	padding-right: 5pt;
	padding-bottom: 5pt;
	padding-left: 5pt;
	border: 1px solid grey;#FC9
	overflow: scroll;
	background-color:#FFFFFF;
	color:brown;}
.wims_classes_direct_type {color:brown;}
.wims_classes_direct_portal {background-color:#CFF;}
.wims_classes_direct_group {background-color:#CFF;}
.wims_classes_direct_program {background-color:#9FC;}
.wims_classes_direct_course {background-color:#C9F;}
.wims_classes_direct_class {background-color:#9CF;}
.wims_classes_direct_level {background-color:#CFF;}
.wims_classes_direct_name {
	padding-top: 5pt;
	padding-right: 5pt;
	padding-bottom: 5pt;
	padding-left: 5pt;
	border-bottom: 1px solid grey;
	overflow: scroll;}
.wims_subclasses  li {
  list-style:none;
  padding-top: 3pt;
  padding-right: 0pt;
  padding-bottom: 0pt;
  padding-left: 5pt;
  margin-top: 10pt;
  margin-right: 10%;
  margin-bottom: 5pt;
	border-left: 1px solid grey;
	border-bottom: 1px solid grey ;}

.wims_user_table {
  margin-left:2%;
	padding-top: 5pt;
	padding-right: 5pt;
	padding-bottom: 5pt;
	padding-left: 5pt;
	border-bottom: 1px solid grey;
	overflow: scroll;
	border-spacing:0pt;}

.wims_user_sheet_table {
  background-color: #CFF;
  width:75%;
  color:brown;
  margin-left:2%;
	padding-top: 5pt;
	padding-right: 5pt;
	padding-bottom: 5pt;
	padding-left: 5pt;
	border-bottom: 1px solid grey;
	border-left: 2px solid grey;
	overflow: scroll;
	margin-right:auto;}

.wims_user_doc_table {
  width:75%;
  color:brown;
  background-color:#CFF;
  margin-left:2%;
	padding-top: 5pt;
	padding-right: 5pt;
	padding-bottom: 5pt;
	padding-left: 5pt;
	border-bottom: 1px solid grey;
	border-left: 2px solid grey;
	overflow: scroll;
	margin-right:auto;}

.wims_user_exam_table {
  width:75%;
  color:brown;
  background-color: #CFF;
  margin-left:2%;
	padding-top: 5pt;
	padding-right: 5pt;
	padding-bottom: 5pt;
	padding-left: 5pt;
	border-bottom: 1px solid grey;
  border-left: 2px solid grey;
	overflow: scroll;
}
.wims_user_vote_table {
  width:75%;
  color:brown;
  background-color:#CFF;
  margin-left:2%;
	padding-top: 5pt;
	padding-right: 5pt;
	padding-bottom: 5pt;
	padding-left: 5pt;
	border-bottom: 1px solid grey;
  border-left: 2px solid grey;
	overflow: scroll;
	margin-right:auto;
}

td.wims_user_sheet_expire {background-color:;}
td.wims_user_sheet_score {color:brown;white-space:nowrap;}
td.wims_user_sheet_type {text-align:left;white-space:nowrap;width:120px;}
tr.wims_user_sheet {text-align:left;}
tr.wims_user_doc {text-align:left;white-space:nowrap;text-align:left;}
td.wims_user_doc_type {width:120px;}
tr.wims_user_exam {text-align:left;}
td.wims_user_exam_expire {}
td.wims_user_exam_type {text-align:left;white-space:nowrap;width:120px;}
tr.wims_user_vote {text-align:left;}
td.wims_user_vote_type {text-align:left;white-space:nowrap;width:120px;}

table.wims_user_table {
	background-color: transparent;
	padding-top: 5pt;
	padding-right: 5pt;
	padding-bottom: 5pt;
	padding-left: 5pt;
	border-bottom: 1px solid grey;
	overflow: scroll;
}
.wims_motd {
  background-color:lightgrey;
	padding-right: 10pt;
	padding-left: 10pt;
}

.wims_user_myscore {
   background-color:#FFFFFF;
   text-align:left;
   padding-top: 5pt;
	padding-right: 10pt;
	padding-bottom: 10pt;
	padding-left: 10pt;
	border-bottom: 1px solid grey;
	border-left: 3px solid grey;
	width:100%;}
	
table.wims_exam {
  background-color:#CCCCCC;
  text-align:left;
  margin-left:3%;
	padding-bottom: 10pt;
	padding-left: 10pt;
	border-bottom: 3px solid grey;
	border-left: 1px solid grey;
	}
table.wims_exam td {
  background-color:#FFFFFF;
	}
.empty {width:5%;}

h1 {
  padding: 5px;
  line-height: 1.2em;
  font-size:110%;}
  
table {font-family: sans-serif;
  font-size:96%;
}
a {border-bottom-width: 1px;
border-bottom-style: dotted;
border-bottom-color: lightgrey;
text-decoration: none;
}
a:visited {text-decoration: none;}

a:hover {text-decoration: none;}

.tt { color:black ; font-weight:bold;}

h1.wims_docu_title { text-align:center; border:0pt; }
.wims_docu_titleb { }
