
.wimsbody {
  font-family: sans-serif;
  font-size:96%;
	text-align : left;
	padding-left  : 3%;
	padding-right : 3%;
	background-color:#fff;
	line-height: 1.3em;
}

.wimstail {font-family: sans-serif;
  font-size:96%;
	text-align : left;
	padding-left  : 3%;
	padding-right : 3%;
	background-color: #fff;
	}
.wimsmenu {
  font-family: sans-serif;
  font-size:96%;}

.oefstatement{   
   border-left: 3px solid lightgrey;
   padding-left: 3%;}
.oefreply{
    padding-left: 3%;
    font-size:96%;
 }    
.oefanswer{    
    padding-left: 5%;
    font-size:96%;}
.oefform{}

table.wimstable { }
div.wims_forum_msg {
  background-color: transparent;
  padding-left: 3%;
	padding-right: 3%;
	margin-left: 3%;
	margin-right: 3%;
  border: 1px solid lightgrey;
  min-height:50px;}
div.wims_forum_intro {
  background-color:#eeeeee;
  padding-left: 3%;
	padding-right: 3%;
	margin-left: 3%;
	margin-right: 3%;
}
ul.wims_forum_list li{
  list-style:none;
  padding-top: 3pt;
  padding-right: 0pt;
  padding-bottom: 0pt;
  padding-left: 5pt;
  margin-top: 10pt;
  margin-right: 10%;
  margin-bottom: 5pt;
	border-left: 1px solid grey;
	border-bottom: 1px solid grey ;
}
ul.wims_forum_list  li li {
  list-style:none;
  padding-top: 3pt;
  padding-right: 0pt;
  padding-bottom: 0pt;
  padding-left: 5pt;
  margin-top: 10pt;
  margin-right: 0%;
  margin-bottom: 5pt;
	border-left: 1px solid grey;
	border-bottom: 1px solid grey ;
}

ol.wims_sheet_list  li {
  padding-top: 3pt;
  padding-right: 0pt;
  padding-bottom: 0pt;
  padding-left: 5pt;
  margin-top: 10pt;
  margin-right: 10%;
  margin-bottom: 5pt;
	border-left: 1px solid grey;
	border-bottom: 1px solid grey ;
}

ul.wims_sheet_list  li {
 list-style:none;
  padding-top: 3pt;
  padding-right: 0pt;
  padding-bottom: 0pt;
  padding-left: 5pt;
  margin-top: 10pt;
  margin-right: 10%;
  margin-bottom: 5pt;
	border-left: 1px solid grey;
	border-bottom: 1px solid grey ;
}

div.wims_sheet {
  background-color:white;
  padding-left: 3%;
	padding-right: 3%;
	margin-left: 3%;
	margin-right: 3%;
	border: 1px solid blue ;}
	
.wims_home_list  li {
  background-color:#e5e5e5;
  list-style:none;
  padding-top: 3pt;
  padding-right: 0pt;
  padding-bottom: 0pt;
  padding-left: 3pt;
  margin-top: 10pt;
  margin-right: 10%;
  margin-bottom: 3pt;
}
.wims_home_form {}
.wims_home_button {}
.wims_home_menu {}

.wims_browse_list  li {
  background-color:#e5e5e5;
  list-style:none;
  padding-top: 3pt;
  padding-right: 0pt;
  padding-bottom: 0pt;
  padding-left: 5pt;
  margin-top: 10pt;
  margin-right: 10%;
  margin-bottom: 5pt;
}
.wims_browse_subject_list  li {
  background-color:#e5e5e5;
  list-style:none;
  padding-top: 3pt;
  padding-right: 0pt;
  padding-bottom: 0pt;
  padding-left: 5pt;
  margin-top: 10pt;
  margin-right: 10%;
  margin-bottom: 5pt;
}
ul.wims_browse_type_list  li {
  list-style:none;
  padding-top: 3pt;
  padding-right: 0pt;
  padding-bottom: 0pt;
  padding-left: 5pt;
  margin-top: 10pt;
  margin-right: 10%;
  margin-bottom: 5pt;
	border-left: 1px solid grey;
	border-bottom: 1px solid grey ;
}

ol.wims_browse_type_list li {
  list-style:none;
  padding-top: 3pt;
  padding-right: 0pt;
  padding-bottom: 0pt;
  padding-left: 5pt;
  margin-top: 10pt;
  margin-right: 0%;
  margin-bottom: 5pt;
}

ul.wims_home_result_list  li {
  list-style:none;
  padding-top: 3pt;
  padding-right: 0pt;
  padding-bottom: 0pt;
  padding-left: 5pt;
  margin-top: 10pt;
  margin-right: 10%;
  margin-bottom: 5pt;
	border-left: 1px solid grey;
	border-bottom: 1px solid grey ;
}

.wims_sheet_desc {}
.wims_class_motd {}
.wims_classes_direct
{
	padding-top: 5pt;
	padding-right: 5pt;
	padding-bottom: 5pt;
	padding-left: 5pt;
	border: 1px solid grey;
	overflow: scroll;
}

.wims_subclasses  li {
  list-style:none;
  padding-top: 3pt;
  padding-right: 0pt;
  padding-bottom: 0pt;
  padding-left: 5pt;
  margin-top: 10pt;
  margin-right: 10%;
  margin-bottom: 5pt;
	border-left: 1px solid grey;
	border-bottom: 1px solid grey ;
}

.wims_class_motd {
  background-color:lightgrey;
	padding-right: 10pt;
	padding-left: 10pt;
}

table.wims_user_table
{
	background-color: transparent;
	padding-top: 5pt;
	padding-right: 5pt;
	padding-bottom: 5pt;
	padding-left: 5pt;
	border-bottom: 1px solid grey;
	overflow: scroll;
}
.wims_motd {
  background-color:lightgrey;
	padding-right: 10pt;
	padding-left: 10pt;
}

td.wims_user_table_expire { color:grey;}

.wims_user_myscore {
text-align:right;
background-color: transparent;
padding-left: 40%;
}


h1 { border:2px solid lightgrey;
  padding: 5px;
  line-height: 1.2em;
  font-size:110%;}
  
table {font-family: sans-serif;
  font-size:96%;
}
a {border-bottom-width: 1px;
border-bottom-style: dotted;
border-bottom-color: lightgrey;
text-decoration: none;
}
a:visited {text-decoration: none;}

a:hover {text-decoration: none;}

.tt{ color:black ; font-weight:bold;}
