#markdown_toolbar a{
  text-decoration: none;
}

.obado {
  position: absolute; 
  top:-1.5em;
  z-index: 20;
  border:1px solid #666;
  width:150px;
  text-align:center;
  font-weight:normal;
  font-size: 20px;
  line-height:20px;
  padding:2px 4px;
}


a:hover#markdown_italics_button span {
  display: inline;
  left:0em;
}

a:hover#markdown_help_button span {
  display: inline;
  left:0.5em;
}

a:hover#markdown_heading_button span {
  display: inline;
  left:1em;
}

a:hover#markdown_bold_button span {
  display: inline;
  left:1em;
}

a:hover#markdown_link_button span {
  display: inline;
  left:1em;
}

a:hover#markdown_image_button span {
  display: inline;
  left:1em;
}

a:hover#markdown_unordered_list_button span {
  display: inline;
  left:2.5em;
}

a:hover#markdown_ordered_list_button span {
  display: inline;
  left:3em;
}


a:hover#markdown_title_button span {
  display: inline;
  left:7em;
}

a:hover#markdown_auteur_button span {
  display: inline;
  left:9em;
}

a:hover#markdown_email_button span {
  display: inline;
  left:9.1em;
}

a:hover#markdown_statem_button span {
  display: inline;
  left:13em;
}

a:hover#markdown_hint_button span {
  display: inline;
  left:14em;
}

a:hover#help span {
  display: inline;
  left:15em;
}


a:hover#markdown_answer_button span {
  display: inline;
  left:18em;
}


a:hover#markdown_feed_button span {
  display: inline;
  left:19em;
}

a:hover#markdown_condition_button span {
  display: inline;
  left:20em;
}

a:hover#markdown_solution_button span {
  display: inline;
  left:21em;
}


