/* <dtml-with base_properties> (do not remove this :) */
/* <dtml-call "REQUEST.set('portal_url', portal_url())"> (not this either :) */

/* AV */
.fieldTextFormat {
	display: none;
}

/*********************************/

#hud_video_intro {
       width: 480px; /* width_flash:450 + 2 x margin_hud:10 + 2 x margin_plugin:5 */
}
#hud_video_intro_plugin {
       background-color: #000000;
       padding: 5px;
}
#hud_video_intro h5 {
       text-align: center;
       margin-top: 10px;
}
#hud_video_intro h5 a {
      color: #FFFFFF !important;
	text-decoration: underline;
}

/*********************************/
.hud_element a{
		color:#FFFFFF;

}
.hud_element {
	width:40em;
	border:10px solid #0a111f;
	color:#FFFFFF;
	background-color: #0a111f;
	background-image: url("../../../gifs/editor/hud_element_fond.gif");
	background-repeat: repeat-x;
	background-position: center top;
	display:none;
	padding:0px;
	margin:0px;
}
.hud_element h3, .hud_element h4 {
	margin:0px;
	padding:0px;
	padding-bottom:10px;
	text-align:center;
        color:#ffffff;
}
.hud_element p {
        white-space: normal;
}
.hud_element img {
        float: none;
}
.hud_boutons {
	padding-top:20px;
	text-align:center;
        clear:both;
}
.hud_boutons a {
	margin-left:5px;
	margin-right:5px;
	border:0px !important;
}
.hud_lancement {
	white-space: nowrap;
        margin-bottom:0px;
        float: left;
}
.hud_lancement a {
	border:0px !important;
}

.hud_element label, .hud_element input[type="text"], .hud_element textarea {
	display: block;
	width: 100%;
	float: left;
}
.hub_element_bloc {
	float: left;
	display: block;
        clear: both;
}

/*.hud_element input[type="checkbox"] {
	display: block;
	width: 100%;
	float: left;
}*/
.hud_element label {
	text-align: center;
	width: 100%;
	padding-right: 20px;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
.hud_element .formHelp {
        color:#ffffff;
}

/***************************************************************/

.contenu_sendmail label {
       text-align: left;
}
.contenu_sendmail input[type="checkbox"], .contenu_sendmail input[type="text"], .contenu_sendmail textarea {
      margin-left:2em;
}
.contenu_sendmail input[type="text"], .contenu_sendmail textarea  {
      width:38em;
}

/***************************************************************/

#overlay {
	display:none;
	position: absolute;
	margin: auto;
	top: 0;	left: 0;
	width: 100%; height: 100%;
	z-index: 9998;
	background-color: #000!important;
}
#overlay[id] { position: fixed; }

/* </dtml-with> */

