/**** A placer dans le theme pour modifier les couleurs : ********/

/**** Couleurs de l'Editeur Createxo ***/
.exemple {
	background-color:#EEFACD;
}
.exemple .title {
	background-color:#DDCACD;
	color:black;
	border : 1px solid #AFAFAF;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

#menu_html, #menu_avant, #menu_pendant, #menu_apres {
	border :1px solid grey;
}

div.container{
	border:1px solid grey;
	background-color:white;
	color:black;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
}
.container h4{
    border-bottom:1px solid #333;
	/*background-color:#F96;
	color:black;*/
	-webkit-border-top-left-radius:15px;
	-webkit-border-top-right-radius:15px;
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-topright: 15px;
}



/**** Design de l'Editeur Createxo ***/
.exemple {
	padding:0.5em;
	margin: 0.5em 0;
}
.exemple .title {
	font-weight: bold;
	padding:0 0.5em;
	padding:0.4em 0.5em;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background-image:url("../../../gifs/editor/exemple.png");
	padding-left:32px;
	background-repeat: no-repeat;
	background-position-y: 50%;
	background-position-x: 2px;
	margin-right: 0.5em;
	margin-bottom: 0.5em;
}
#menu_html {
	width:182px;/* soit 7*26px */
}
#menu_apres
{
	width:104px;/* soit 4*26px */
}

#menu_avant, #menu_pendant {
	width:78px;/* soit 3*26px */
}

._spacer {
	clear:both;
}
div#bloc-droit, #textarea {
	float:left;
}

.container h4{
	margin: 0;
	padding:0.5em 0 0.5em 1.5em;
}
.container .content{
	padding:1em;
}
#help_container{
	margin:1em 0;
}

#textarea_buttons{
	text-align:center;
	margin-top:0.5em;
}
#divoptions select{
	width:100%;
}
#divoptions {
	text-align:center;
}


/**************** Autres styles specifiques ˆ l'editeur Javascript :*****/
img {
    border: 0;
    vertical-align: middle;
}

#select {
    /*margin-top:23px;*/
}
form{
	margin:0;
}

#wims_deposit_id {
    width:100%;
    height:200px;
}
#markdown_toolbar {
    position:relative;
    list-style:none;
    border:1px solid #d7d7d7;
    background-color:#F6F6F6;
    margin:0;
    padding:0;
    height:18px;
    margin-bottom:2px;
}
#markdown_toolbar li {
    list-style:none;
    margin:0;
    padding:0;
    float:left;
}
#enev_menu,div#textarea {
/* background-color:#FFFACD; */
    width:70%;
	min-width:550px;
}
ul#enev_menu{
	list-style-type:none;
	padding:0;
	margin-bottom:0;
}
ul#enev_menu li{
	display:inline-block;
	text-align:center;
	margin-right:20px;
}
div#bloc-droit {
    margin-left:2em;
   /* float:right;*/
}
#markdown_toolbar li a {
    width:24px;
    height:16px;
    float:left;
    display:block;
    background-image:url("../../../gifs/editor/markdown_icons.png");
    border:1px solid #fff;
    border-right-color:#d7d7d7;
}
#markdown_toolbar li a:hover {
    border-color:#900;
}

#markdown_toolbar li span {
    display:none;
}
#markdown_toolbar li a#markdown_help_button {
    position:absolute;
    top:0;
    right:0;
    border-left-color:#d7d7d7;
    border-right-color:#fff;
}
#markdown_toolbar li a#markdown_help_button:hover {
    border-left-color:#900;
    border-right-color:#900;
}
#markdown_italics_button {
    background-position: 0 -119px;
     
}
#markdown_bold_button {
    background-position: 0 -102px;
     
}
#markdown_link_button {
    background-position: 0 0;
     
}
#markdown_image_button {
    background-position: 0 -170px;
     
}
#markdown_unordered_list_button {
    background-position: 0 -34px;
     
}
#markdown_ordered_list_button {
    background-position: 0 -51px;
     
}
#markdown_espace_button {
    background-position: 0 -300px;
     
}
#markdown_range_button {
    background-position: 0 -136px;
}
#markdown_help_button {
    background-position: 0 -153px;
     
}
#markdown_heading_button {
    background-position: 0 -85px;
     
}
#markdown_auteur_button {
    background-position: 0 -17px;
     
}
#markdown_title_button {
    background-position: 0 -68px;
}
#markdown_espace2_button {
    background-position: 0 -300px;
     
}
#markdown_statem_button {
    background-position: 0 -187px;
     
}
#markdown_hint_button {
    background-position: 0 -204px;
     
}
#help {
    background-position: 0 -221px;
     
}
#markdown_espace3_button {
    background-position: 0 -300px;
     
}
#markdown_solution_button {
    background-position: 0 -238px;
}
#markdown_feed_button {
    background-position: 0 -255px;
     
}
#markdown_condition_button {
    background-position: 0 -272px;
     
}
#markdown_answer_button {
    background-position: 0 -288px;
}
#ws {
    display:none;
}