<style type="text/css">

/*Le fond le plus général du document */

/* Le fond du document central.*/

h3.wims_docu_titleb {
}
h1.wims_docu_title {
 }
 
table.doc_table {border-collapse:collapse;}

table.doc_table td {}
.left_toc, .right_toc { 
}
/*Pour mettre en relief l'endroit où on est dans les menus*/
.left_selection,.right_selection{
}
/*Pour les menus latéraux, la gestion des liens*/
.left_toc a,.right_toc a {}

/* menu en haut ou en bas*/
.wims_chemin {
}

/*Le cadre central dans lequel il y a le cours*/      
.wimsdoc {}

 /*section*/ 
span.section { }
span.subsection { }
span.subsubsection {
}


div.dessin{
  margin: 1.2em 0 0 2em;
  text-align: right;
}

table.mon_tableau {border-collapse:collapse;border: 1px solid #999;}
.row1 {text-align:center;width:100px; height:50px; background-color:green;color:white;}
.row2 {text-align:center;width:100px; height:50px;}
.row3 {text-align:center;width:100px; height:50px; background-color:skyblue;;font-weight:bold;}
.yellow {text-align:center; background-color:yellow;padding:1em; margin:1em;}
</style>
