/** classic.cssclassic.css */
/** Is it still useful ? */

#wimstopbox{
  margin-left: 10%;
  margin-right: 10%;
  left:auto;
  right:auto;
}

#wimsmenubox, #wimsmenumodubox{
  margin-top: 3px;
  margin-left: 10%;
  margin-right: 10%;
  background-color:white;
}
#wimsmenumodubox .wimsmenu{
  background-color:white;
}
#wimsmenumodubox .wimsmenu .menuitem {
  display:inline;
}

#wimstailbox{
  clear:both;
  margin-top: 5px;
}

.wimsbody {
	padding-left  : 10%;
	padding-right : 10%;
	margin-left  : 2%;
	margin-right : 2%;
}

.wimstail {
  text-align: center;
  font-size:80%;
}

.tailsep{
  display: block;
  margin:10px;
  border: thin black;
}

.tailsepdoc{
  display: inline-block;
}

.wimsmenu {
 padding-top: 5px;
 padding-bottom: 5px;
 text-align: center;
}

.wimsmenu .menuitem{
 display: inline-block;
 padding: 1px 10px 1px 10px;
}

.menublock .menuitem{
 display: block;
 padding: 1px 10px 1px 10px;
}

.menublock{
 display: inline-block;
 padding-left: 15px;
 padding-right: 15px;
}

.tailitem {
  font-size: small;
}

.wims_docu_title, .wims_sheet_title, .wims_title, .oeftitle, div.wims_print{
  text-align:center;
}

.oefnameexo {display:inline;}

@media print
{
  .body , .wimsbody{
    background:white;
    font-size:12pt;
    font-family:"Times New Roman", serif;
    margin-left: auto;
    margin-right:auto;
  }
  .wimsmenu , div.wims_print{visibility: hidden}
}



