body {background-color: $wims_bgcolor;}
.wimsbody {background-color: $wims_bgcolor;}
#wimstopbox{  background-color: $$wims_ref_bgcolor;}
#wimsbodybox{background-color: $$wims_bgcolor;}
#wimsmenubox{  background-color: $$wims_ref_bgcolor;}
div.menuitem{background-color: $$wims_ref_bgcolor;}
