a:hover{
	text-decoration: none;
}

.oefstatement {
	width:95%;
	margin:auto;
}


.oefstatement table {
	border-collapse: collapse;
}
.oefstatement th {
    padding:5px;
}
.oefstatement td {
	background-color:#EFEFEF;
}
body {
	background-color: #dfdfdf;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size:0.8em;
    margin: 1px;
    padding: 1px;
}

#wimsmenumodubox{
	width:60%;
	
	margin:auto;
	border:1px solid #7E869E;
}

.menuitem{
	/*border:1px solid #dfdfdf;*/
	font-size: 0.95em;
}

.menuitem a, .wimstail a, .wimsmenu a{
  background-position:left center;
  display:inline-block;
  line-height:23px;
  padding-left:21px;
	color: white;
}

img{
	border:0px;
}

img.portrait {
	border:1px solid #CCCCCC;
	background-color:#FFFFFF;
	padding:5px;
}

#class_config a{
	color: #DFDFDF;
}

.wims_classname{
	color:#999999;
}

.wims_classname, #wims_modu_title3 {
  
  font-weight:bold;
  text-align:center;
  margin:1em 0;
  text-shadow:0 1px 1px #FFFFFF;
}


/*lien vers l'insertion dans une feuille*/

#supervisor_class a{
	font-size:2em;
}

#elements_supprimes{
/*	color: #263248;*/
	color: #FF0000;
}

h1, h2, h3, h4, h5, h6 {
    color: #000000;
    background-color: transparent;
    font-family: Georgia, Times New Roman, Times, serif;
    font-weight: normal;
    margin: 0 0 0.25em 0;
    text-align: center;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #000000;
    text-decoration: none;
}

table {
	font-size: 1em;
    border: 1px solid #7E869E;
/*  border-right: 0px;*/
    margin:0px;
}

tt {
	font-size: 1.5em;
}

th {
	background-color: #7E869E;
    color: #FFFFFF;
}

td {
	/*border-right:1px solid #7E869E;*/
    color: #000000;
}

a {

	background-color: transparent;
}

#wimsbody1 {
	padding:10px;
}

/* pourquoi en commentaires ?*/
.wimsbody {
	padding-left:1em;
	padding-right:1em;
}
/****/

.wims_sheet_list{
	font-size: 105%;
}

.wims_header {
	display: none;
}

#header_intro, #header_work, #header_visitor, #header_tools {
	display: none;
}

#header_home, #header_back, #header_nav, #header_score {
	display: table-cell !important;
	font-size:1.50em;
}

#header_export, #header_about{
	display: table-cell !important;
}

.clearall { clear: both; }

.jalon_contentheader {
	background-image: url(/wims/gifs/themes/jalon/logo_wims_fond.gif);
	background-repeat: repeat-x;
	background-position: left top;

}

.jalon_contentheader_titre {
	background-image: url(/wims/gifs/themes/jalon/logo_wims.gif);
	background-repeat: no-repeat;
	background-position: left top;
    padding-top: 20px;
	padding-bottom: 0px;
	padding-right: 10px;
	padding-left: 150px;
 	min-height:70px;
	text-align: center;
}

.wims_home_list li {
	background-color:#FDFDFD;
	list-style-type:circle;
	margin-right:10%;
	margin-top:0.5em;
	padding:3pt 0 0 3pt;
	-moz-border-radius-bottomright:7px;
	-moz-border-radius-topright:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
}

ul.wims_home_result_list li {
	font-size:0.80em;
	border-bottom:1px solid grey;
	border-left:1px solid grey;
	list-style-type:none;
	margin-right:10%;
	margin-top:0.5em;
	padding:3pt 0 0 5pt;
}


.wimstail {
 border-collapse:collapse;
 padding:4px;
 /*background:#7E869E;*/
}

.wimstail .menuitem{
 border-collapse:collapse;
 padding:4px;

 /*background:#7E869E;*/
}

.wimstail td{
	/* Note : les variables wims ne sont pa sinterpretees dans le fichier css. trouver pourquoi
	background-color:$wims_homeref_bgcolor;*/
	vertical-align:middle;
	text-align:center;
	color:white;
	border:1px solid #FFFFFF;
	background:#7E869E !important;
	padding:4px;
}

#oef_default{
	font-size: 70%;
}

/** Boutons CSS3 **/

a.wims_button_help{
	background-color: green;
	color: white;
	height: 1.2em;
	line-height: 1.1em;
}

input[type=submit], a.wims_bouton, .wims_button , .wims_button_help{
    display:inline-block;
    width:auto;
    
    font-family: 'AllerBold', Arial, Helvetica, sans-serif;

    margin-bottom: 0.1em;
    padding:0.2em 0.6em;
    
    border:1px solid rgba(0, 0, 0, 0.25);
    background-color:#263248;
    color:#FFFFFF;
    
    cursor:pointer;
    overflow:visible;
    position:relative;
    text-decoration:none;
    
    border-radius:7px;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(255,255,255,0)), to(rgba(255,255,255,0.25)));
    background-image: -moz-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,0.25)); 
    
    text-shadow:0 -1px 1px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: rgba(255, 255, 255, 0.75) 0px 1px 1px;
    -moz-box-shadow: rgba(255, 255, 255, 0.75) 0px 1px 1px;

    font-size: 0.9em;
    height: 1.6em;
    line-height: 1.45em;
    
    font-weight:bold;
    text-decoration:none;
}

input[type=submit]:hover, a.wims_bouton:hover, .wims_button:hover , .wims_button_help:hover {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0,0,0,0.25)), to(rgba(0,0,0,0)));
    background-image: -moz-linear-gradient(bottom, rgba(0,0,0,0.25), rgba(0,0,0,0)); 
}

input[type=submit]{
  /*correction d'un  bug line-height firefox et opera */
  padding-bottom: 1.7em;
}
