/** Nikaia widget_boxes style */

.wims_widget_box {
  margin: 5px;
}

.medium_size {
  position: relative;
}

.title_box, .oeftitle, .wims_docu_title, .wimstable caption, .wimsbody #wims_title .wims_title {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.25)), color-stop(49%, rgba(255, 255, 255, 0.1)), color-stop(50%, rgba(0, 0, 0, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.25)));
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.1) 49%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.25) 100%);
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.1) 49%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.25) 100%);
    background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.1) 49%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.25) 100%);
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.1) 49%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.25) 100%);
    background-image: linear-gradient(top, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.1) 49%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.25) 100%);
    -webkit-border-radius: 5px 5px 0 0 ;
  -moz-border-radius: 5px 5px 0 0 ;
  border-radius: 5px 5px 0 0 ;
  border-color: #EEE;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 0;
  margin: 0;
  padding: 2px 0 7px .5em;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, .5);
}

.title_box, .wims_docu_title, .wimsbody #wims_title .wims_title{
  margin:0 -5px 1em -5px;
}

.wims_widget_box .title_box{
  margin:0;
}

.search_box .title_box h2 {
  float: left;
}

.title_box h2 {
  font-size: 1.2em;
  margin:5px 0;
}

.title_box h1 {
  font-size: 1.6em;
  margin:6px 0;
}

/*.title_box h2 a {
  text-align: center;
}*/

.title_box .aide_recherche {
  width: inherit;
  text-align: center;
  padding: 0;
  float: right;
  margin: 2px 2px 0 0;
  -webkit-border-radius: 3px ;
  -moz-border-radius: 3px ;
  border-radius: 3px ;
}

.title_box .aide_recherche a.wims_button_help {
  /*background-color: #ffffff;
  color: #000000;
  text-shadow: 0 1px 1px #ffffff;*/
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.1)));
  background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.1)) ;
  background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.1)) ;
  background-image: -ms-linear-gradient(top, transparent, rgba(0, 0, 0, 0.1)) ;
  background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.1)) ;
  background-image: linear-gradient(top, transparent, rgba(0, 0, 0, 0.1)) ;
  border-color: transparent rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.5);
  font-weight: bold;
  padding: 0 0.5em !important;
  width: inherit;
  text-align: center;
  float: right;
  margin: 2px 2px 0 0;
  -webkit-border-radius: 3px ;
  -moz-border-radius: 3px ;
  border-radius: 3px ;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset, 0 1px 2px rgba(0, 0, 0, 0.25)  !important;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset, 0 1px 2px rgba(0, 0, 0, 0.25)  !important;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset, 0 1px 2px rgba(0, 0, 0, 0.25)  !important;
}

.title_box .aide_recherche a.wims_button_help:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(transparent));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), transparent) ;
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1), transparent) ;
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1), transparent) ;
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.1), transparent) ;
  background-image: linear-gradient(top, rgba(0, 0, 0, 0.1), transparent) ;
  border-color: #EEE;
  border-color: rgba(0, 0, 0, 0.25);
}

.wims_widget_box .box_content {
  background-color: #ffffff;
  margin: 0;
  padding: 1em 5px;
  clear: both;
  text-align: center;
  border-color: #BBB;
  border-color: rgba(0, 0, 0, 0.2);
  border-width: 1px;
  border-style: solid;
  -webkit-border-radius: 0 0 5px 5px ;
  -moz-border-radius: 0 0 5px 5px ;
  border-radius: 0 0 5px 5px ;
  min-height: 60px;
}

/*#wimsbodybox #wimspagebox li.inline {
  list-style-type: none;
  display: inline-block;
  margin-left: 5px;
  /*Display inline for IE :
  zoom:1;
  *display:inline;
}*/

.wims_widget_box .box_content input[type="text"],
.wims_widget_box .box_content select {
  padding: 2px;
}


/* Small screens */
@media only screen and (max-width: 40em) {
  .medium_size {
    margin: 5px 0;
  }
} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

/* Medium screens */
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .medium_size {
    /*width:100%;*/
    max-width: 40em;
    margin: 5px auto;
  }
} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

/* Large screens */
@media only screen and (min-width: 64.063em) {
  .medium_size {
    float: left;
    width: 498px;
    margin: 2px;
  }
} /* min-width 1025px, large screens */


