/** Nikaia widget_boxes style */

.wims_widget_box {
  margin: 5px;
}

.medium_size {
  position: relative;
}

.title_box, .oeftitle, .wims_docu_title, .wimstable caption, .wimsbody #wims_title .wims_title {
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.1) 49%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.25) 100%);
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.1) 49%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.25) 100%);
  background-image: linear-gradient(rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.1) 49%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.25) 100%);
  border-radius: 5px 5px 0 0 ;
  border-color: #EEE;
  border-color: rgba(0, 0, 0, .1);
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 0;
  margin: 0;
  padding: 2px 0 7px .5em;
}

.title_box .wims_title, .oeftitle, #oef_intro_params .legend, .wims_docu_title, .wimstable caption, .wimsbody #wims_title .wims_title {
  /* Text shadow for light text on dark background */
  text-shadow: -1px -1px 1px rgba(0, 0, 0, .5), 1px 1px 1px rgba(0, 0, 0, .5);
}

.title_box, .wims_docu_title, .wimsbody #wims_title .wims_title{
  margin:0 -5px 1em -5px;
}

.wims_widget_box .title_box{
  margin:0;
}

.search_box .title_box h2 {
  float: left;
}

.title_box h2 {
  font-size: 1.2em;
  margin:5px 0;
}

.title_box h1 {
  font-size: 1.6em;
  margin:6px 0;
}

/*.title_box h2 a {
  text-align: center;
}*/

.title_box .aide_recherche {
  width: inherit;
  text-align: center;
  padding: 0;
  float: right;
  margin: 2px 2px 0 0;
  border-radius: 3px ;
}

.wims_widget_box .box_content {
  background-color: #fff;
  margin: 0;
  padding: 1em 5px;
  clear: both;
  text-align: center;
  border-color: #BBB;
  border-color: rgba(0, 0, 0, .2);
  border-width: 1px;
  border-style: solid;
  border-radius: 0 0 5px 5px ;
  min-height: 60px;
}

/*#wimsbodybox #wimspagebox li.inline {
  list-style-type: none;
  display: inline-block;
  margin-left: 5px;
  /*Display inline for IE :
  zoom:1;
  *display:inline;
}*/

.wims_widget_box .box_content input[type="text"],
.wims_widget_box .box_content select {
  padding: 2px;
}


/* Small screens */
@media only screen and (max-width: 40em) {
  .medium_size {
    margin: 5px 0;
  }
} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

/* Medium screens */
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .medium_size {
    /*width:100%;*/
    max-width: 40em;
    margin: 5px auto;
  }
} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

/* Large screens */
@media only screen and (min-width: 64.063em) {
  .medium_size {
    float: left;
    width:50%;
    max-width: 508px;
    margin: 0;
    padding: 2px;
    box-sizing:border-box;
  }
} /* min-width 1025px, large screens */


