/** Nikaia widget_boxes style */

  #wimsfrontpage #wimspagebox div.wimsbody div.wims_widget_box {
    margin: 5px;
  }

  #wimsfrontpage #wimspagebox div.wimsbody div.wims_widget_box.medium_size {
    float: left;
    position: relative;
    width: 500px;
  }

  #wimsbodybox #wimspagebox div.wimsbody div.wims_widget_box div.title_box {
    background-color: #56626b;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.25)), color-stop(49%, rgba(255, 255, 255, 0.1)), color-stop(50%, rgba(0, 0, 0, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.25)));
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.1) 49%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.25) 100%);
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.1) 49%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.25) 100%);
    background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.1) 49%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.25) 100%);
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.1) 49%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.25) 100%);
    background-image: linear-gradient(top, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.1) 49%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.25) 100%);
    -webkit-border-radius: 5px 5px 0 0 ;
    -moz-border-radius: 5px 5px 0 0 ;
    border-radius: 5px 5px 0 0 ;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom-width: 0;
    margin: 0;
  }

  div.search_box div.title_box h2 {
    /*color: #ffffff;
    padding-left: 5px;*/
    /*font-size: 1em;*/
    line-height: 35px;
    /*text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);*/
    float: left;
    /*margin: 0;*/
  }

  #wimsbodybox #wimspagebox div.wimsbody div.wims_widget_box div.title_box h2 a {
    color: #ffffff;
    text-align: center !important;
  }

  #wimsbodybox #wimspagebox div.wimsbody div.wims_widget_box div.title_box div.aide_recherche {
    width: inherit;
    text-align: center;
    padding: 0;
    margin: 0;
    float: right;
    margin: 2px 2px 0px 0px;
    -webkit-border-radius: 3px ;
    -moz-border-radius: 3px ;
    border-radius: 3px ;
  }

  #wimsbodybox #wimspagebox div.wimsbody div.wims_widget_box div.title_box div.aide_recherche a.wims_button_help {
    /*background-color: #ffffff;
    color: #000000;
    text-shadow: 0 1px 1px #ffffff;*/
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.1)));
    background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.1)) ;
    background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.1)) ;
    background-image: -ms-linear-gradient(top, transparent, rgba(0, 0, 0, 0.1)) ;
    background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.1)) ;
    background-image: linear-gradient(top, transparent, rgba(0, 0, 0, 0.1)) ;
    border-color: transparent rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.5) !important;
    font-weight: bold;
    padding: 0 0.5em !important;
    width: inherit;
    text-align: center;
    padding: 0;
    margin: 0;
    float: right;
    margin: 2px 2px 0px 0px;
    -webkit-border-radius: 3px ;
    -moz-border-radius: 3px ;
    border-radius: 3px ;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset, 0 1px 2px rgba(0, 0, 0, 0.25)  !important;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset, 0 1px 2px rgba(0, 0, 0, 0.25)  !important;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset, 0 1px 2px rgba(0, 0, 0, 0.25)  !important;
  }

  #wimsbodybox #wimspagebox div.wimsbody div.wims_widget_box div.title_box div.aide_recherche a.wims_button_help:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(transparent));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), transparent) ;
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1), transparent) ;
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1), transparent) ;
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.1), transparent) ;
    background-image: linear-gradient(top, rgba(0, 0, 0, 0.1), transparent) ;
    border-color: rgba(0, 0, 0, 0.25) !important;
  }
  #wimsbodybox #wimspagebox div.wimsbody div.wims_widget_box .box_content {
    background-color: #ffffff;
    margin: 0;
    padding: 1.5em 5px;
    clear: both;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 0 0 5px 5px ;
    -moz-border-radius: 0 0 5px 5px ;
    border-radius: 0 0 5px 5px ;
  }
  
  #wimsbodybox #wimspagebox li.inline {
    list-style-type: none;
    display: inline-block;
    margin-left: 5px;
    /*Display inline for IE : */
    zoom:1;
    *display:inline;
  }

  #wimsbodybox #wimspagebox div.wimsbody div.wims_widget_box ul.box_content input[type="text"],
  #wimsbodybox #wimspagebox div.wimsbody div.wims_widget_box ul.box_content select {
    padding: 2px;
  }
