.wims_home_result_list li, .wims_browse_list li, .wims_browse_subject_list li {
	/*background-color:#e5e5e5;*/
	list-style:none;
	padding-top: 3pt;
	padding-right: 0pt;
	padding-bottom: 0pt;
	padding-left: 3pt;
	margin-top: 10pt;
	margin-right: 10%;
}
ul.wims_browse_type_list li {}
ol.wims_browse_type_list li {
	list-style:none;
	padding-top: 3pt;
	padding-right: 0pt;
	padding-bottom: 0pt;
	padding-left: 5pt;
	margin-top: 10pt;
	margin-right: 0%;
	margin-bottom: 5pt;
}
