/* * Boutons CSS3 * */

input[type="submit"], .wims_button, .wims_button_help{
    margin: 0 0 2px 2px;
}

.wims_tab{
    margin: 0 0 0 2px;
}

input[type="submit"], .wims_button, .wims_button_help, .wims_button_feedback, .wims_tab {
   display:inline-block;
   width:auto;
   font-family: 'AllerBold', Arial, Helvetica, sans-serif;
   padding:0.2em 0.6em;
   cursor:pointer;
   overflow:visible;
   position:relative;
   text-decoration:none;
   font-weight:bold;
   text-decoration:none;
   line-height: 2em;
   border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
   border-style:solid;
   border-width:1px;
   background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.25)));
   background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.25)) ;
   background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.25)) ;
   background-image: -ms-linear-gradient(top, transparent, rgba(0, 0, 0, 0.25)) ;
   background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.25)) ;
   background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.25)) ;
}

input[type="submit"], .wims_button, .wims_button_help {
   border-radius:4px;
   -moz-border-radius:4px;
   -webkit-border-radius:4px;
   -webkit-box-shadow: rgba(255, 255, 255, 0.75) 0px 1px 1px;
   -moz-box-shadow: rgba(255, 255, 255, 0.75) 0px 1px 1px;
   font-size: 0.8em;
}

.wims_tab {
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
   -webkit-box-shadow: rgba(255, 255, 255, 0.75) 0px 1px 1px;
   -moz-box-shadow: rgba(255, 255, 255, 0.75) 0px 1px 1px;
   font-size: 0.8em;
}


.wims_button_feedback {
   border-radius:50px;
   -moz-border-radius:50px;
   -webkit-border-radius:50px;
   text-shadow:0 -1px 1px rgba(0, 0, 0, 0.5);
   -webkit-box-shadow: rgba(255, 255, 255, 0.75) 0px 1px 1px;
   -moz-box-shadow: rgba(255, 255, 255, 0.75) 0px 1px 1px;
   font-size: 1em;
   height: 5em;
   background-color: orange;
   color:black;
}

input[type="submit"]:hover, .wims_button:hover, .wims_button_help:hover, .wims_button_feedback:hover, .wims_tab:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(transparent));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), transparent) ;
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1), transparent) ;
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1), transparent) ;
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.1), transparent) ;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), transparent) ;
    border-color: rgba(0, 0, 0, 0.25) !important;
}
/* "pressed button" style */
input[type="submit"]:active,.wims_button:active,.wims_button_help:active,.wims_button_feedback:active, .wims_tab:active {
   top:1px;
   box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.5);
}

input[type="button"] {
   display:inline-block;
   width:auto;
   font-family: 'AllerBold', Arial, Helvetica, sans-serif;
   margin-bottom: 0.1em;
   padding:0.2em 0.6em;
   cursor:pointer;
   overflow:visible;
   position:relative;
   text-decoration:none;
   text-shadow:0 -1px 1px rgba(0, 0, 0, 0.5);
   -webkit-box-shadow: rgba(255, 255, 255, 0.75) 0px 1px 1px;
   -moz-box-shadow: rgba(255, 255, 255, 0.75) 0px 1px 1px;
   font-size: 0.8em;
   /*height: 1.6em;
   line-height: 1.45em;*/
   font-weight:bold;
   text-decoration:none;
}
