/* DOCUMENTATION */

/*#wimsdoc #wimstopbox {
  background-color: #fff;
  background-image: none;
  /*text-align: left;*/
  /*box-shadow: 0 2px 3px rgba(0, 0, 0, .5);
  padding: 0.5em;
}*/
#wimsdoc #wimstopbox {
  padding-top: 0;
}
/*#wimsdoc #wimstopbox .wimsmenu a {
  color: #000;
}*/
.wims_docu_title>a{
  text-shadow:none;
}

/*#wimsdoc .wimsbody {
   padding-left: 5%;
   padding-right: 5%;
   margin-left: 0;
}*/

/*#wimsdoc div#wimsbodybox div#wimsmenubox {
  background-color: #567490;
  color: #ffffff;
}
#wimsdoc div#wimsbodybox div#wimsmenubox a {
  color: #ffffff;
}
#wimsdoc div#wimsbodybox div#wimsmenubox div.wimsmenu {
  padding: 0;
}*/

/*#wimsdoc #wimsbodybox #wimspagebox {
  width: 100%;
}*/
#wimsdoc .navmenu {
  margin-top: 180px;
  padding:0px;
  position: fixed;
  top:50px;
}

#wimsdoc .left.navmenu {
  left: auto;
}

#wimsdoc .right.navmenu {
  margin-left: 0;
  margin-right: 0;
  right: 20px;
}

#wimsdoc .wimsbody{
  margin : 0 3em 0 2em;
}

#wimsdoc #wimsbodybox #wimspagebox .wimsdocleftmenu div.menuitem {
  text-align: center;
}

#wimsdoc #wimsbodybox #wimspagebox .wimsdocrightmenu {
  display: none;
}

/*#wimsdoc #wimsbodybox #wimspagebox div.wimsbody {
  width: 85%;
}*/