/* * Nikaia Theme- css.CSS */
/* * By Sandra Machefer  * */

@import "../_css/createqcm.css"; 

@media all {
/* General */
body {
	margin: 5px;
	padding: 0px 10px 10px 10px;
	font-family: arial, verdana, helvetica, sans-serif;
	font-size: 0.9em;
}


li {margin-bottom: 8px;}

a:hover {text-decoration:none;}
a:hover img{opacity:0.75;}


/*.wimsbody {
	padding : 0 20px;
	margin-left : 170px;
}*/


/** Affichage tres contrasté pour des fins de debogage : **/
.debug{
    background-color: black;
    padding:0.5em;
    color:darkorange;
    font-family: monospace;
}
.debug ul{
    font-size: 105%;
}

span.disabled, span.disabled:hover, span.disabled:active{
	opacity:0.6;
	cursor:default;
	background-image:none;
	top:0;
	box-shadow: none;
}


/* WIMS BOXES */
#wimsbodybox {
	padding: 0;
	margin: 0;
}
#wimspagebox {
	padding: 0;
	margin: 0 0.5em;
	min-height:32em;
}
#wimstailbox {
	margin-top: 5px;
	bottom: 0;
	left: 0;
}

/*#wimstopbox {
	margin-left: 10px;
	margin-right: 10px;
	left:auto;
	right:auto;
	text-align:right;
	border-radius : 20px 20px 0 0;
	-moz-border-radius : 20px 20px 0 0;
	-webkit-border-top-right-radius:20px;
	-webkit-border-top-left-radius:20px;

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.7, rgba(0,0,0,0)),
		color-stop(0.9, rgba(0,0,0,0.2))
	);
	background-image: -moz-linear-gradient(
		center bottom,
		rgba(0,0,0,0) 70%,
		rgba(0,0,0,0.2) 90%
	);

}*/
#wimsmenubox {
	margin-top: 1px;
	margin-left: 10px;
	margin-right: 10px;
	background-color:white;
	color:black;
	border-radius : 0 0 20px 20px;
	-moz-border-radius : 0 0 20px 20px;
	-webkit-border-bottom-left-radius:20px;
	-webkit-border-bottom-right-radius:20px;

	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0.7, rgba(0,0,0,0)),
		color-stop(0.9, rgba(0,0,0,0.2))
	);
	background-image: -moz-linear-gradient(
		center top,
		rgba(0,0,0,0) 70%,
		rgba(0,0,0,0.2) 90%
	);
	/*z-index: 100;*/
	position: relative;
	/*-webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
	box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);*/
}
#wimsmenubox a{
    color:black;
}

/*#wimsfrontpage{
	min-width:650px;
}*/

#wimstopbox .wimsmenu .topmenuitem a {
	text-decoration: none;
}
#wimstopbox .wimsmenu .topmenuitem a:hover {
	text-decoration:underline;
}

.topmenuitem a {
	display: inline-block;
	padding: 5px 5px;
	text-decoration: none;
}
.menuitem a {
	display: inline-block;
	padding: 5px 1em;
	text-decoration: none;
}

.menuitem a:hover {text-decoration:underline;}

div.wimsmenu {
	padding-top: 5px;
	padding-bottom: 5px;
	/*text-align: center;*/
	font-size: 90%;
}
div.wimsmenu .topmenuitem {
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 1px;
	padding-bottom: 1px;
	min-height:2.5em;
}
div.wimsmenu .menuitem {
	/*display: inline-block;
	_display: inline;*/
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 1px;
	padding-bottom: 1px;
	min-height:2.5em;
}
div.menublock .menuitem {
	display: block;
	_display: inline;
	padding-top: 1px;
	padding-bottom: 1px;
}
div.menublock {
	display: inline-block;
	_display: block;
	padding-left: 15px;
	padding-right: 15px;
}
div.tailitem {
	font-size: small;
	padding-top: 1px;
	padding-bottom: 1px;
	left:0px;
}

/* END OF MODUBOX */
/* Logo */

#wimslogoleft {
	float:left;
	padding:10px 22px;
}
#wimslogoleft img{
	max-height: 100px;
}

#wimslogoright {
	position: absolute;
	top:40px;
	right:200px;
	float:right;
	background-color:white;
}
#wimsfrontpage #wimslogoright { top:5px; left:10px;padding:20px;}


/* End of Logo */

/* WIMS BOXES in special context*/
 #wimsexam .wimsbody {
	padding-left: 10%;
	padding-right: 10%;
	margin-left: 0;
}
#wimsdoc .wimsbody {
	padding-left: 5%;
	padding-right: 5%;
	margin-left: 0;
}
#wimslightpopup #wimsbodybox #wimspagebox .wimsbody {
	padding-left : 20px;
	padding-right : 20px;
	margin-left : 0;
}
#wimslightpopup #wimstailbox .wimstail .tailitem {
	padding-right:20px;
	text-align:right;
	color:#555555;
	font-weight:bold;
	font-size:90%;
}

#wimsmhelp .wimsbody {
	padding-left : 10%;
	padding-right : 10%;
	margin-left : 0;
}
#wimspagebox .wimsdocleftmenu {
	margin-top: 180px;
	padding:0px;
	position: fixed;
	/*_position:absolute;*/
	top:50px;
	left: auto;
	text-align:left;
}
#wimspagebox .wimsdocrightmenu {
	margin-top: 180px;
	margin-left: 0;
	margin-right: 0;
	padding:0px;
	position: fixed;
	/*_position:absolute;*/
	top:50px;
	right: 20px;
	text-align:left; 
}
#wimsmenumodubox .wimstail {
	text-align: left;
	font-size:80%;
	padding:10px;
	margin:10px;
	-moz-border-radius : 20px 20px 20px 20px;
}
#wimstailbox .wimstail {
	text-align: center;
	font-size:80%;
}

div.tailsepdoc {display: inline-block;}

#wimsbodybox #wimsmenutab .wimsmenu .menuitem {
	display: inline-block;
	padding: 1px 10px;
	text-decoration: none;
	border: thin black solid;
	-moz-border-radius : 20px 20px 0 0;
}
#wimsbodybox #wimsmenutab .wimsmenu .itemsep {
	display: inline-block;
	padding: 5px 30px;
	text-decoration: none;
}


/* end of WIMS BOXES in special context*/

/* JS editor styles */
#handleBottom{
	background-color: #DFDFDF;
	height: 8px;
	background-image:-moz-linear-gradient(center top , #999999 50%, #E8E8F8 100%);
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0.4,#999999), color-stop(1, #E8E8F8));
	border-bottom: 1px solid #999;
	cursor:ns-resize;
}















.wims_docu_titleb {}
div.wims_solution {}

span.tooltip {color:#A52A2A;}

}
