/*** Nikaia Home.css ***/

.wims_home_list{
    background-color: white;
    margin:0;
    padding:1em;
    overflow: auto;
}
.wims_home_list li {
   /*background-color:#e5e5e5;*/
   list-style:none;
   padding : 3pt 2pt;
   margin-top: 10pt;
   margin-right: 0;
   margin-bottom: 3pt;
}
.wims_home_list li:nth-child(even) {background-color:#e5e5e5;}

/*.wims_home_button {}
.wims_home_menu {}*/

.wims_motd{
  padding-right: 10pt;
  padding-left: 10pt;
  background-color:rgb(232,232,232);
}
