
/*** MENUMODUBOX STYLES **/

  #wimsmenumodubox ul{
    margin-top:0;
    padding-left:1em;
  }
  #wimsmenumodubox .wimsmenu{
    list-style: none;
  }

  #wimsmenumodubox .menuitem>a{
    padding-top:5px;
  }

  #wimsmenumodubox .menu_title{
    margin:0;
  }

  #wimsmenumodubox .itemsep{
    display:block;
    /*margin-top:1.5em;
    padding-top: 0.5em;
    font-weight: bold;*/
    border:none;
    border-top: thin white solid;
    padding-top:0.5em;
    margin-top:1em;
  }

  #wimsmenumodubox h2{
    font-size: 1.1em;
  }
