
/*** WIMS_MENU_BOX STYLES  (footer) **/


#wimsmenubox{

  margin: 0;
  padding: 3px;
  /*background-image: none;*/

  background-color:black;
  color:white;

  /*position: relative;*/

  clear: both;
  text-align: center;
  -webkit-box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.5) ;
  -moz-box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.5) ;
  box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.5) ;
}

#wimsmenubox .menuitem {
  display: inline;
}

#wimsmenubox a{
  color:white;
}
