
/*** MENUMODUBOX STYLES **/

  #wimsmenumodubox .text{
    text-shadow:none;
  }

  #wimsmenumodubox ul{
    margin-top:0;
    padding-left:1em;
  }
  #wimsmenumodubox .wimsmenu{
    list-style: none;
    font-size : 100%;
  }

  #wimsmenumodubox .menuitem>a{
    margin-bottom:5px;
    padding-left:1.5em;
    min-height:1em;
    background-size: contain;
  }

  #wimsmenumodubox .menu_title{
    margin:.5em 0 0 0;
  }

  #wimsmenumodubox .itemsep{
    display:block;
    /*margin-top:1.5em;
    padding-top: 0.5em;
    font-weight: bold;*/
    border:none;
    border-top: thin white solid;
    padding-top:0.5em;
    margin-top:1em;
  }

  #wimsmenumodubox h2{
    font-size: 1.1em;
  }
