
/*** MENUPROF STYLES **/

#menuprof {
  /*margin-top: 15px;*/
  float: left;
  max-width:9em;
}

#menuprof ul {
  background-color: #ffffff;
  -webkit-border-top-right-radius: 5px ;
  -moz-border-radius-topright: 5px ;
  border-top-right-radius: 5px ;
  -webkit-border-bottom-right-radius: 5px ;
  -moz-border-radius-bottomright: 5px ;
  border-bottom-right-radius: 5px ;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding-left: 10px;
}

#menuprof ul li {
  margin-bottom: 0;
  padding-left: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  list-style-type: none;
  background-repeat: no-repeat;
  background-position: left center;
}

#menuprof ul li:last-child {
  border-bottom: none;
}

#menuprof ul li.itemsep {
  font-weight: bold;
  padding: 10px 0;
}

#menuprof ul li.menuitem a {
  color: #000000;
  color: rgba(0, 0, 0, 0.75);
}
