
/*** MENUPROF STYLES **/

#menuprof {float: left;}

#menuprof ul {
  background-color: #ffffff;
  border-top-right-radius: 5px ;
  border-bottom-right-radius: 5px ;
  border: 1px solid rgba(0, 0, 0, .1);
  margin-bottom: 20px;
  padding-left: 10px;
}

#menuprof ul li {
  margin-bottom: 0;
  padding-left: 0;
  margin-bottom:4px;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  list-style-type: none;
  background-repeat: no-repeat;
  background-position: left center;
}

#menuprof ul li:last-child {
  border-bottom: none;
}

#menuprof ul li.itemsep {
  font-weight: bold;
  padding: 10px 0;
  margin:0;
}

#menuprof ul li.menuitem a {
  color: #000;
  color: rgba(0, 0, 0, .75);
}

/* Small screens */
@media only screen and (max-width: 40em) {
  /*remove icons */
  #menuprof ul.wimsmenu li a {
    background-image: none;
    padding: 0;
  }

  #menuprof ul.wimsmenu li.itemsep {
    display:block;
    padding-bottom: 0;
  }

}

/*small and medium screens */
@media only screen and (max-width: 64em) {
  #menuprof {
    margin-top: 0;
    float: none;
    width: 100%;
    margin-bottom: 10px;
  }

  #menuprof ul {
    margin: 0;
  }

  #menuprof ul.wimsmenu {
    padding: 0;
    border-radius: 0;
    padding-left: 1em;
  }

  #menuprof ul.wimsmenu li {
    display: inline-block;
    border: none;
    background-image: none;
  }

  #menuprof.wimsmenu .menuitem{
    padding-right: 0;
  }

  #menuprof ul.wimsmenu li a:after {
    content: " -";
  }
  #menuprof ul.wimsmenu li:last-child a:after {
    content: "";
  }
  
} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

/* Medium screens */
@media only screen and (min-width: 40.063em) and (max-width: 64em) {

  #menuprof ul li.itemsep {
    border-right:2px solid gray;
    padding-right:1em;
    margin-right:1em;
    min-width: 6.5em;
  }

} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

/* Large screens */
@media only screen and (min-width: 64.063em) {
  #menuprof {
    max-width:9em;
  }
} /* min-width 1025px, large screens */
