/*************************************************************************
    AFFICHAGE SUR SMARTPHONES, TABLETTES ET PETITS ECRANS (<1024px width)
*************************************************************************/
@media only screen and (max-device-width: 1024px) {
  body {
    font-size: 105%;
  }
  
  input[name="keyword"], input.wims_home_form {
	/*width: 80%;*/
  }
  
  /********PAGE D'ACCUEIL MOBILES*************/
  body div#wimsfrontpage div#wimstopbox {
    padding-top: 0;
  }
  body div#wimsfrontpage div.wims_frontpage {
    padding: 0;
  }
  div#wimsfrontpage #wimspagebox div.wimsbody div.wims_widget_box.medium_size {
    margin:1em auto;
    width:90%;
    max-width: 600px;
    float:none;
  }

  body div#wimsfrontpage div#wimstopbox div#wims_title {
    /*float: none;*/
    padding-left: 0;
    margin-left: 10px;
    width: 70%;
  }
  body div#wimsfrontpage div#wimstopbox div#wims_title .wims_subtitle{
      margin-bottom:5px;
  }
  body div#wimsfrontpage div#wimstopbox .spacer{
      display:none;
  }
  body #wimstopbox .institution_logo {
    margin-top:2.5em;
  }
  
  
  /*** Styles OEF ****/
  div.oefform{
      margin:0 0.5em;
  }
  /****************/
  
  /** Gros Titres **/
  body #wimsbodybox #wimspagebox .oeftitle,body #wimsbodybox div.title_box {
      padding-left:1em;
      margin:0 -2px;
      border-radius: 0;
      margin-bottom:5px;
  }

  
  div#wimstopbox ul.menuglobal {
    padding:0;
    text-align: center;
  }
  
  body div#wimstopbox ul.menuglobal li.menuitem, body div#wimstopbox ul.menuglobal li.topmenuitem {
    display: block;
    margin: 0;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.5)  ;
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.5)  ;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5)  ;
    padding: 2px 5px 2px 0.5em;
  }
  div#wimsfrontpage div#wimstopbox ul.menuglobal li.menuitem a {
    display: block;
  }
  div#wimsfrontpage div#wimstopbox ul.menuglobal li.menuitem a:hover,
  div#wimsfrontpage div#wimstopbox ul.menuglobal li.menuitem a:active {
    text-decoration: none;
  }
  
  body #wimsbodybox #wimspagebox.zone_prof div.wimsbody {
    float:none;
    width:100%;
  }
  
  body div#wimsbodybox div#wimspagebox {
    padding: 0 2px;
    margin: 0;
  }
  div#wimsfrontpage div#wimsbodybox div#wimspagebox .wimsbody,div#wimsbodybox .wimsfrontpage {
    padding: 0;
    margin: 0;
  }

  div#wimsfrontpage div#wimsbodybox div.footer {
    text-align: left;
    background-color: #ffffff;
  }
  div#wimsfrontpage div#wimsbodybox div.footer ul.wimsmenu {
    padding: 0;
  }
  div#wimsfrontpage div#wimsbodybox div.footer ul.wimsmenu li.menuitem {
    display: block;
    background-image: none;
    padding: 0;
    margin: 0;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.5)  ;
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.5)  ;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5)  ;
  }
  div#wimsfrontpage div#wimsbodybox div.footer ul.wimsmenu li.menuitem a {
    color: #000000;
    background-image: none;
    display: block;
  }
  div#wimsfrontpage div#wimsbodybox div.footer ul.wimsmenu li.menuitem a:hover,
  div#wimsfrontpage div#wimsbodybox div.footer ul.wimsmenu li.menuitem a:active {
    text-decoration: none;
  }
  
  /********DOCUMENTATION MOBILE*******************************/
  
  body div#wimsdoc #wimsbodybox #wimspagebox .wimsdocleftmenu, body div#wimsdoc #wimsbodybox #wimspagebox .wimsdocrightmenu,
  div#wimsdoc div#wimstopbox div.wimsmenu span.menuitem a.doch_printable, 
  div#wimsdoc div#wimstopbox div.wimsmenu span.menuitem a.doch_about {
  	display: none;
  }
  
  body div#wimsdoc #wimsbodybox #wimspagebox .wimsbody {
  	margin: auto;
  }
  
  /********HEADER POUR MOBILES***************************/
  #wimstopbox {
    padding-top: 0;
  }
  #wimstopbox div#wims_title,
  #wimstopbox ul.wimsmenu.langues {
    float: none;
    clear: both;
    text-align: center;
    padding : 0;
    margin : 0;
  }
  #wimstopbox ul.wimsmenu.langues .legende{
      display:none;
  }
  #wimstopbox ul.wimsmenu.langues img{
      height:20px;
      max-height: none;
  }
  #wimstopbox ul.menuglobal li.topmenuitem {
    display: block;
    padding: 0;
    margin: 0;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.5)  ;
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.5)  ;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5)  ;
    padding: 5px 0;
  }
  #wimstopbox ul.menuglobal li.topmenuitem a {
    display: block;
  }
  #wimstopbox ul.menuglobal li.topmenuitem a:hover,
  #wimstopbox ul.menuglobal li.topmenuitem a:active {
    text-decoration: none;
  }
  /********CORPS DE PAGE POUR MOBILES******************/
  #wimsbodybox {
    padding-top: 10px;
  }
  #wimsbodybox div#wimsmenumodubox {
    float: none;
    width: auto;
  }
  #wimsbodybox div#wimsmenumodubox ul li a {
    display: block;
  }
  #wimsbodybox div#wimsmenumodubox ul li a:hover,
  #wimsbodybox div#wimsmenumodubox ul li a:active {
    text-decoration: none;
  }
  #wimsbodybox div#wimsmenubox.footer {
    text-align: left;
    background-color: #ffffff;
  }
  #wimsbodybox div#wimsmenubox.footer ul.wimsmenu {
    padding: 0;
  }
  #wimsbodybox div#wimsmenubox.footer ul.wimsmenu li.menuitem {
    display: block;
    background-image: none;
    padding: 0;
    margin: 0;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.5)  ;
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.5)  ;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5)  ;
  }
  #wimsbodybox div#wimsmenubox.footer ul.wimsmenu li.menuitem a {
    color: #000000;
    background-image: none;
    display: block;
  }
  #wimsbodybox div#wimsmenubox.footer ul.wimsmenu li.menuitem a:hover,
  #wimsbodybox div#wimsmenubox.footer ul.wimsmenu li.menuitem a:active {
    text-decoration: none;
  }
  #wimsbodybox div#wimspagebox {
    float: none;
    width: auto;
  }
  #wimsbodybox div#wimspagebox div.wimsbody {
    width: auto;
    float: none;
    margin: 0;
  }
    
  #wimsbodybox div#wimspagebox div.wimsbody div.titre_recherche {
    border-radius: 0;
    padding-left: 10px;
  }
  
  body #wimsbodybox div.titre_recherche,body  #wimsbodybox div#wims_class{
      margin:0;
  }
  
  #wimsbodybox div#wimspagebox div.wimsbody table.wimstable {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  #wimsbodybox div#wimspagebox div.wimsbody table.wimstable td {
    font-size: 75%;
  }
  #wimsbodybox div#wimspagebox div.wimsbody table.wimstable th {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  #wimsbodybox div#wimspagebox div.wimsbody table.wimstable input {
    margin: 0;
    width: 100%;
  }
  #wimsbodybox div#wimspagebox div.wimsbody {
    padding: 0;
    width: auto;
  }
  #wimsbodybox div#wimspagebox div.wimsbody div.wims_search_engine,
  #wimsbodybox div#wimspagebox div.wimsbody div.wims_search_classe {
    float: none;
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
  }
  #wimsbodybox div#wimspagebox div.wimsbody div.wims_search_engine div.titre_recherche,
  #wimsbodybox div#wimspagebox div.wimsbody div.wims_search_classe div.titre_recherche {
    border-radius: 0;
  }
  #wimsbodybox div#wimspagebox div.wimsbody form {
    text-align: center;
  }
  #wimsbodybox div#wimspagebox div.wimsbody form input {
    margin: 0 0 10px 10px;
  }
  #wimsbodybox div#menuprof {
    margin-top: 0;
    float: none;
    width: 100%;
    margin-bottom: 10px;
  }
  #wimsbodybox div#menuprof ul {
    margin: 0;
  }
  #wimsbodybox div#menuprof ul.wimsmenu {
    padding: 0;
    border-radius: 0;
    padding-left: 10px;
  }
  #wimsbodybox div#menuprof ul.wimsmenu li {
    display: inline-block;
    border: none;
    background-image: none;
  }
  #wimsbodybox div#menuprof ul li.itemsep {
    display:block;
  }
  #wimsbodybox div#menuprof ul.wimsmenu li a {
    background-image: none;
    padding: 0;
  }
  #wimsbodybox div#menuprof ul.wimsmenu li a:after {
    content: " -";
  }
  /**************BAS DE PAGE MOBILES************/
  div#wimstailbox {
    background-color: #56626b;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.25)), color-stop(49%, rgba(255, 255, 255, 0.1)), color-stop(50%, rgba(0, 0, 0, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.25)));
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.1) 49%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.25) 100%);
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.1) 49%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.25) 100%);
    background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.1) 49%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.25) 100%);
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.1) 49%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.25) 100%);
    background-image: linear-gradient(top, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.1) 49%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.25) 100%);
    -webkit-border-radius: 5px 5px 0 0 ;
    -moz-border-radius: 5px 5px 0 0 ;
    border-radius: 5px 5px 0 0 ;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom-width: 0;
    margin: 0;
    color: #ffffff;
    padding: 12px 0;
    padding-left: 5px;
    font-size: 1.2em;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
  }
  div#wimstailbox a {
    color: #ffffff;
  }
}