.wims_clearSearch{
    float:right;
}

.wims_search_engine {
   padding-top: 3pt;
   background-color:#cccccc;
   background: -webkit-gradient( linear, left top, left bottom, from(white), to(#999999) );
   background: -moz-linear-gradient( top center, white,#999999);
   text-align:center;
   margin-left:auto; margin-right:auto;
}

.wims_search_help {float:right;}
.wims_search_title{text-align:left;}
