/* SHEET STYLES */
ol.wims_sheet_list li {
   padding-top: 3pt;
   padding-right: 0pt;
   padding-bottom: 0pt;
   padding-left: 5pt;
   margin-top: 2pt;
   margin-right: 10%;
   margin-bottom: 2pt;
   border-left: 1px solid red;
   border-bottom: 1px solid gray;
}
ul.wims_sheet_list li {
   list-style:none;
   padding-top: 3pt;
   padding-right: 0pt;
   padding-bottom: 0pt;
   padding-left: 5pt;
   margin-top: 2pt;
   margin-right: 10%;
   margin-bottom: 5pt;
   border-left: 1px solid gray;
   border-bottom: 1px solid gray;
}

.wims_sheet_title {text-align:center;}

div.wims_sheet {
   background-color:white;
   padding-left: 3%;
   padding-right: 3%;
   margin-left: 3%;
   margin-right: 3%;
   border: 1px solid blue;
}

/* couleur des sequences - a mettre en option */
.wims_sheet_desc {background-color:#CCF;}
