
/******                 AFFICHAGE NORMAL               ***************************************
**********************************************************************************************/
@media all {

  /* GENERAL */

  /*body iframe {
    border: none;
    width: 100%;
  }*/
  /* Enleve les bordures sur IE */
  /*a img{
    border:none;
  }
  body li {
    margin-bottom: 0;
  }

  .small{
      font-size: 9pt;
  }

  .formHelp{
      font-size: 9pt;
      color:#999;
  }

  .float_right{
      float:right;
  }
  .float_left{
      float:left;
  }*/
  /* ceci ne fonctionne que pour un bloc dont la largeur est fixée.*/
  /*.bloc_center{
      margin: 0 auto;
  }*/

  /*.clearall { clear: both; }*/





  /* PAGE D'ACCUEIL */

  /*body div#wimsfrontpage {
    min-width: 0;
  }*/
  /*body div#wimsfrontpage #wimspagebox {
    float: none;
    margin-right: 0;
    width: 99%;
    position: relative;
    padding-top: 2px;
  }*/
  /*body div#wimsfrontpage #wimspagebox {
     max-width: 1042px;
  }
  body div#wimsfrontpage #wimspagebox .wimsbody {
    /*float: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background: none;
  }*/


  /* PAGE NORMALE */


  /*body ul.wimsmenu li {
    padding: 0;
  }
  body ul.wimsmenu li.menuitem {
    min-height: inherit;
  }
  body ul.wimsmenu li.menuitem a {
    color: #ffffff;
  }
  body ul.wimsmenu li.topmenuitem {
    min-height: inherit;
  }*/


  /*body .wims_home_form {
    padding: 0;
  }*/


#wimstailbox .institution_logo{
      margin-top:1em;
}





  /***************************/



  /* Permalink Styles */
  div#export_media {
    text-align: left;
    float: none;
    background-color: rgba(127,127,127,0.2);
    padding:0.5em;
  }
  div#export_media h2{
    margin-top:0;
    background-repeat: no-repeat;
    background-position: 0% 50%;
    padding-left:28px;
  }
  div#export_media a{
    /*min-height: inherit;*/
    line-height: normal;
    padding:0;
    font-weight: bold;
    text-shadow: 1px 1px 1px #666;
  }



  /* CORPS */



  /*#wimsbodybox #wimspagebox div.wimsbody {
    /*float: left;
    width: 80%;
    background: #fff;
    /*margin: 15px 3%;*/
    /*margin: 15px;*/
    /*padding: 0 10px;
    padding-bottom: 10px;
    -webkit-border-radius: 5px ;
    -moz-border-radius: 5px ;
    border-radius: 5px ;
  }*/

  /*#wimsbodybox #wimspagebox div.wimsbody form {
    line-height: 2em;
  }*/
  #wimsbodybox #wimspagebox div.wimsbody input[value="Au travail"] {
    margin-left: 60px;
  }
  #wimsbodybox #wimspagebox div.wimsbody #wimslogoleft {
    float: right;
  }
  #wimsbodybox #wimspagebox div.wimsbody #wimslogoleft img {
    max-height: 40px;
  }
  #wimsbodybox #wimspagebox div.wimsbody a.wims_button_help {
    /*background-color: #ffffff;
    color: #000000;
    text-shadow: 0 1px 1px #ffffff;*/
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.1)));
    background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.1)) ;
    background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.1)) ;
    background-image: -ms-linear-gradient(top, transparent, rgba(0, 0, 0, 0.1)) ;
    background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.1)) ;
    background-image: linear-gradient(top, transparent, rgba(0, 0, 0, 0.1)) ;
    border-color: transparent rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.5) !important;
    font-weight: bold;
    padding: 0 0.5em !important;
    text-align: center;
    margin: 0;
    margin: 2px 2px 0px 0px;
    -webkit-border-radius: 3px ;
    -moz-border-radius: 3px ;
    border-radius: 3px ;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset, 0 1px 2px rgba(0, 0, 0, 0.25)  !important;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset, 0 1px 2px rgba(0, 0, 0, 0.25)  !important;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset, 0 1px 2px rgba(0, 0, 0, 0.25)  !important;
  }
  #wimsbodybox #wimspagebox div.wimsbody a.wims_button_help:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(transparent));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), transparent) ;
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1), transparent) ;
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1), transparent) ;
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.1), transparent) ;
    background-image: linear-gradient(top, rgba(0, 0, 0, 0.1), transparent) ;
    border-color: rgba(0, 0, 0, 0.25) !important;
  }
  /*#wimsbodybox h1.oeftitle,
  #wimsbodybox h1.wims_docu_title {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.25)), color-stop(49%, rgba(255, 255, 255, 0.1)), color-stop(50%, rgba(0, 0, 0, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.25)));
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.1) 49%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.25) 100%);
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.1) 49%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.25) 100%);
    background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.1) 49%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.25) 100%);
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.1) 49%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.25) 100%);
    background-image: linear-gradient(top, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.1) 49%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.25) 100%);
    -webkit-border-radius: 5px 5px 0 0 ;
    -moz-border-radius: 5px 5px 0 0 ;
    border-radius: 5px 5px 0 0 ;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom-width: 0;
    margin: 0 -10px;
    margin-bottom: 10px;
    padding: 12px 5px 12px 0.5em;
    text-align: left;
    font-size: 1.2em;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
  }
  #wimsbodybox #wimspagebox div.wimsbody h1.oeftitle a,
  #wimsbodybox #wimspagebox div.wimsbody h1.wims_docu_title a {
    color: #ffffff;
  }*/

  #titre_aide, #name_list_instruction, #enev_menu li,
  table.wimstable caption {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.25)), color-stop(49%, rgba(255, 255, 255, 0.1)), color-stop(50%, rgba(0, 0, 0, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.25)));
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.1) 49%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.25) 100%);
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.1) 49%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.25) 100%);
    background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.1) 49%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.25) 100%);
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.1) 49%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.25) 100%);
    background-image: linear-gradient(top, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.1) 49%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.25) 100%);

    color:white;
  }
  #titre_aide a, #name_list_instruction a, table.wimstable caption a:link{
    color:white;
  }

  #wimsbodybox #wimspagebox div.wimsbody div.wims_classes_direct {
    background-color: transparent;
    font-weight: normal;
    font-size: 1.2em;
  }
  #wimsbodybox #wimspagebox div.wimsbody div.wims_classes_direct span.wims_classes_direct_portal {
    background-color: transparent;
    border: none;
  }
  /*#wimsbodybox #wimspagebox div.wimsbody div#wims_class .wims_classname {
    float: left;
    text-align: left;
    text-shadow: none;
    color: #ffffff;
  }
  #wimsbodybox #wimspagebox div.wimsbody div#wims_class .wims_classname .wims_classdesc,
  #wimsbodybox #wimspagebox div.wimsbody div#wims_class .wims_classname .wims_institutiondesc {
    color: #ffffff;
    margin-top: 10px !important;
    margin-right: 10px;
  }
  #wimsbodybox #wimspagebox div.wimsbody div#wims_class span.wims_class_typename {
    font-size: 1em;
    padding-left: 5px;
  }*/




  /*#wimsbodybox #wimspagebox div.wimsbody div#wims_class div#wims_modu_title2 div.wims_title_close {
    clear: both;
    height: 0;
  }
  #wimsbodybox #wimspagebox div.wimsbody #wims_modu_title3 {
    background-color: #ffffff;
  }
  #wimsbodybox #wimspagebox div.wimsbody h2.wims_subtitle {
    text-align: left;
  }*/

  /*#wimsbodybox #wimspagebox div.wimsbody ul.wims_home_result_list {
    background-color: #ffffff;
    -webkit-border-radius: 5px ;
    -moz-border-radius: 5px ;
    border-radius: 5px ;
    padding: 10px 20px;
    text-align: justify;
  }*/


  #wimsbodybox #wimspagebox div.wimsbody table.wimstable {
    margin-top: 35px;
    width: 100%;
  }
  #wimsbodybox #wimspagebox div.wimsbody table.wimstable th {
    text-align: left;
    padding: 6px;
  }
  #wimsbodybox #wimspagebox div.wimsbody table.wimstable caption {
    font-size: 16px;
    padding: 10px;
    text-align: left;
    -webkit-border-radius: 5px 5px 0 0 ;
    -moz-border-radius: 5px 5px 0 0 ;
    border-radius: 5px 5px 0 0 ;
  }
  #wimsbodybox #wimspagebox div.wimsbody table.wimstable td {
    text-align: left;
  }
  #wimsbodybox #wimspagebox div.wimsbody table.wimstable td.wims_fname {
    color: #000000;
  }
  #wimsbodybox #wimspagebox div.wimsbody table.wimstable .even td {
    background-color: #f5f5f5;
  }
  /*#wimsbodybox #wimspagebox div.wimsbody table.wimstable .wims_button {
    background: #808080;
  }*/
  #wimsbodybox #wimspagebox div.wimsbody div.contenu form {
    padding-bottom: 20px;
  }
  #wimsbodybox #wimspagebox div.wimsbody div.contenu span.disabled {
    padding: 1px !important;
  }
  #wimsbodybox #wimspagebox {
    margin: auto;
    padding:1em 2em;
    /*max-width: 1020px;*/
    /*margin-top: 0.5em;*/
  }
  #wimsbodybox #wimspagebox div.wimsbody select {
    padding: 2px;
  }




 /* PIED DE PAGE */

  div#wimstailbox {
    margin-top: 0;
    clear: both;
    padding-top: 20px;
    color:white;
  }
  div#wimstailbox .tailitem{
      opacity:0.70;
  }
  div#wimstailbox a {
    color: white;
  }

}
/*fin du media all*/


/***          CSS Communes                  **/

/************POP UP AIDE WIMS*****************/
body div#wimsmhelp div#wimsbodybox div#wimspagebox {
  width: 100%;
}
body div#wimsmhelp div#wimsmenubox.footer {
  margin: 0;
  color: #000;
}
body div#wimsmhelp div#wimsmenubox.footer ul.wimsmenu {
  background-color: #ffffff;
  float: none;
  width: 100%;
  margin: 0;
  color: #000;
  background-image: none;
  -webkit-box-shadow: 0 2px 2px 3px rgba(0, 0, 0, 0.5) ;
  -moz-box-shadow: 0 2px 2px 3px rgba(0, 0, 0, 0.5) ;
  box-shadow: 0 2px 2px 3px rgba(0, 0, 0, 0.5) ;
  padding-left: 10px;
}
body div#wimsmhelp div#wimsmenubox.footer ul.wimsmenu li {
  list-style-type: none;
  display: block;
  color: #000;
  margin: 0;
  border-color:#EEE;
  border-color: rgba(0, 0, 0, 0.1);
  border-style: solid;
  border-width: 1px;
}
body div#wimsmhelp div#wimsmenubox.footer ul.wimsmenu li a {
  color: #000;
}
