
.wimsbody {
	padding-left  : 2%;
	padding-right : 2%;
}
.wims_docu_title{ text-align:center;}
.wims_sheet_title {text-align:center;}
h1 {text-align:center;}
h2 {text-align:center;}
h3 {text-align:center;}
.wims_title {text-align:center;}
.wimstail { }
.wimsmenu { }

h1.oeftitle { text-align:center; }
.oefstatement { }
.oefreply { }    
.oefanswer { }
.oefform {}
.oefnameexo {display:inline;}

a:link { text-decoration: none;}

a:hover {text-decoration: underline;}

li {
    margin-bottom: 8px;
}

table.wims_search_engine {
 padding-top: 3pt;
 background-color:#e5e5e5;
}
table.wims_search_engine td {
text-align:center:
}
table.wimstable { }
div.wims_forum_msg { }
div.wims_forum_intro { }
ul.wims_forum_list li { }
ul.wims_forum_list  li li { }
ol.wims_sheet_list  li { }
ul.wims_sheet_list  li { }
.wims_sheet_title { }
.wims_button_help{font-size:80%;}
div.wims_sheet { }
	
.wims_home_list  li { }
.wims_home_form {}
table.wims_search_engine {
 padding-top: 3pt;
 background-color:#cccccc;
}
table.wims_search_engine td {
text-align:center:
}

.wims_home_button {}
.wims_home_menu {}

.wims_browse_list  li { }
.wims_browse_subject_list  li { }
ul.wims_browse_type_list  li { }

ol.wims_browse_type_list li { }
ul.wims_home_result_list  li { }
#wims_modu_title1 .wims_title_close {
  padding-left:30%;
  margin-left:30%;
  padding-bottom:5px; 
}

.wims_title {font-weight:bold;
font-size:110%;
padding:10px;
}
.wims_docu_title {
  text-align:center;
}
.wims_sheet_title {
  text-align:center;
}
.wims_title {
  text-align:center;
  padding:10px;
  margin:0 0 .25em;
}

#wims_title h1.wims_title {
  text-align:center;
  padding:10px;
  margin:0 0 .25em;
  font-family:Georgia,Times New Roman,Times,serif;
  font-weight:normal;
}
s
h2.wims_subtitle {
  text-align:center;
  display: block;
  text-align:center;
  font-weight:normal;
}
#wims_modu_title1 .wims_title_close {
  text-align:center;
  padding-left:30%;
  margin-left:30%;
  padding-bottom:5px;
}

#wims_modu_title2 .wims_subtitle {
  font-size:small;
  text-align:center;
}
#wims_modu_title1 .wims_title_close {
  padding-left:10px;
  margin-left:10px;
  padding-bottom:5px;
  text-align:center;
}

#wims_modu_title3 .wims_subtitle {
  display: block;
  text-align:center;
  font-weight:bold;
  text-align:center;
}
#wims_modu_title3 .wims_title_close {
  padding:10px;
  text-align:center;
}

.wims_subtitle {
	text-align:center;
    display: block;
	text-align:center;
	font-weight:bold;
}


#wims_modu_title2 .wims_subtitle{
display: block;
text-align:center;
font-size:small;
}
#wims_modu_title1 .wims_title_close {
  padding-left:30%;
  margin-left:30%;
  padding-bottom:5px;
  
}
.wims_classname {text-align:center; color:green; font-weight:bold;}
#wims_modu_title3 .wims_subtitle{
display: block;
text-align:center;
font-weight:bold;
}

#wims_modu_title3 .wims_title_close {
padding:10px;
}
.wims_sheet_desc { }
.wims_class_motd { }
.wims_class_pmotd { }
.wims_classes_direct { }
.wims_classes_direct_type { }
.wims_classes_direct_portal { }
.wims_classes_direct_group { }
.wims_classes_direct_program { }
.wims_classes_direct_course { }
.wims_classes_direct_class { }
.wims_classes_direct_level { }
.wims_classes_direct_name { }
.wims_subclasses  li { }

.wims_class_motd { }
.wims_user_table { }

.wims_user_sheet_table { }
.wims_user_sheet_desc { }
.wims_user_doc_table { }

.wims_user_exam_table { }
.wims_user_vote_table { }

td.wims_user_sheet_expire { }
td.wims_user_sheet_score { }
td.wims_user_sheet_type { }
tr.wims_user_sheet { }
tr.wims_user_doc { }
td.wims_user_doc_type {}
tr.wims_user_exam { }
td.wims_user_exam_expire {}
td.wims_user_exam_type {}
tr.wims_user_vote { }
td.wims_user_vote_type {}
table.wims_user_table { }
.wims_motd { }

.wims_user_myscore { }
	
table.wims_exam { }
table.wims_exam td { }
.empty { }

.wims_docu_titleb{ }
div.wims_solution{}

.wims_search_engine {float;left;
  margin-left: auto; margin-right: auto;max-width:600px;}

@media print
{
.body {
font-family:serif;
 background:white;
 font-size: 12pt;
 font-family:"Times New Roman",serif;
 margin-left: auto;
 margin-right:auto;
}
.wimsbody{
 font-family:serif;
 background:white;
 font-size:12pt;
 font-family:"Times New Roman",serif;
 margin-left: auto;
 margin-right:auto;
 }
.wimsmenu {display: none;} 
div.wims_noprint{display: none;}
}



